<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Fpccrawler
 */
?>
<?php if ($this->getCodes()) { ?>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Codes');
            data.addRows([
                <?php
                    foreach($this->getCodes() as $item) {
                        echo "[ '".$item['status']."', ". $item['count']."], \r\n";
                    }
                ?>
            ]);

            // Set chart options
            var options = {
                'title': 'Pages status codes',
                'width': 1000,
                'height': 563,
                pieHole: 0.5,
                pieStartAngle: 40
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('amfpccrawler_chart_codes'));
            chart.draw(data, options);
        }
    </script>

    <div id="amfpccrawler_chart_codes"></div>
<?php } else { ?>
    <div id="amfpccrawler_chart_codes">There are no stats available for now.</div>
<?php } ?>