<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

	$_product = $this->getProductInfo();
	if (!$_product)
	{
		return '';
	}
	$meigeeOptions = $this->getLayout();
	$labelsOrder = $meigeeOptions->getMConfigResultByAlias('product_label_order');
?>
<?php if($_product->isProductNew() || $_product->getProductOnlyXleft() || $_product->isProductSale()){ ?>
	<div class="product-labels-wrapper clearfix">
		<?php if($labelsOrder == 1) { ?>
			<?php if($_product->isProductNew()){ ?>
				<div class="label-new"><?php echo $this->__('New'); ?></div>
			<?php }
			if ($_product->getProductOnlyXleft()){ ?>
				<div class="availability-only">&lt; <?php echo $_product->getProductOnlyXleft().'<p>'.$this->__('Left').'</p>'?></div>
			<?php } elseif($_product->isProductSale()){
				if($_product ->getProductLabelSalePercentage()) { ?>
					<div class="label-sale percentage"><span><?php echo $this->__('-').$_product ->getProductLabelSalePercentage(). '%'; ?></span></div>
				<?php } else { ?>
					<div class="label-sale"><?php echo $this->__('Sale'); ?></div>
				<?php } ?>
			<?php } ?>
		<?php } else { ?>
			<?php if ($_product->getProductOnlyXleft()){ ?>
				<div class="availability-only">&lt; <?php echo $_product->getProductOnlyXleft().'<p>'.$this->__('Left').'</p>'?></div>
			<?php } elseif($_product->isProductSale()){
				if($_product ->getProductLabelSalePercentage()) { ?>
					<div class="label-sale percentage"><span><?php echo $this->__('-').$_product ->getProductLabelSalePercentage(). '%'; ?></span></div>
				<?php } else { ?>
					<div class="label-sale"><?php echo $this->__('Sale'); ?></div>
				<?php } ?>
			<?php }
			if($_product->isProductNew()){ ?>
				<div class="label-new"><?php echo $this->__('New'); ?></div>
			<?php } ?>
		<?php } ?>
	</div>
<?php } ?>
