<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left"><?php echo $this->__('Contact Information') ?></h3>
					<a class="pull-right" href="<?php echo $this->getUrl('customer/account/edit') ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
			</div>
			<div class="panel-body">
				<p>
					<?php echo $this->htmlEscape($this->getCustomer()->getName()) ?><br />
					<?php echo $this->htmlEscape($this->getCustomer()->getEmail()) ?><br />
				</p>
				<p class="edit">
					<a href="<?php echo $this->getChangePasswordUrl() ?>"><?php echo $this->__('Change Password') ?></a>
				</p>
			</div>
		</div>
	</div>
	<?php if( $this->isNewsletterEnabled() ): ?>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left"><?php echo $this->__('Newsletters') ?></h3>
				<a class="pull-right" href="<?php echo $this->getUrl('newsletter/manage') ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
			</div>
			<div class="panel-body">
				<p>
					<?php if( $this->getIsSubscribed() ): ?>
						<?php echo $this->__("You are currently subscribed to 'General Subscription'.") ?>
					<?php else: ?>
						<?php echo $this->__('You are currently not subscribed to any newsletter.') ?>
					<?php endif; ?>
				</p>
			</div>
		</div>
		<?php /* Extensions placeholder */ ?>
		<?php echo $this->getChildHtml('customer.account.dashboard.info.extra')?>
	</div>
	<?php endif; ?>
</div>
