<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php /** @var $this Mage_Sales_Block_Order_Info */ ?>
<?php $_order = $this->getOrder() ?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="page-title title-buttons clearfix">
    <h2><?php echo $this->__('Order #%s - %s', $_order->getRealOrderId(), $_order->getStatusLabel()) ?></h2>
    <?php echo $this->getChildHtml('buttons') ?>
</div>
<?php echo $this->getStatusHistoryRssUrl($_order) ?>
<div class="order-info clearfix">
	<dl class="pull-left">
		<dt><?php echo $this->__('About This Order:') ?></dt>
		<dd>
			<?php $_links = $this->getLinks(); ?>
			<ul id="order-info-tabs">
			<?php foreach ($_links as $_link): ?>
			<?php if($_link->getUrl()): ?>
				<li><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
			<?php else: ?>
				<li class="current"><?php echo $_link->getLabel() ?></li>
			<?php endif; ?>
			<?php endforeach; ?>
			</ul>
			<script type="text/javascript">decorateGeneric($('order-info-tabs').select('LI'),['first','last']);</script>
		</dd>
	</dl>
	<p class="order-date"><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
</div>
<?php if (!$_order->getIsVirtual()): ?>
<div class="row order-info-box">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><?php echo $this->__('Shipping Address') ?></h2>
			</div>
			<div class="panel-body">
				<address><?php echo $_order->getShippingAddress()->format('html') ?></address>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><?php echo $this->__('Shipping Method') ?></h2>
			</div>
			<div class="panel-body">
				<?php if ($_order->getShippingDescription()): ?>
					<?php echo $this->escapeHtml($_order->getShippingDescription()) ?>
				<?php else: ?>
					<p><?php echo $this->helper('sales')->__('No shipping information available'); ?></p>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>
<div class="row order-info-box">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><?php echo $this->__('Billing Address') ?></h2>
			</div>
			<div class="panel-body">
				<address><?php echo $_order->getBillingAddress()->format('html') ?></address>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default box-payment">
			<div class="panel-heading">
				<h2 class="panel-title"><?php echo $this->__('Payment Method') ?></h2>
			</div>
			<div class="panel-body">
				<?php echo $this->getPaymentInfoHtml() ?>
			</div>
		</div>
	</div>
</div>
