<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<div class="box-account box-recent">
<?php $_orders = $this->getOrders(); ?>
	<div class="page-subtitle clearfix">
		<h2><?php echo $this->__('Recent Orders') ?></h2>
		<?php if( sizeof($_orders->getItems()) > 0 ): ?><a class="pull-right" href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?></a><?php endif; ?>
	</div>
<?php if( sizeof($_orders->getItems()) > 0 ): ?>
	<div class="table-responsive">
		<table class="table table-bordered table-hover" id="my-orders-table">
			<thead>
				<tr>
					<th><?php echo $this->__('Order #') ?></th>
					<th><?php echo $this->__('Date') ?></th>
					<th><?php echo $this->__('Ship To') ?></th>
					<th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
					<th><?php echo $this->__('Status') ?></th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<?php foreach ($_orders as $_order): ?>
				<tr>
					<td><?php echo $_order->getRealOrderId() ?></td>
					<td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
					<td><?php echo $_order->getShippingAddress() ? $this->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
					<td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
					<td><em><?php echo $_order->getStatusLabel() ?></em></td>
					<td class="a-center">
						<span class="nobr">
						<a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
						<?php if ($this->helper('sales/reorder')->canReorder($_order) && $catalogMode == 0) : ?>
						<span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
						<?php endif ?>
						</span>
					</td>
				</tr>
			<?php endforeach; ?>
			</tbody>
		</table>
		<script type="text/javascript">decorateTable('my-orders-table')</script>
	</div>
<?php else: ?>
	<p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif; ?>
</div>
