<?php
    if(sizeof($this->getAllActiveRules())):?>
    <?php
        $listDescription = array();		
        foreach($this->getAllActiveRules() as $rule):
            if($rule->getData('promotion_message') != ""){
                $listDescription[] = $rule->getData('promotion_message');
            }  
            endforeach;
        $arrShowin = array(1, 3);
        $showin = Mage::getStoreConfig('freegift/config/showfreegiftpromotion');

        if(in_array($showin, $arrShowin)){
            if(count($listDescription)>0){
            ?>
            <div class="freegift_rules_onepage_container">
                <ul id="freegift_rules" >
                    <?php foreach($listDescription as $description):?>
                        <li><?php echo $description;?></li>
                        <?php endforeach;?>
                </ul>
            </div>

            <?php
            }
        }
        endif;
?>