<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Edit customer address template
 *
 * @see Mage_Customer_Block_Address_Edit
 */
?>
<?php if($this->getTitle()): ?>
<div class="page-title">
    <h1><?php echo $this->getTitle() ?></h1>
</div>
<?php endif; ?>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<form action="<?php echo $this->getSaveUrl() ?>" method="post" id="form-validate" class="form-horizontal">
    <?php echo $this->getBlockHtml('formkey')?>
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
    <div class="content">
        <h2><?php echo $this->__('Contact Information') ?></h2>
    </div>
        <ul class="form-list clearfix">
            <li class="fields form-group">
                <?php echo $this->getNameBlockHtml() ?>
            </li>
            <li class="wide form-group">
                <div class="col-sm-12 col-md-12">
                    <label for="company"><?php echo $this->__('Company') ?></label>
                    <input type="text" name="company" id="company" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Company')) ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                </div>
            </li>
            <li class="form-group">
                <div class="col-sm-6 col-md-6">
                    <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                    <input type="text" name="telephone" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Telephone')) ?>" class="form-control  <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="telephone" />
                </div>
                <div class="col-sm-6 col-md-6">
                    <label for="fax"><?php echo $this->__('Fax') ?></label>
                    <input type="text" name="fax" id="fax" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Fax')) ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" />
                </div>
            </li>
        </ul>
        <div class="content">
            <h2><?php echo $this->__('Address') ?></h2>
        </div>
        <ul class="form-list clearfix">
            <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
            <div class="form-group">
            <li class="wide col-sm-12 col-md-12">
                <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address')) ?>" id="street_1" class="form-control <?php echo $_streetValidationClass ?>" />
            </li>
            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
            <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
            <li class="wide col-sm-12 col-md-12">
                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address %s', $_i)) ?>" id="street_<?php echo $_i ?>" class="form-control <?php echo $_streetValidationClass ?>" />
            </li>
            <?php endfor; ?>
            </div>
            <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
            <li class="wide form-group">
                <div class="col-sm-12 col-md-12">
                    <label for="vat_id"><?php echo $this->__('VAT Number') ?></label>
                    <input type="text" name="vat_id" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('VAT Number')) ?>" id="vat_id" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                </div>
            </li>
            <?php endif; ?>
            <li class="form-group">
                <div class="col-sm-6 col-md-6">
                    <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                    <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select form-control" style="display:none;">
                     <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                    </select>
                    <script type="text/javascript">
                    //<![CDATA[
                        $('region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                    //]]>
                    </script>
                    <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" />
                </div>
                <div class="col-sm-6 col-md-6">
                    <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                    <select id="city_id" name="city_id" title="<?php echo $this->__('City') ?>" class="validate-select form-control" style="display:none;">
                        <option value=""><?php echo $this->__('Please select City') ?></option>
                    </select>
                    <script type="text/javascript">
                        //<![CDATA[
                        $('city_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getCityId() ?>");
                        //]]>
                    </script>
                    <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('City')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
                    </div>
                </div>								              
            </li>
            <li class="form-group">
                <div class="col-sm-6 col-md-6">
                    <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                    <input type="text" name="postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zip/Postal Code')) ?>" id="zip" class="form-control validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                </div>
                <div class="col-sm-6 col-md-6">
                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                    <?php echo str_replace('class="', 'class="form-control ', $this->getCountryHtmlSelect()); ?>
                </div>
            </li>
            <li<?php if($this->canSetAsDefaultBilling()) { echo ' class="control form-group"'; } else { echo ' class="form-group"'; } ?>>
                <?php if($this->isDefaultBilling()): ?>
                <div class="col-lg-12">
                    <strong><?php echo $this->__('Default Billing Address') ?></strong>
                </div>
                <?php elseif($this->canSetAsDefaultBilling()): ?>
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label for="primary_billing">
                            <input type="checkbox" id="primary_billing" name="default_billing" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use as My Default Billing Address')) ?>" class="checkbox" />
                            <?php echo $this->__('Use as my default billing address') ?>
                        </label>
                    </div>
                </div>
                <?php else: ?>
                <input type="hidden" name="default_billing" value="1" />
                <?php endif; ?>
            </li>
            <li<?php if($this->canSetAsDefaultShipping()) { echo ' class="control form-group"'; } else { echo ' class="form-group"'; } ?>>
                <?php if($this->isDefaultShipping()): ?>
                <div class="col-lg-12">
                    <strong><?php echo $this->__('Default Shipping Address') ?></strong>
                </div>
                <?php elseif($this->canSetAsDefaultShipping()): ?>
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label for="primary_shipping">
                            <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use as My Default Shipping Address')) ?>" class="checkbox" />
                            <?php echo $this->__('Use as my default shipping address') ?>
                        </label>
                    </div>
                </div>
                <?php else: ?>
                <input type="hidden" name="default_shipping" value="1" />
                <?php endif; ?>
            </li>
            <li class="form-group">
                <div class="col-xs-12 text-right">
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                </div>
            </li>
        </ul>
        <div class="buttons-set clearfix">
            <p class="back-link pull-left"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            <button data-action="save-customer-address" type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save Address')) ?>" class="button"><span><span><?php echo $this->__('Save Address') ?></span></span></button>
        </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    new CityUpdater('country', 'region_id', 'city', 'city_id', <?php echo Mage::helper('improvedaddress')->getCityJson() ?>);
//]]>
</script>
