<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Temlate for Mage_Customer_Block_Address_Book block
 * @var $test Mage_Customer_Block_Address_Book
 */
?>
<div class="page-title title-buttons">
    <h2><?php echo $this->__('Address Book') ?></h2>
    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add New Address')) ?>" class="btn btn-default" onclick="window.location='<?php echo $this->getAddAddressUrl() ?>';"><span><span><?php echo $this->__('Add New Address') ?></span></span></button>
</div>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<div class="addresses-list row">
	<div class="addresses-primary col-xs-12 col-sm-6">
		<div class="content">
			<h2><?php echo $this->__('Default Addresses') ?></h2>
		</div>
		<ul>
		<?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling()): ?>
			<li class="item">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left"><?php echo $this->__('Default Billing Address') ?></h3>
						<a class="pull-right" href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
					</div>
					<div class="panel-body">
						<address>
							<?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
						</address>
					</div>
				</div>
		 </li>
		<?php else: ?>
			<li class="item">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left"><?php echo $this->__('Default Billing Address') ?></h3>
					</div>
					<div class="panel-body">
						<?php echo $this->__('You have no default billing address in your address book.') ?>
					</div>
				</div>
			</li>
		<?php endif ?>
		<?php if($_pAddsses = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping()): ?>
			<li class="item">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left"><?php echo $this->__('Default Shipping Address') ?></h3>
						<a class="pull-right" href="<?php echo $this->getAddressEditUrl(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
					</div>
					<div class="panel-body">
						<address>
							<?php echo $this->getAddressHtml(Mage::getSingleton('customer/session')->getCustomer()->getAddressById($_pAddsses)) ?>
						</address>
					</div>
				</div>
			</li>
		<?php else: ?>
			<li class="item empty">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><?php echo $this->__('Default Shipping Address') ?></h3>
					</div>
					<div class="panel-body">
						<p><?php echo $this->__('You have no default shipping address in your address book.') ?></p>
					</div>
				</div>
			</li>
		<?php endif ?>
		</ul>
	</div>
		<div class="addresses-additional col-xs-12 col-sm-6">
			<div class="content">
				<h2><?php echo $this->__('Additional Address Entries') ?></h2>
			</div>
			<div class="panel panel-default">
				<ul class="panel-body">
				<?php if($_pAddsses = $this->getAdditionalAddresses()): ?>
					<?php foreach($_pAddsses as $_address): ?>
					<li class="item">
						<address>
							<?php echo $this->getAddressHtml($_address) ?>
						</address>
						<p class="edit"><a href="<?php echo $this->getUrl('customer/address/edit', array('id'=>$_address->getId())) ?>"><?php echo $this->__('Edit Address') ?></a> <span class="separator">|</span> <a href="#" class="link-remove" onclick="return deleteAddress('<?php echo $_address->getId() ?>');"><?php echo $this->__('Delete Address') ?></a></p>
					</li>
					<?php endforeach; ?>
				<?php else: ?>
					<li class="item empty">
						<p><?php echo $this->__('You have no additional address entries in your address book.') ?></p>
					</li>
				<?php endif ?>
				</ul>
			</div>
		</div>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
<script type="text/javascript">
//<![CDATA[
    function deleteAddress(addressId) {
        if(confirm('<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Are you sure you want to delete this address?')) ?>')) {
            window.location='<?php echo $this->getDeleteUrl() ?>id/'+addressId;
        }
        return false;
    }
//]]>
</script>
