<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * @see Mage_Page_Block_Template_Links
 */
?>
<?php
 $_links = $this->getLinks();
 $customer = Mage::getSingleton('customer/session');
 if ($customer->isLoggedIn()==1):
	echo '<div class="customer-block"><div class="customer-name-wrapper"><span class="customer-name"><span class="user-icon"><i class="fa fa-user-o"></i><span>'. $this->__('My account') .'</span><i class="caret"></i></span></span></div>';
 endif;
?>
<?php if(count($_links)>0): ?>
<ul class="links"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
    <?php foreach($_links as $_link): ?>
        <?php if ($_link instanceof Mage_Core_Block_Abstract):?>
            <?php echo $_link->toHtml() ?>
        <?php else: ?>
            <li<?php if($_link->getIsFirst()||$_link->getIsLast()): ?> class="<?php if($_link->getIsFirst()): ?>first<?php endif; ?><?php if($_link->getIsLast()): ?> last<?php endif; ?>"<?php endif; ?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a><?php echo $_link->getAfterText() ?></li>
        <?php endif;?>
    <?php endforeach; ?>
</ul>
<?php endif;
 if ($customer->isLoggedIn()==1) {
	echo '</div>';
 }
?>
