<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php if ($this->getCheckout()->getStepData('payment', 'complete')): ?>
<dt class="complete clearfix">
    <?php echo $this->__('Payment Method') ?>
    <span class="changelink pull-right">
    	<a href="#payment" onclick="checkout.changeSection('opc-payment'); return false;"><i class="fa fa-pencil"></i></a>
</span>
</dt>
<dd class="complete">
    <?php echo $this->getPaymentHtml() ?>
</dd>
<?php else: ?>
<dt>
    <?php echo $this->__('Payment Method') ?>
</dt>
<?php endif; ?>
