<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="page-title">
    <h2><?php echo $this->__('Edit Account Information') ?></h2>
</div>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" autocomplete="off" class="form-horizontal">
	<?php echo $this->getBlockHtml('formkey') ?>
	<div class="content">
		<h2><?php echo $this->__('Account Information') ?></h2>
	</div>
	<ul class="form-list clearfix">
		<li class="fields form-group">
			<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getCustomer())->toHtml() ?>
		</li>
		<li class="form-group">
			<div class="col-sm-6 col-lg-5">
				<label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
				<input type="text" name="email" id="email" value="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getCustomer()->getEmail()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" class="form-control required-entry validate-email" />
			</div>
		</li>
		<div class="form-group">
	<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
	<?php if ($_gender->isEnabled()): ?>
		<li class="gender col-sm-1 col-lg-1"><?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?></li>
	<?php endif ?>
	<?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
	<?php if ($_dob->isEnabled()): ?>
		<li class="customer-dob col-sm-12 col-lg-10"><?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml() ?></li>
	<?php endif ?>
		</div>
	<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
	<?php if ($_taxvat->isEnabled()): ?>
		<li class="form-group">
			<div class="col-sm-6 col-lg-5">
				<?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml() ?>
			</div>
		</li>
	<?php endif ?>
		<li class="col-sm-4 col-lg-3 form-group">
			<label for="current_password" class="required"><em>*</em><?php echo $this->__('Current Password') ?></label>
			<div class="input-box">
				<!-- This is a dummy hidden field to trick firefox from auto filling the password -->
				<input type="text" class="no-display" name="dummy" id="dummy" />
				<input type="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Current Password')) ?>" class="form-control" name="current_password" id="current_password" />
			</div>
		</li>
		<li class="control form-group">
			<div class="col-xs-12">
				<div class="checkbox">
					<label for="change_password">
						<input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Change Password')) ?>"<?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" />
						<?php echo $this->__('Change Password') ?>
					</label>
				</div>
			</div>
		</li>
	</ul>
	<div class="fieldset" style="display:none;">
		<div class="content">
			<h2><?php echo $this->__('Change Password') ?></h2>
		</div>
		<ul class="form-list form-group">
			<li class="fields col-sm-8 col-lg-7">
				<div class="row">
					<div class=" col-sm-6">
						<label for="password" class="required"><em>*</em><?php echo $this->__('New Password') ?></label>
						<input type="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('New Password')) ?>" class="form-control required-entry validate-password" name="password" id="password" />
					</div>
					<div class=" col-sm-6">
						<label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
						<input type="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm New Password')) ?>" class="form-control required-entry validate-cpassword" name="confirmation" id="confirmation" />
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="form-group">
		<div class="col-xs-12"><p class="required"><?php echo $this->__('* Required Fields') ?></p></div>
	</div>
	<div class="buttons-set clearfix">
		<p class="back-link pull-left"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
		<button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save')) ?>" class="btn btn-default pull-right"><span><span><?php echo $this->__('Save') ?></span></span></button>
	</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    function setPasswordForm(arg){
        <?php if(Mage::app()->getLayout()->checkVersion('1.9.3.x')){ ?>
			$('password').up('.fieldset')[arg ? 'show': 'hide']();
		<?php }else{ ?>
			if(arg){
				$('current_password').up(3).show();
				$('current_password').addClassName('required-entry');
				$('password').addClassName('required-entry');
				$('confirmation').addClassName('required-entry');

			}else{
				$('current_password').up(3).hide();
				$('current_password').removeClassName('required-entry');
				$('password').removeClassName('required-entry');
				$('confirmation').removeClassName('required-entry');
			}
		<?php } ?>
    }

    <?php if($this->getCustomer()->getChangePassword()): ?>
        setPasswordForm(true);
    <?php endif; ?>
//]]>
</script>
