<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="page-title">
	<h2><?php echo $this->__('Forgot Your Password?') ?></h2>
</div>
<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
<form action="<?php echo $this->getUrl('*/*/forgotpasswordpost') ?>" method="post" id="form-validate" class="form-horizontal">
	<div class="content">
		<h2><?php echo $this->__('Retrieve your password here') ?></h2>
	</div>
	<p><?php echo $this->__('Please enter your email address below. You will receive a link to reset your password.') ?></p>
	<ul class="form-list form-group">
		<li class="col-xs-12 col-sm-6 col-lg-4">
			<label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
			<input type="text" name="email" alt="email" id="email_address" class="form-control required-entry validate-email" value="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getEmailValue()) ?>" />
		</li>
		<?php echo $this->getChildHtml('form.additional.info'); ?>
		<li class="col-xs-12">
			<p class="required"><?php echo $this->__('* Required Fields') ?></p>
		</li>
	</ul>
	<div class="buttons-set clearfix">
		<p class="back-link pull-left"><a href="<?php echo $this->helper('customer')->getLoginUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
		<button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')); ?>" class="btn btn-default pull-right"><span><span><?php echo $this->__('Submit') ?></span></span></button>
	</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
