<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<div class="account-login">
	<div class="page-title">
		<h2><?php echo $this->__('Login or Create an Account') ?></h2>
	</div>
	<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
	<?php /* Extensions placeholder */ ?>
	<?php echo $this->getChildHtml('customer.form.login.extra')?>
	<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="login-form" class="form-horizontal row">
		<?php echo $this->getBlockHtml('formkey') ?>
		<div class="col-sm-6 new-users">
			<div class="content">
				<h2><?php echo $this->__('New Customers') ?></h2>
				<p><?php echo $this->__('By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.') ?></p>
			</div>
			<div class="new-users clearfix">
				<div class="buttons-set">
					<button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Create an Account')) ?>" class="btn btn-default" onclick="window.location='<?php echo $this->getCreateAccountUrl() ?>';"><span><span><?php echo $this->__('Create an Account') ?></span></span></button>
				</div>
			</div>
		</div>
		<div class="col-sm-6 registered-users">
			<div class="content">
				<h2><?php echo $this->__('Registered Customers') ?></h2>
				<p><?php echo $this->__('If you have an account with us, please log in.') ?></p>
				<div class="form-group">
					<ul class="form-list clearfix">
						<li class="col-sm-6">
							<label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
							<input type="text" name="login[username]" value="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getUsername()) ?>" id="email" class="form-control required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" />
						</li>
						<li class="col-sm-6">
							<label for="pass" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
							<input type="password" name="login[password]" class="form-control required-entry validate-password" id="pass" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" />
						</li>
						<?php echo $this->getChildHtml('form.additional.info'); ?>
						<li class="col-xs-4 pull-right">
							<p class="required"><?php echo $this->__('* Required Fields') ?></p>
						</li>
					</ul>
				</div>
			</div>
			<div class="registered-users clearfix">
				<div class="buttons-set">
					<a href="<?php echo $this->getForgotPasswordUrl() ?>" class="pull-left"><?php echo $this->__('Forgot Your Password?') ?></a>
					<button type="submit" class="btn btn-default pull-right" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Login')) ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript">
	//<![CDATA[
			var dataForm = new VarienForm('login-form', true);
	//]]>
	</script>
</div>
