<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="page-title">
   <h2><?php echo Mage::helper('sales')->__('Orders and Returns') ?></h2>
</div>
<form id="oar_widget_orders_and_returns_form" action="<?php echo $this->getActionUrl() ?>" method="post" class="search-form form-horizontal" name="guest_post">
    <div class="content"><h2><?php echo Mage::helper('sales')->__('Order Information') ?></h2></div>
    <ul class="form-list">
       <li class="form-group">
           <div class="input-box col-sm-6 col-md-5">
               <label for="oar_order_id" class="required"><?php echo Mage::helper('sales')->__('Order ID') ?> <em>*</em></label>
               <input type="text" class="form-control required-entry" id="oar_order_id" name="oar_order_id"/>
           </div>
       </li>
       <li class="wide form-group">
           <div class="input-box col-sm-6 col-md-5">
               <?php echo Mage::helper('sales')->__('Enter the billing last name and email/ZIP as in the order billing address') ?>.
            </div>
       </li>
       <li class="form-group">
           <div class="input-box col-sm-6 col-md-5">
               <label for="oar_billing_lastname" class="required"><?php echo Mage::helper('sales')->__('Billing Last Name') ?> <em>*</em></label>
               <input type="text" class="form-control required-entry" id="oar_billing_lastname" name="oar_billing_lastname"/>
           </div>
       </li>
       <li class="form-group">
           <div class="input-box col-sm-6 col-md-5">
               <label class="required"><?php echo Mage::helper('sales')->__('Find Order By:') ?></label>
               <select name="oar_type" id="quick_search_type_id" class="select guest-select form-control" title="" onchange="showIdentifyBlock(this.value);">
                   <?php if(Mage::app()->getLayout()->checkVersion('1.9.3.x')){ ?>
						<option value="email"><?php echo Mage::helper('sales')->__('Email Address') ?></option>
						<option value="zip"><?php echo Mage::helper('sales')->__('ZIP Code') ?></option>
				   <?php }else{ ?>
						<option value="email">Email Address</option>
						<option value="zip">ZIP Code</option>
				   <?php } ?>
               </select>
           </div>
       </li>
       <li id="oar-email" class="form-group">
           <div class="input-box col-sm-6 col-md-5">
               <label for="oar_email" class="required"><?php echo Mage::helper('sales')->__('Email Address') ?> <em>*</em></label>
               <input type="text" class="form-control validate-email required-entry" id="oar_email" name="oar_email"/>
           </div>
       </li>
       <li id="oar-zip" style="display:none;" class="form-group">
           <div class="input-box col-sm-6 col-md-5">
               <label for="oar_zip" class="required"><?php echo Mage::helper('sales')->__('Billing ZIP Code') ?> <em>*</em></label>
               <input type="text" class="form-control required-entry" id="oar_zip" name="oar_zip"/>
           </div>
       </li>
       <li class="form-group">
         <div class="col-md-12">
            <p class="required text-right"><?php echo Mage::helper('sales')->__('* Required Fields') ?></p>
         </div>
       </li>
    </ul>
    <div class="buttons-set clearfix">
        <button type="submit" title="<?php echo Mage::helper('sales')->__('Continue') ?>" class="btn btn-default pull-right"><span><span><?php echo Mage::helper('sales')->__('Continue') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    if ($('quick_search_type_id').value == 'zip') {
        $('oar-zip').show();
        $('oar-email').hide();
    } else {
       $('oar-zip').hide();
       $('oar-email').show();
    }
   var dataForm = new VarienForm('oar_widget_orders_and_returns_form', true);
   function showIdentifyBlock(id)
   {
       if (id == 'zip') {
           $('oar-zip').show();
           $('oar-email').hide();
       } else if (id == 'email') {
           $('oar-zip').hide();
           $('oar-email').show();
       }
       return false;
   }
//]]>
</script>
