<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
	
?>

<?php if($_additional = $this->getAdditionalData()): ?>
    <?php $content = $_product->getGarantia(); ?>
    <?php $content .= '<p style="text-align: center;"><span style="font-size: medium;"><strong>FACTURACI&Oacute;N NEUMARKET M&Eacute;XICO</strong></span></p>
<p><span>En el caso de necesitar factura fiscal, el cliente deber&aacute; enviarnos su RFC y/o C&eacute;dula Fiscal para la creaci&oacute;n de la misma. Est&aacute; ser&aacute; enviada EN EL MISMO MOMENTO QUE SE HAGA EL DESPACHO DE LAS LLANTAS bien sea a domicilio o a nuestros talleres de instalaci&oacute;n asociados, por ning&uacute;n motivo o concepto se enviar&aacute; una factura antes de realizar el despacho.</span></p>'?>
    <?php if($content): ?>
    <div>
	<?php echo $content;?>
	</div>
    <?php endif; ?>
<?php endif;?>
