<?php
/**
 * QuickView Button template
 *
 * @see Meigee_AjaxKit_Block_Frontend_QuickView_ListButton
 */
?>


<?php if(!$this->isEnabled()) {   return false; } ?>
<span class="quickview-wrapper clearfix"><a href="javascript:void(0);" class="btn-quickview <?php echo $this->getClass(); ?>" <?php echo $this->getAttributes(); ?>><i class="icon-magnifier"></i><span><?php echo $this->__('Quick View'); ?></span></a></span>