<?php
/**
 * QuickView Button template
 *
 * @see Meigee_AjaxKit_Block_Frontend_QuickView_ListButton
 */
?>


<?php if(!$this->isEnabled()) {   return false; } ?>
<button class="btn-quickview <?php echo $this->getClass(); ?>" <?php echo $this->getAttributes(); ?> data-toggle="tooltip" title="<?php echo $this->__('Quick view'); ?>"><i class="icon-plus"></i></button>
