<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php /** @var $this Mage_Checkout_Block_Multishipping_Overview */ ?>
<div class="multiple-checkout">
    <div class="page-title">
        <h2><?php echo $this->__('Review Order') ?></h2>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form id="review-order-form" action="<?php echo $this->getPostActionUrl() ?>" method="post" onsubmit="return showLoader();">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="row">
            <div class="col-md-12"><div class="content"><h2><?php echo $this->__('Billing Information') ?></h2></div></div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <?php $_address=$this->getBillingAddress() ?>
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left"><?php echo $this->__('Billing Address') ?></h3>
                        <a class="pull-right" href="<?php echo $this->getEditBillingAddressUrl($_address) ?>"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="panel-body">
                        <address>
                            <?php echo $_address->format('html') ?>
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left"><?php echo $this->__('Payment Method') ?></h3>
                        <a class="pull-right" href="<?php echo $this->getEditBillingUrl() ?>"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="panel-body">
                        <input type="hidden" name="payment[cc_number]" value="<?php echo $this->escapeHtml($this->getPayment()->getCcNumber())?>" />
                        <input type="hidden" name="payment[cc_cid]" value="<?php echo $this->escapeHtml($this->getPayment()->getCcCid())?>" />
                        <?php echo $this->getPaymentHtml() ?>
                    </div>
                </div>
            </div>
         </div>
        <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
        <div class="row">
            <div class="col-md-12"><div class="content"><h2><?php echo $this->__('Shipping Information') ?></h2></div></div>
            <?php foreach ($this->getShippingAddresses() as $_index => $_address): ?>
            <div class="col-md-12"><h3 class="legend"><?php echo $this->__('Address %s of %s', ($_index+1), $this->getShippingAddressCount()) ?></h3></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left"><?php echo $this->__('Shipping To') ?></h3>
                        <a class="pull-right" href="<?php echo $this->getEditShippingAddressUrl($_address) ?>"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="panel-body">
                        <address>
                            <?php echo $_address->format('html') ?>
                        </address>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left"><?php echo $this->__('Shipping Method') ?></h3>
                        <a class="pull-right" href="<?php echo $this->getEditShippingUrl() ?>"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="panel-body">
                        <?php if($_rate=$this->getShippingAddressRate($_address)): ?>
                        <p>
                        <?php echo $this->escapeHtml($_rate->getCarrierTitle()) ?> - <?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
                        <?php $_excl = $this->getShippingPriceExclTax($_address); ?>
                        <?php $_incl = $this->getShippingPriceInclTax($_address); ?>
                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                        </p>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left"><?php echo $this->__('Items') ?></h3>
                        <a class="pull-right" href="<?php echo $this->getAddressesEditUrl() ?>"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                        <table class="table table-bordered" id="overview-table-<?php echo $_address->getId() ?>">
                            <col />
                            <col width="1" />
                            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                            <col width="1" />
                            <?php endif; ?>
                            <col width="1" />
                            <col width="1" />
                            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                            <col width="1" />
                            <?php endif; ?>
                            <thead>
                                <tr>
                                    <th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Product Name') ?></th>
                                    <th colspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Price') ?></th>
                                    <th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Qty') ?></th>
                                    <th colspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Subtotal') ?></th>
                                </tr>
                                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                                <tr>
                                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                </tr>
                                <?php endif; ?>
                            </thead>
                            <tfoot>
                                <?php echo $this->renderTotals($this->getShippingAddressTotals($_address)); ?>
                            </tfoot>
                            <tbody>
                            <?php foreach ($this->getShippingAddressItems($_address) as $_item): ?>
                                <?php echo $this->getRowItemHtml($_item); ?>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <script type="text/javascript">decorateTable('overview-table-<?php echo $_address->getId() ?>')</script>
                        </div>
                    </div>
                </div>
                <?php if($this->getShippingAddressCount()!=$_index+1): ?>
                <div class="divider"></div>
                <?php endif; ?>
            </div>
            <?php endforeach; ?>
        </div>
        <?php if ($this->getQuote()->hasVirtualItems()): ?>
        <div class="row">
            <div class="col-md-12"><div class="content"><h2><?php echo $this->__('Other Items in Your Order') ?></h2></div></div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left"><?php echo $this->__('Items') ?></h3>
                        <a class="pull-right" href="<?php echo $this->getVirtualProductEditUrl() ?>"><i class="fa fa-pencil"></i></a>
                    </div>
                    <div class="panel-body">
                        <?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
                        <table class="table table-bordered" id="virtual-overview-table">
                            <col />
                            <col width="1" />
                            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                            <col width="1" />
                            <?php endif; ?>
                            <col width="1" />
                            <col width="1" />
                            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                            <col width="70" />
                            <?php endif; ?>
                            <thead>
                                <tr>
                                    <th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Product Name') ?></th>
                                    <th colspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Price') ?></th>
                                    <th rowspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Qty') ?></th>
                                    <th colspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Subtotal') ?></th>
                                </tr>
                                <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                                <tr>
                                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                                </tr>
                                <?php endif; ?>
                            </thead>
                            <tfoot>
                                <?php echo $this->renderTotals($this->getBillinAddressTotals()); ?>
                            </tfoot>
                            <tbody>
                            <?php foreach ($this->getVirtualItems() as $_item): ?>
                                <?php echo $this->getRowItemHtml($_item); ?>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <script type="text/javascript">decorateTable('virtual-overview-table')</script>
                    </div>
                </div>
            </div>
        </div>
        <?php endif; ?>
       <?php echo $this->getChildHtml('items_after'); ?>
        <div id="checkout-review-submit">
            <?php echo $this->getChildHtml('agreements') ?>
            <div class="place-order">
                <div class="grand-total">
                    <div class="inner clearfix">
                        <big><?php echo $this->__('Grand Total:') ?> <?php echo $this->helper('checkout')->formatPrice($this->getTotal()) ?></big>
                        <div class="clearfix"></div>
                        <div id="review-buttons-container" class="buttons-set clearfix">
                            <button type="submit" title="<?php echo $this->__('Place Order') ?>" class="btn btn-primary pull-right" id="review-button"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
                            <span class="please-wait" id="review-please-wait" style="display:none;">
                                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
                            </span>
                            <p class="back-link pull-left"><a href="<?php echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo $this->__('Back to Billing Information') ?></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var submitted = false;
        function showLoader()
        {
            if (submitted) {
                return false;
            }
            if ($('checkout-agreements')) {
                var checkboxes = $$('#checkout-agreements input');
                for (var i=0, l=checkboxes.length; i<l; i++) {
                    if (!checkboxes[i].checked) {
                        alert("<?php echo $this->__('Please agree to all Terms and Conditions before placing the orders.')?>");
                        return false;
                    }
                }
            }
            submitted = true;
            var step='review';
            Element.show(step+'-please-wait');
            $(step+'-buttons-container').setStyle({opacity:.5});
            $(step+'-buttons-container').descendants().each(function(s) {
                  s.disabled = true;
            });
            return true;
        }
    //]]>
    </script>
</div>
