<?php
    $repetition_qty = Mage::getStoreConfig('neumarket/neumarket_group/qty',Mage::app()->getStore());
    $enabled = Mage::getStoreConfig('neumarket/neumarket_group/enabled',Mage::app()->getStore());
?>
<?php if(!$this->isCustomerSubscriber() && $enabled): ?>
    <?php if($this->showingCount() < $repetition_qty+1): ?>
		<?php if(!$this->isRecentlySuscribed()): ?>

            <div style="display: none;" class="suscripcion-modal">

                <div class="btn-close-modal-top"></div>

                <?php $subscribeBlock =  $this->getNewsletterBlock(); ?>
                
                <form action="<?php echo $subscribeBlock->getFormActionUrl() ?>" method="post" id="modal-newsletter-validate-detail">
                    <div class="modal-form-subscribe">
                        <div class="input-box">
                           <input type="text" name="email" id="modal-newsletter" placeholder="Ingrese su E-mail" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
                        </div>
                        <button onclick="_trackEvent('usuario', 'suscripcion', 'modal-principal');" type="submit" title="<?php echo $this->__('Suscribirse') ?>" class="button"><span><span><?php echo $this->__('Suscribirse') ?></span></span></button>
                    </div>
                </form>
                <script type="text/javascript">
                //<![CDATA[
                    var modalNewsletterSubscriberFormDetail = new VarienForm('modal-newsletter-validate-detail');
                //]]>
                </script>
                
                <div class="btn-close-modal">-- No quiero el descuento --</div>
                
            </div>
            <script type="text/javascript">
				var bg = jQuery('<div class="bg-modal-suscription"></div>')
				jQuery('body').append(bg);
            	jQuery(function(){
					
					jQuery('.bg-modal-suscription').css({opacity: 0, display: 'block'}).animate({opacity: 0.7}, 200);
					
					jQuery('.suscripcion-modal').css({opacity: 0, display: 'block'}).animate({opacity: 1}, 200, function(){
						jQuery('.bg-modal-suscription, .btn-close-modal, .btn-close-modal-top').click(function(){
							jQuery('.suscripcion-modal, .bg-modal-suscription').animate({opacity: 0}, 200, function(){ jQuery('.suscripcion-modal, .bg-modal-suscription').css({display: 'none'}); });
						});
					});
				});
            </script>
        <?php else: ?>
        	<div style="display: none;">
				<?php echo $this->showingCount(); ?><br>
                <?php echo $this->isRecentlySuscribed();  ?>
            </div>
        <?php endif; ?>
    <?php else: ?>
    	<div style="display: none;">
        	<?php echo $this->showingCount(); ?><br>
            <?php echo $this->isRecentlySuscribed();  ?>
        </div>
    <?php endif; ?>
<?php endif; ?>