<?php
/**
 * Created by PhpStorm.
 * User: Herfox
 * Date: 4/26/17
 * Time: 5:42 PM
 *
 * @category   Conekta
 * @package    Conekta_Card_Fee
 * @author     Hernan Forigua (http://www.herfox.com)
 * @license    This work is free software, you can redistribute it and/or modify it
 */
?>

<?php if($this->getSource() instanceof Mage_Sales_Model_Order): ?>

    <?php if ((float)$this->getSource()->getFeeAmountRefunded() > 0): ?>
        <tr>
            <td class="label"><strong><?php echo Mage::helper('card')->__('Costo Financiero') ?></strong></td>
            <td><strong><?php echo $this->getSource()->getFeeAmountRefunded(); ?></strong></td>
        </tr>
    <?php endif; ?>

<?php else: ?>

    <?php if ((float)$this->getSource()->getFeeAmount()): ?>
        <tr>
            <td class="label"><strong><?php echo Mage::helper('card')->__('Costo Financiero') ?></strong></td>
            <td><strong><?php echo $this->getSource()->getFeeAmount(); ?></strong></td>
        </tr>
    <?php endif;  ?>

<?php endif; ?>