<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_orders = $this->getOrders(); ?>
<div class="page-title">
    <h2><?php echo $this->__('My Orders') ?></h2>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($_orders->getSize()): ?>
<div class="table-responsive">
	<table class="table table-hover table-bordered" id="my-orders-table">
		<thead>
			<tr>
				<th width="120px"><?php echo $this->__('Order #') ?></th>
				<th><?php echo $this->__('Date') ?></th>
				<th><?php echo $this->__('Ship To') ?></th>
				<th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
				<th><span class="nobr"><?php echo $this->__('Order Status') ?></span></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<?php $_odd = ''; ?>
			<?php foreach ($_orders as $_order): ?>
			<tr>
				<td width="120px" class="text-center"><?php echo $_order->getRealOrderId() ?></td>
				<td class="text-center"><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
				<td><?php echo $_order->getShippingAddress() ? $this->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
				<td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
				<td><em><?php echo $_order->getStatusLabel() ?></em></td>
				<td class="a-center">
					<span class="nobr clearfix">
						<a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
						<?php if ($this->helper('sales/reorder')->canReorder($_order) && $catalogMode == 0) : ?>
						<span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
					<?php endif ?>
					</span>
				</td>
			</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<script type="text/javascript">decorateTable('my-orders-table');</script>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif ?>
