<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Catalog advanced search form
 *
 * @see Mage_CatalogSearch_Block_Advanced_Form
 */
?>
<?php $maxQueryLength= $this->helper('catalogsearch')->getMaxQueryLength();?>
<div class="page-title">
    <h2><?php echo $this->__('Catalog Advanced Search') ?></h2>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getSearchPostUrl() ?>" method="get" id="form-validate" class="form-horizontal">
    <div class="content">
        <h2><?php echo $this->__('Search Settings') ?></h2>
    </div>
    <ul class="advanced-search form-list" id="advanced-search-list">
        <?php foreach ($this->getSearchableAttributes() as $_attribute): ?>
        <?php $_code = $_attribute->getAttributeCode() ?>
        <li class="form-group">
            <div class="col-md-12"><label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label></div>
            <?php switch($this->getAttributeInputType($_attribute)):
                case 'number': ?>
                <div class="input-range col-sm-3 col-md-2">
                    <input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="form-control validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                </div>
                <div class="col-xs-1 col-md-1 text-center">
                    <span class="separator">-</span>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2">
                    <input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="form-control validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                </div>
                <?php break;
                case 'price': ?>
                <div class="input-range col-xs-4 col-sm-2 col-md-2">
                    <input name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="form-control validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                </div>
                <span class="separator">-</span>
                <div class="col-xs-4 col-sm-2 col-md-2">
                    <input name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="form-control validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                </div>
                    <div class="col-xs-3 col-sm-2 col-md-1 text-center currency">(<?php echo $this->getCurrency($_attribute); ?>)</div>
                <?php break;
                case 'select': ?>
                    <div class="input-box col-sm-6 col-md-5">
                        <?php echo str_replace('class="', 'class="form-control ', $this->getAttributeSelectElement($_attribute)); ?>
                    </div>
                <?php break;
                case 'yesno': ?>
                    <?php echo str_replace('class="', 'class="form-control ', $this->getAttributeYesNoElement($_attribute)); ?>
                <?php break;
                case 'date': ?>
                <div class="input-range col-sm-6 col-md-5">
                    <?php echo $this->getDateInput($_attribute, 'from') ?>
                    <span class="separator">-</span>
                    <?php echo $this->getDateInput($_attribute, 'to') ?>
                </div>
                <?php break;
                default: ?>
                <div class="input-box col-sm-6 col-md-5">
                    <input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="form-control <?php echo $this->getAttributeValidationClass($_attribute) ?>" maxlength="<?php echo $maxQueryLength;?>" />
                </div>
            <?php endswitch; ?>
        </li>
        <?php endforeach; ?>
    </ul>
    <script type="text/javascript">decorateList('advanced-search-list')</script>
    <div class="buttons-set clearfix">
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="btn btn-default pull-right"><span><span><?php echo $this->__('Search') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
