<?php
/**
 * @package     universal
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $relatedTabs = $this->getProduct()->getRelatedTabs();
 $lazyLoad = Mage::helper('thememanager/themeConfig')->getThemeConfigResultByAliase('ajax_product_images');
?>
<?php if($this->getItems()->getSize() && !$relatedTabs): ?>
	<div class="related-bottom">
		<div class="block-title clearfix">
			<strong><span><?php echo $this->__('Related Products') ?></span></strong>
			 <p class="block-subtitle"><?php echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelatedBottom(this); return false;"><?php echo $this->__('select all') ?></a></p>
		</div>
		<div class="block-content">
			<div id="related-bottom-slider">
				<ul class="products-grid carousel-ul clearfix">
				<?php foreach($this->getItems() as $_item): ?>
					<li class="item col-lg-3 col-sm-4">
						<div class="product">
							<div class="image-box">
								<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image">
									<?php 
										$escaped_label = $this->htmlEscape($_item->getName());
										echo '<img '. $_item->getProductMediaResized(400, 'thumbnail')
											->addImageHtmlAttributte('alt', $escaped_label)
											->addImageHtmlAttributte('title', $escaped_label)
											->addImageHtmlAttributte('class', 'lazyOwl')
											->addImageHtmlAttributte('class', 'no_ajax_image_loader')
											->addImageHtmlAttributte('data-src', $_item->getProductMediaResized(400, 'small_image')->getImageSrc())
											->getImageHtmlAttributte().' />';
									?>
								</a>
							</div>
							<div class="product-details">
								<div class="product-name clearfix">
									<a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a>
									<?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
										<?php if (!$_item->getRequiredOptions()): ?>
											<input type="checkbox" class="checkbox related-bottom-checkbox" id="related-bottom-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" />
										<?php endif; ?>
									<?php endif; ?>
								</div>
								<?php echo $this->getPriceHtml($_item, true, '-related') ?>
								<?php if ($this->helper('wishlist')->isAllow()) : ?>
									<a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><i class="fa fa-heart"></i></a>
								<?php endif; ?>
							</div>
						</div>
					</li>
				<?php endforeach ?>
				</ul>
				<script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
			</div>
			<div class="prev unselectable"><i class="fa fa-angle-left"></i></div>
			<div class="next"><i class="fa fa-angle-right"></i></div>
		</div>
		<script type="text/javascript">
			//<![CDATA[
			$$('.related-bottom-checkbox').each(function(elem){
				Event.observe(elem, 'click', addRelatedBottomToProduct)
			});
			var relatedProductsCheckFlag = false;
			function selectAllRelatedBottom(txt){
				if (relatedProductsCheckFlag == false) {
					$$('.related-bottom-checkbox').each(function(elem){
						elem.checked = true;
					});
					relatedProductsCheckFlag = true;
					txt.innerHTML="<?php echo $this->__('unselect all') ?>";
				} else {
					$$('.related-bottom-checkbox').each(function(elem){
						elem.checked = false;
					});
					relatedProductsCheckFlag = false;
					txt.innerHTML="<?php echo $this->__('select all') ?>";
				}
				addRelatedBottomToProduct();
			}
			function addRelatedBottomToProduct(){
				var checkboxes = $$('.related-bottom-checkbox');
				var values = [];
				for(var i=0;i<checkboxes.length;i++){
					if(checkboxes[i].checked) values.push(checkboxes[i].value);
				}
				if($('related-products-field')){
					$('related-products-field').value = values.join(',');
				}
			}
			//]]>
			jQuery(document).ready(function(){
				/* Related Block Slider */
				function relatedButtonsTop() {
					if(jQuery('.related-bottom').length){
						var maxHeight = 0;
						var titleHeight = jQuery('.related-bottom .block-title').outerHeight();
						jQuery('.related-bottom li.item .product-image img').each(function() {
							if (jQuery(this).height() > maxHeight){
								maxHeight = jQuery(this).height();
							}
							jQuery('.related-bottom .next, .related-bottom .prev').css('top', (maxHeight/2) + titleHeight);
						});
					}
				}
				relatedButtonsTop();
				jQuery(window).resize(function(){relatedButtonsTop()});
				relatedBottomSlider = jQuery('#related-bottom-slider .carousel-ul');
				relatedBottomSlider.owlCarousel({
					items: 4,
					itemsDesktopSmall: [1331,4],
					itemsTablet: [1007,3],
					itemsTabletSmall: [767,2],
					itemsMobile: [479,1],
					pagination: false,
					lazyLoad: <?php echo ($lazyLoadParam == 'lazy_image_loader' ? 'true' : 'false'); ?>,
					lazyEffect: 'fade',
					beforeUpdate : relatedButtonsTop(),
					afterUpdate : relatedButtonsTop(),
					beforeInit: relatedButtonsTop(),
					afterInit: relatedButtonsTop(), 
					afterLazyLoad : relatedButtonsTop()
				});
				// Custom Navigation Events
			   jQuery(".related-bottom .next").click(function(){
				 relatedBottomSlider.trigger('owl.next');
			   });
			   jQuery(".related-bottom .prev").click(function(){
				 relatedBottomSlider.trigger('owl.prev');
			   });
			});
		</script>
	</div>
<?php elseif($relatedTabs):
	foreach ($relatedTabs AS $tab) {
		echo $tab->getTitle();
		echo $tab->getContent();
	}
endif ?>