<?php
/**
 * @package     universal
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $relatedTabs = $this->getProduct()->getRelatedTabs();
 $lazyLoad = Mage::helper('thememanager/themeConfig')->getThemeConfigResultByAliase('ajax_product_images');
?>
<?php if($this->getItems()->getSize() && !$relatedTabs): ?>
<div class="block block-related">
    <div class="block-title">
        <strong><span><?php echo $this->__('Related Products') ?></span></strong>
		<div class="slider-buttons">
			<div class="prev unselectable"><i class="fa fa-angle-left"></i></div>
			<div class="next"><i class="fa fa-angle-right"></i></div>
		</div>
    </div>
    <div class="block-content">
		<div id="related-slider">
			<ul class="carousel-ul row clearfix">
			<?php foreach($this->getItems() as $_item): ?>
				<li class="item">
					<div class="product">
						<div class="image-box">
							<a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>" class="product-image">
								<?php 
									$escaped_label = $this->htmlEscape($_item->getName());
									echo '<img '. $_item->getProductMediaResized(400, 'thumbnail')
										->addImageHtmlAttributte('alt', $escaped_label)
										->addImageHtmlAttributte('title', $escaped_label)
										->addImageHtmlAttributte('class', 'lazyOwl')
										->addImageHtmlAttributte('class', 'no_ajax_image_loader')
										->addImageHtmlAttributte('data-src', $_item->getProductMediaResized(400, 'small_image')->getImageSrc())
										->getImageHtmlAttributte().' />';
								?>
							</a>
						</div>
						<div class="product-details">
							<p class="product-name clearfix">
								<a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a>
								<?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
									<?php if (!$_item->getRequiredOptions()): ?>
										<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php echo $_item->getId() ?>" />
									<?php endif; ?>
								<?php endif; ?>
							</p>
							<?php echo $this->getPriceHtml($_item, true, '-related') ?>
							<?php if ($this->helper('wishlist')->isAllow()) : ?>
								<a href="<?php echo $this->getAddToWishlistUrl($_item) ?>" class="link-wishlist"><i class="fa fa-heart"></i></a>
							<?php endif; ?>
						</div>
					</div>
				</li>
			<?php endforeach ?>
			</ul>
		</div>
		<div class="related-button">
			<a class="btn btn-default" href="#" onclick="selectAllRelated(this); return false;"><?php echo $this->__('select all') ?></a>
		</div>
        <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
    </div>
    <script type="text/javascript">
    //<![CDATA[
    $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });
    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="<?php echo $this->__('unselect all') ?>";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="<?php echo $this->__('select all') ?>";
        }
        addRelatedToProduct();
    }
    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
    //]]>
	jQuery(document).ready(function(){
		relatedSlider = jQuery('#related-slider .carousel-ul');
		relatedSlider.owlCarousel({
			items: 1,
			itemsDesktopSmall: [1331,1],
			itemsTablet: [1007,1],
			itemsTabletSmall: [767,1],
			itemsMobile: [479,1],
			pagination: false,
			lazyLoad: <?php echo ($lazyLoad == 'lazy_image_loader' ? 'true' : 'false'); ?>,
			lazyEffect: 'fade'
		});
		// Custom Navigation Events
	   jQuery(".block-related .next").click(function(){
		 relatedSlider.trigger('owl.next');
	   });
	   jQuery(".block-related .prev").click(function(){
		 relatedSlider.trigger('owl.prev');
	   });
	});
    </script>
</div>
<?php elseif($relatedTabs):
	foreach ($relatedTabs AS $tab) {
		echo $tab->getTitle();
		echo $tab->getContent();
	}
endif ?>