<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="form-add">
	<div class="block-title">
		<h3><?php echo $this->__('Reviews') ?></h3>
	</div>
	<?php if ($this->getAllowWriteReviewFlag()): ?>
	<form action="<?php echo $this->getAction() ?>" method="post" id="review-form">
		<?php echo $this->getBlockHtml('formkey') ?>
		<fieldset>
			<div class="rating-block">
				<div class="top-block">
					<h2><?php echo $this->__('Write Your Own Review') ?></h2>
					<?php echo $this->getChildHtml('form_fields_before')?>
					<h3><?php echo $this->__("You're reviewing:"); ?> <span><?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).(Mage::registry('current_product')->getName()) ?></span></h3>
					<?php if(!($this->getRatings() && $this->getRatings()->getSize())): ?>
				</div>
					<?php endif; ?>
				<?php if( $this->getRatings() && $this->getRatings()->getSize()): ?>
					<h4><?php echo $this->__('How do you rate this product?') ?> <em class="required">*</em></h4>
					</div>
					<span id="input-message-box"></span>
					<div id="product-review-table" class="clearfix data-table">
						<?php foreach ($this->getRatings() as $_rating): ?>
							<div class="item">
								<div class="text-wrapper clearfix">
									<div class="rating-title"><?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_rating->getRatingCode()) ?></div>
								</div>
								<div class="stars-wrapper clearfix">
									<?php foreach ($_rating->getOptions() as $key => $_option): ?>
										<div class="value">
											<i class="rating-item" data-index="<?php echo $key + 1 ?>">&#9733;</i>
											<input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>" value="<?php echo $_option->getId() ?>" class="radio" />
										</div>
									<?php endforeach; ?>
								</div>
								<div class="rating-values"><span>0</span>/5</div>
							</div>
						<?php endforeach; ?>
					</div>
					<input type="hidden" name="validate_rating" class="validate-rating" value="" />
					<script type="text/javascript">decorateTable('product-review-table')</script>
				<?php endif; ?>
			</div>
			<div class="rating-inputs">
                <ul class="form-list">
                    <li>
						<label for="nickname_field" class="required"><em>*</em><?php echo $this->__('Nickname') ?></label>
						<div class="input-box">
							<input type="text" name="nickname" id="nickname_field" class="form-control required-entry" value="<?php echo $this->__('Name') ?>" onblur="if (this.value=='') this.value = '<?php echo $this->__('Name') ?>'" onfocus="if (this.value=='<?php echo $this->__('Name') ?>') this.value = ''" />
						</div>
                    </li>
					<li>
						<label for="summary_field" class="required"><em>*</em><?php echo $this->__('Summary of Your Review') ?></label>
						<div class="input-box">
							<input type="text" name="title" id="summary_field" class="form-control required-entry" value="<?php echo $this->__('Summary') ?>" onblur="if (this.value=='') this.value = '<?php echo $this->__('Summary') ?>'" onfocus="if (this.value=='<?php echo $this->__('Summary') ?>') this.value = ''" />
						</div>
					</li>
                    <li>
                        <label for="review_field" class="required"><em>*</em><?php echo $this->__('Review') ?></label>
                        <div class="input-box">
                            <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry form-control" onblur="if (this.value=='') this.value = '<?php echo $this->__('Review') ?>'" onfocus="if (this.value=='<?php echo $this->__('Review') ?>') this.value = ''"><?php echo $this->__('Review'); ?></textarea>
                        </div>
                    </li>
                </ul>
				 <div class="buttons-set">
					<button type="submit" title="<?php echo $this->__('Submit Review') ?>" class="btn btn-default"><span><span><?php echo $this->__('Submit Review') ?></span></span></button>
				</div>
			</div>
            </fieldset>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('review-form');
        Validation.addAllThese(
        [
               ['validate-rating', '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Please select one of each of the ratings above')) ?>', function(v) {
                    var trs = $('product-review-table').select('div.stars-wrapper');
                    var inputs;
                    var error = 1;
                    for( var j=0; j < trs.length; j++ ) {
                        var tr = trs[j];
                        if( j > 0 ) {
                            inputs = tr.select('input');
                            for( i in inputs ) {
                                if( inputs[i].checked == true ) {
                                    error = 0;
                                }
                            }

                            if( error == 1 ) {
                                return false;
                            } else {
                                error = 1;
                            }
                        }
                    }
                    return true;
                }]
        ]
        );
    //]]>

		function reviewMouse(){
			jQuery('#product-review-table .value i').on('mouseover, mouseout', function(){
				thisElement = jQuery(this);
				if(thisElement.parents('.stars-wrapper').find('i.checked').length == 0){
					thisElement.parents('.stars-wrapper').find('i').removeClass('active');
				} else {
					thisElement.parents('.stars-wrapper').find('i.checked').parent().prevAll().children('i').addClass('active');
					thisElement.parents('.stars-wrapper').find('i.checked').parent().nextAll().children('i').removeClass('active');
				}
			});
		}
		jQuery('#product-review-table .value i').hover(
			function(){
				reviewMouse();
				thisElement = jQuery(this);
				thisElement.addClass('active')
				.parents('.value').prevAll('.value').children('i').addClass('active');
			},
			function(){
				reviewMouse();
				thisElement = jQuery(this);
				thisElement.removeClass('active')
				.parents('.value').nextAll('.value').children('i').removeClass('active');
			}
		);
		jQuery('#product-review-table .value i').on('click', function(){
			jQuery(this).parents('.stars-wrapper').find('input.radio').attr('checked', false);
			jQuery(this).parents('.stars-wrapper').find('i').removeClass('checked');
			jQuery(this).addClass('checked').next('input.radio').prop('checked', true)
			.parent().prevAll().children('i').addClass('active');
            thisIndex = jQuery(this).data('index');
			jQuery(this).parents('.item').find('.rating-values span').text(thisIndex);
		});
		jQuery('#product-review-table .stars-wrapper').on('mouseout', function(){
			thisElement = jQuery(this);
			thisElement.find('i.checked').addClass('active').parent().prevAll().children('i').addClass('active');
		});
    </script>
    <?php else: ?>
    <p class="review-nologged" id="review-form">
        <?php echo $this->__('Only registered users can write reviews. Please, <a href="%s">log in</a> or <a href="%s">register</a>', $this->getLoginLink(), Mage::helper('customer')->getRegisterUrl()) ?>
    </p>
    <?php endif ?>
</div>
