html body, body h1, body h5 {
    font-family: 'Roboto', sans-serif;
}

body h3, body h2, #footer .footer-block-title, #footer .block-title, .label-sale.percentage span {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-6deg, 0deg);
    letter-spacing: normal;
}

body h5 {
    font-weight: 400;
    font-size: 18px;
}

body h3 {
    text-align: center;
}

.more-views h3 {
    text-align: left;
}

.page-title h2 {
    font-weight: 600;
}

body .btn {
    background-color: #333f48;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 4px 15px;
    border-radius: 7px;
    font-size: 12px;
    height: 40px;
}

body .new-search .btn {
    background-color: #31b0d5;
    border-radius: 0;
}

.cart-block .discount-form input.form-control {
    float: left;
    width: 216px;
    margin-right: 5px;
    border-radius: 7px;
}

.cart-block .discount-form {
    max-width: 300px;
}

.product-view #product-addtocart-button, body .btn.btn-proceed-checkout {
    line-height: 1.55;
    height: 40px;
    padding: 0 18px;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

#product-addtocart-button span, body .btn.btn-proceed-checkout span {
    font-size: 13px;
    vertical-align: text-bottom;
    text-transform: none;
}

.product-view #product-addtocart-button i.fa.fa-shopping-cart {
    font-size: 24px;
}

body .btn-primary.type-2 {
    background-color: #ff7220;
    border-color: #ff7220;
    border-radius: 5px;
}

body .btn.btn-proceed-checkout {
    border-radius: 7px;
    padding-top: 11px;
    padding-bottom: 12px;
}
/*
body .btn-primary.type-2 {
    background: rgba(255,148,66,1);
    background: -moz-linear-gradient(top, rgba(255,148,66,1) 0%, rgba(255,138,48,1) 86%, rgba(222,90,3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,148,66,1)), color-stop(86%, rgba(255,138,48,1)), color-stop(100%, rgba(222,90,3,1)));
    background: -webkit-linear-gradient(top, rgba(255,148,66,1) 0%, rgba(255,138,48,1) 86%, rgba(222,90,3,1) 100%);
    background: -o-linear-gradient(top, rgba(255,148,66,1) 0%, rgba(255,138,48,1) 86%, rgba(222,90,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,148,66,1) 0%, rgba(255,138,48,1) 86%, rgba(222,90,3,1) 100%);
    background: linear-gradient(to bottom, rgba(255,148,66,1) 0%, rgba(255,138,48,1) 86%, rgba(222,90,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9442', endColorstr='#de5a03', GradientType=0 );
}
*/
body .btn-primary.type-2:focus, body .btn-primary.type-2.focus, body .btn-primary.type-2:active, body .btn-primary.type-2.active, body .btn-primary.type-2:hover {
    background-color: #333f48;
}
/*
.btn-proceed-checkout:hover, #product-addtocart-button:hover {
    background-color: #FFA300;
}
*/
body .btn-default:focus, body .btn-default.focus, body .btn-default:active, body .btn-default.active, body .btn-default:hover, body .btn-default.light:hover, body .btn-default:hover {
    background-color: #535d65;
}

.breadcrumbs-wrapper .page-title .breadcrumb {
    float: right;
    margin: 8px 0;
}

.container h2 {
    text-align: left;
}

#shopping-cart-table tbody tr td:first-child {
    border-left: 1px solid #ddd;
    padding: 10px 1.5em;
}

#shopping-cart-table tbody tr td {
    border-right: 1px solid #ddd;
    vertical-align: middle;
}

#shopping-cart-table tbody tr td .cart-price {
    padding-top: 0;
}

#shopping-cart-table .product-image {
    margin-bottom: 0;
}

.cart-block-title, .discount-form label {
    display: none;
}

.especificaciones table.table-bordered > tbody > tr.first > td {
    border-top: 0;
}

.especificaciones table.table-bordered > tbody > tr.last > td {
    border-bottom: 0;
}

.especificaciones table.table-bordered > tbody > tr > td {
    border-left: 0;
    border-right: 0;
}

#product-attribute-specs-table th, #product-attribute-specs-table td {
    font-size: 1.4em;
    background-color: white;
}

#product-attribute-specs-table th {
    color: #333F48;
    font-weight: 500;
    display: table-cell;
}

#product-attribute-specs-table td {
    color: #333F48;
    font-weight: 300;
}

.product-view .top-wrapper .product-name, .product-view .top-wrapper .price-availability-block {
    margin-bottom: 0;
}

body.wide-footer #footer .footer-top {
    background: url(../images/fondo_suscribirse_email.jpg) center no-repeat;
}

#product-attribute-specs-table thead>tr>th, #product-attribute-specs-table tbody>tr>th, #product-attribute-specs-table tfoot>tr>th, #product-attribute-specs-table thead>tr>td, #product-attribute-specs-table tbody>tr>td, #product-attribute-specs-table tfoot>tr>td {
    padding: 2px;
}

#product-attribute-specs-table th {
    padding-left: 0;
}

#slider-benefits h2 {
    color: #FFA300;
}

#slider-benefits h2 span{
    color: #333F48;
}

ul.topmenu li.level0 a.level-top {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.product-view .top-wrapper .price-box .old-price .price {
    color: #a5a5a5;
    font-weight: 400;
}

header.header .top-cart .block-title .title-cart, .price {
    font-family: 'Roboto', sans-serif;
}

header.header .top-cart .block-content .mini-products-list .product-name a {
    font-size: 17px;
    letter-spacing: normal;
    line-height: 23px;
    font-weight: 300;
}

.banners-header-content {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    /*padding: 15px 160px;*/
}

.banners-header-content .item {
    padding-right: 0;
}

.banners-header-content .row {
    margin-right: 0;
}

.banners-header-content .item img{
    width: 100%;
}

.widget-title {
    border-top: 0;
}

.widget-title h3 span {
    color: #FFA300;
}

.header .bottom-block .main-menu-wrapper {
    background-color: #333F48;
    padding: 0 0 0 5px;
}

.wide-header #header .top-block {
    background-color: #FFA300;
    color: #333F48;
}

.header .header-phone i {
    color: #333F48;
}

.header .header-phone {
    color: #333F48;
}

.header .header-phone i {
    margin-right: 5px;
}

.header .header-phone .phone-1 {
    margin-right: 10px;
}

.header .right-block {
    line-height: unset;
}

.header .header-account {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    padding: 3px 0;
}

.header .welcome-msg {
    display: inline-block;
}

.header .blog-button {
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: #333F48;
    background-color: #FFA300;
    border-radius: 0 25px 0 0;
    height: 50px;
    padding: 14px 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.header .blog-button span {
    line-height: 1.5em;
    display: inline-block;
    position: relative;
}

.header .blog-button a.level-top {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.429;
    color: #fff;
    padding: 14px 18px;
    z-index: 999;
    background: none;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.header .customer-name i.caret {
    color: #333F48;
}

.slider-wheelsfinder {
    position: relative;
}

#wheelsfinder-block {
    position: absolute;
    left: 17.6%;
    width: 435px;
    top: 50px;
    z-index: 50;
}

.modal-dialog #wheelsfinder-block {
    position: unset;
}

#modal-wheelsfinder .modal-backdrop.fade.in {
    z-index: -1;
}

div#dimension_llantas {
    top: -315px;
    position: relative;
    left: 435px;
}

.modal button.close {
    background-color: #d1d2d1;
}

#checkout-step-shipping #servitecas_list {
    display: none;
}

#checkout-step-shipping .servitecas-left .serviteca-list .serviteca-item {
    width: 100%;
}

#checkout-step-shipping .serviteca-list .selected {
    background: url(../images/checkmark.png) no-repeat scroll 220px 50% #ddd;
}
.serviteca-list .selected {
    background-color: #ddd!important;
}
.serviteca-list .serviteca-item {
    width: 350px;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
}

@media (min-width: 768px) {
    #modal-wheelsfinder .modal-dialog {
        width: 435px;
        margin: 5% auto;
    }
}

@media (min-width: 1024px) {
    .modal-dialog div#dimension_llantas {
        position: unset;
    }
}

.wheelsfinder-title {
    position: relative;
    z-index: 1;
    height: 55px;
    font-size: 24px;
    text-align: center;
    background-color: #ffa225;
    width: 100%;
    font-weight: 500;
    color: #333F48;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.56);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.56);
}

.wheelsfinder-title span {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}

.slider-wheelsfinder {
    min-height: 500px;
}

#wheelsfinder-block .nav-tabs>li {
    width: 50%;
    text-align: center;
    font-size: 19px;
    margin-bottom: 0;
    float: left;
}

#wheelsfinder-block .nav-tabs>li>a {
    border: 0;
    border-radius: 0;
}

#wheelsfinder-block .nav-tabs>li>a {
    background: #d1d1d1;
    margin-right: 0;
    color: #000000;
}

#wheelsfinder-block .nav-tabs>li.active>a, #wheelsfinder-block .nav-tabs>li.active>a:hover, #wheelsfinder-block .nav-tabs>li.active>a:focus {
    opacity: unset;
    background: rgba(0, 0, 0, 0.8) !important;
    border: 0;
    color: #ffffff;
    margin-right: 0;
}

#wheelsfinder-block .nav-tabs>li>a:hover {
    opacity: unset
}

#wheelsfinder-block .fieldset{
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    padding: 22px 25px 22px 33px;
}

#wheelsfinder-block .nav-tabs {
    border-bottom: 0;
}

#wheelsfinder-block .bootstrap-select.form-control:not([class*="col-"]) {
    /* width: auto; */
    vertical-align: middle;
    background: none;
    height: auto;
}

.bootstrap-select.btn-group .dropdown-menu{
    margin-top: 2px;
}

#wheelsfinder-block .fieldset.wheelsfinder .btn {
    background-color: #1e1e1e;
    color: #ffffff;
    font-weight: 100;
}

#wheelsfinder-block .bootstrap-select.btn-group .btn .caret {
    border-top-color: #a9a9a9;
}

#wheelsfinder-block .bootstrap-select > .selectpicker {
    height: 36px;
    line-height: 36px;
    background-color: transparent;
    font-weight: normal;
    color: #888;
    min-width: 60px;
    /* border: solid 1px #ddd; */
    border: 0;
    font-family: inherit;
}

#wheelsfinder-block .btn-default:active:hover, .slider-wheelsfinder .btn-default.active:hover, .slider-wheelsfinder .open>.dropdown-toggle.btn-default:hover, .slider-wheelsfinder .btn-default:active:focus, .slider-wheelsfinder .btn-default.active:focus, .slider-wheelsfinder .open>.dropdown-toggle.btn-default:focus, .slider-wheelsfinder .btn-default:active.focus, .slider-wheelsfinder .btn-default.active.focus, .slider-wheelsfinder .open>.dropdown-toggle.btn-default.focus {
    color: #000;
    background-color: #ffffff;
    border-top-color: #1e1e1e;
}

#wheelsfinder-block .dropdown-menu>li>a {
    line-height: 2.428571;
}

#wheelsfinder-block .form-list li {
    margin: 0;
}

#wheelsfinder-block .dropdown-menu>li>a:hover, #wheelsfinder-block .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #000000;
    background-color: #ffa300;
}

#wheelsfinder-block .dropdown-menu {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 0;
}

#wheelsfinder-block #home-image-slider .item .subtitle {
    color: #FFFFFF;
}

#wheelsfinder-block .owl-carousel {
    display: block;
}

.bottom-block ul.topmenu li.level0 a.level-top {
    z-index: unset;
    padding: 14px 55px;
}

header.header .top-cart .block-title .right-block {
    background-color: #FFA300;
}

header.header .top-cart .block-title .top-cart-icon i {
    background-color: rgba(165, 104, 5, 0.6);
    font-size: 19px;
}

header.header .top-cart .block-title .subtotal {
    background-color: #333F48;
}

.about-us {
    background: url(../images/background_info_principal_neumarket_scroll.jpg) center no-repeat;
    min-height: 356px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-us-content {
    max-width: 1272px;
    width: 100%;
    margin: auto;
    padding: 50px 10px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-shadow: black 1px 1px 3px;
}

.about-us-content span a {
    color: #FFA300;
}

#wheelsfinder-block .input-box {
    background: url(../images/whelsfinder-row.png) no-repeat 96% 0 #efeeed;
    height: 45px;
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
    margin-bottom: 15px;
}

#wheelsfinder-block select:focus, #wheelsfinder-block button:focus {
    outline: 0;
}

#wheelsfinder-block select {
    background: transparent;
    border: none;
    font-size: 17px;
    height: 45px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 105%;
    color: #333f48;
}

#wheelsfinder-block button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #333f48;
    font-size: 17px;
    background: #ffa224;
    padding: 10px 24px 10px 24px;
    text-decoration: none;
    border: 0;
}

#wheelsfinder-block button:hover {
    background: #ffa300;
    background-image: -webkit-linear-gradient(top, #ffa300, #da8c00);
    background-image: -moz-linear-gradient(top, #ffa300, #da8c00);
    background-image: -ms-linear-gradient(top, #ffa300, #da8c00);
    background-image: -o-linear-gradient(top, #ffa300, #da8c00);
    background-image: linear-gradient(to bottom, #ffa300, #da8c00);
    text-decoration: none;
}

#wheelsfinder-block option {
    color: #000000;
}

.slider-wheelsfinder #home-image-slider .slide-container {
    position: absolute;
    top: 60px;
    left: 17.3%;
    z-index: 9;
}

.slider-wheelsfinder .slide {
    height: 500px;
}

#home-image-slider a img {
    position: absolute;
}

.slider-wheelsfinder .slide.slide1 {
    background: url(/media/wysiwyg/neumarket_lg.jpg) center no-repeat;
}

.benefits {
    background-color: #333f48;
    color: #ffffff;
}

.benefits-content {
    max-width: 893px;
    width: 100%;
    margin: auto;
}

.benefits-content a, .benefits-content a:hover {
    color: #ffffff;
}

.benefits .item {
    display: inline-block;
    /* min-width: 200px; */
    max-width: 214px;
    /* vertical-align: top; */
    width: 49%;
    padding: 15px 0;
}

.benefits .item img, .benefits .item span {
    display: inline-block;
    vertical-align: middle;
    /* max-width: 86px; */
}

.benefits  .item img {
    max-width: 86px;
    width: 40%;
}

.benefits .item span {
    font-size: 12px;
}

#footer .footer-block-title:before {
    content: "";
    position: absolute;
    width: 31px;
    height: 19px;
    background: url(/skin/frontend/porter/default/images/neumarket1min.png) -377px 149px;
}

.footer-block-title span {
    margin-left: 43px;
}

.block-layered-nav.amshopby-filters-left .block-content #narrow-by-list li a {
    padding: 3px 15px;
}

.block.amshopby-filters-left:not(.block-related) .block-content li a {
    vertical-align: middle;
}

/*SLIDER MARCAS LOGOS*/
.rslides2 {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    padding: 0 5px;
    text-align: center;
}

.rslides2 li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    display: flex !important;
    justify-content: space-around;
}

.rslides2 li a {
    display: block;
    margin: 8px;
}

.rslides2 li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides2 img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.carousel_arrow_right {
    display: none !important;
}

.product-essential form > .product-name {
    display: none;
}

#header h2.logo, #sticky-header h2.small-logo {
    -most-transform: unset;
    -webkit-transform: unset;
    transform: unset;
}

body.wide-footer #footer .footer-middle {
    background: url(/media/wysiwyg/background_footer_neumarket.jpg) center no-repeat #343f47;
}

body.wide-footer #footer .footer-bottom {
    background-color: #21292f;
}

.header-checkout {
    border-bottom: 1px solid #b7b0b0;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
}

.header-checkout-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
}

.header-checkout-right > ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-checkout-right > ul li {
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
}

.header-checkout-right > div {
    display: flex;
    justify-content: flex-end;
}

.header-checkout-right > div a {
    display: block;
    background: #eae1e1;
    padding: 3px 15px;
    text-align: center;
    margin: 0 8px;
    color: #666;
}

.header-checkout-right > ul li p {
    margin: 0 0 0 11px;
}

.header-checkout * {
    box-sizing: border-box;
}

.check-aside {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px 0;
    border-bottom: 1px solid #b7b0b0;
    border-top: 1px solid #b7b0b0;
}

.check-aside p {
    margin: 0 0 0 15px;
    color: #666;
}

.check-footer {
    margin: 15px 0 15px 0;
    padding: 0 3%;
    color: #666;
    text-align: center;
}

.onestepcheckout-threecolumns div.osc-short input[type=email], .onestepcheckout-threecolumns div.osc-short input[type=search], .onestepcheckout-threecolumns div.osc-short input[type=number], .onestepcheckout-threecolumns div.osc-short input[type=password], .onestepcheckout-threecolumns div.osc-short input[type=tel], .onestepcheckout-threecolumns div.osc-short input[type=text], .onestepcheckout-threecolumns div.osc-short select {
    height: 35px !important;
}

.onestepcheckout-threecolumns input[type=email], .onestepcheckout-threecolumns input[type=search], .onestepcheckout-threecolumns input[type=number], .onestepcheckout-threecolumns input[type=password], .onestepcheckout-threecolumns input[type=tel], .onestepcheckout-threecolumns input[type=text], .onestepcheckout-threecolumns select, .onestepcheckout-threecolumns textarea {
    height: 35px !important;
}

.checkout-serviteca-actualSelect {
    background: #f1f1f1;
    text-align: center;
    opacity: 0;
    transition: .4s;
}

.checkout-serviteca-actualSelect.active {
    opacity: 1;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.onestepcheckout-index-index button.onestepcheckout-place-order {
    box-shadow: none;
    width: 100%;
    border: 0;
    border-radius: 2px;
}

#onestepcheckout-form BUTTON.button SPAN {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

button.onestepcheckout-place-order span {
    box-shadow: none;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.go-to-cart {
    padding: 5px 13px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.go-to-cart a {
    text-decoration: underline;
}

div#onestepcheckout-coupons {
    padding: 8px 12px;
    background-color: #f3f3f3;
}

#onestepcheckout-coupon-add span {
    background: #0D6292;
    box-shadow: none;
    display: block;
    padding: 3px 8px;
    font-weight: normal;
    border-radius: 2px;
}

.onestepcheckout-coupons BUTTON.button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

.payment-methods dt {
    margin: 7px 0;
}

#onestepcheckout-form .radio, #onestepcheckout-form .checkbox {
    display: unset;
}

#onestepcheckout-form OL {
    list-style: none;
    padding: 0;
}

#onestepcheckout-form .v-fix {
    display: inline-block;
    vertical-align: top;
    float: unset;
}

#onestepcheckout-form label, #onestepcheckout-form .price {
    font-weight: 400;
    width: 94%;
    vertical-align: top;
}

DIV.product-view DIV.product-img-box IMG.product-manufacturer-logo {
    position: absolute;
    z-index: 49;
}

UL.products-grid .item DIV.image-box .product-manufacturer-logo {
    position: absolute;
    width: 110px;
    z-index: 2;
    left: 0;
}

.quick-view-data-container .product-view .product-img-box .product-labels-wrapper {
    left: 10px;
    bottom: 12px;
}

.product-labels-wrapper > div {
    font-size: 17px;
}

#same_as_billing_control.list_hidden, #wrap-shipping-address-select.list_hidden, #control_save_in_address_book.list_hidden, .servitecas_control .list_hidden, .list_hidden {
    display: none;
}

.servitecas-left {
    width: 30%;
    height: 498px;
    float: left;
    background-color: #fbfbfb;
    box-shadow: 8px 0px 7px -4px #999;
    position: relative;
    z-index: 999;
}

.modalCheckout-servitecaList {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    transform: scale(0);
}

#loading_servitecas_data {
    float: none;
    padding: 10px 0;
    opacity: 0.5;
}

.weiting_hidden {
    display: none;
}

.modalCheckout-servitecaList.active {
    transform: scale(1);
}

#buscador-servitecas {
    border: 1px solid #ccc;
    height: 500px;
    margin-bottom: 70px;
}

.modalCheckout-servitecaList #buscador-servitecas {
    border: none;
}

.modalCheckout-servitecaList .servitecas-left {
    overflow: hidden;
}

.ciudad-selector {
    padding: 15px;
    background-color: #eee;
    position: relative;
    z-index: 999;
    box-shadow: 0px 4px 5px -3px rgba(50, 50, 50, 0.4);
}

.ciudad-selector span {
    font-size: 15px;
    margin-right: 10px;
}

.serviteca-list {
    height: 420px;
    overflow-y: scroll;
    margin-top: 5px;
    margin-right: 5px;
}

.serviteca-list .serviteca-item {
    width: 350px;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px 10px;
    cursor: pointer;
}

.serviteca-list .serviteca-item .serviteca-nombre {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.product-view #buscador-servitecas {
    float: none;
    height: 500px;
    color: #020202;
}

.servitecas-right {
    width: 70%;
    height: 498px;
    float: right;
}

.modalCheckout-servitecaList .searchModalCheckout-close {
    position: absolute;
    color: white;
    bottom: 5%;
    font-size: 16px;
}

.price-add-to-wrapper .others-options {
    text-align: right;
}

.price-add-to-wrapper .combo {
    /* padding-bottom: 10px; */
    color: #aaa;
}

.products-grid .product-name, .products-list .product-name {
    line-height: 1;
}

body .price-add-to-wrapper .price-box .special-price, body .price-add-to-wrapper .price-box .regular-price {
    background-color: unset;
    padding: 0;
    text-align: right;
    width: 108px;
}

body .price-add-to-wrapper .price-box .regular-price {
    width: 100%;
    margin-bottom: 0;
}

.products-grid .old-price {
    width: 85px;
}

.quick-view-data-container .popup-content .product-shop {
    width: 66%;
    margin-left: 0;
}

.quick-view-data-container .popup-content .product-img-box {
    margin-left: 0;
}

.quick-view-data-container .popup-content .iconos, .popup-content .especificaciones {
    width: 100%;
}

body .price-add-to-wrapper .special-price .price {
    color: #333f48;
    line-height: 12px;
}

body .price-add-to-wrapper .price {
    font-size: 20px;
}

body .price-add-to-wrapper .old-price .price {
    font-size: 16px;
    font-weight: 400;
}

.products-grid .price-add-to-wrapper .price-box, .products-grid .price-add-to-wrapper .add-to-links {
    margin: 0;
    width: 100%;
}

body h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

.products-grid.four-columns .item .product-name a, .products-grid.five-columns .item .product-name a, .products-grid.six-columns .item .product-name a, .products-grid.seven-columns .item .product-name a, .products-grid.eight-columns .item .product-name a {
    font-size: 15px;
    font-weight: normal;
}

.especificaciones .iconos {
    text-align: center;
    margin-top: 10px;
}

.iconos .item {
    /* max-width: 146px; */
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

#footer .links li, #footer .links a {
    padding: 0;
    color: white;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
}

#footer ul.links li a:before {
    content: unset;
}

#footer .social-links i.fa {
    display: inline-block;
    border-radius: 60px;
    /* box-shadow: 0px 0px 2px #888; */
    padding: 6px 8px;
    line-height: normal;
    font-size: 20px;
    background-color: white;
    color: #44555d;
}

#footer .social-links .facebook i.fa {
    padding: 6px 11px;
}

ul.social-links {
    float: unset;
    position: unset;
    vertical-align: unset;
    margin: -2px 0 0 -2px;
}

#footer .footer-bottom .container {
    padding: 5px 10px;
}

#footer .warranty {
    padding-top: 7px;
    background: url(/skin/frontend/porter/default/images/neumarket1min.png) -49px 160px;
    height: 145px;
    width: 112px;
    display: inline-block;
}

#footer .norton-sign {
    padding-top: 7px;
    background: url(/skin/frontend/porter/default/images/neumarket1min.png) -228px 180px;
    height: 72px;
    width: 127px;
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    margin-left: 24px;
}

#footer .subscribe-block .block-subscribe, #footer .subscribe-block .block-title {
    width: 49%;
}

#footer .subscribe-block .block-title {
    color: #000000;
    font-size: 29px;
    text-transform: unset;
}

#footer .subscribe-block .block-content {
    width: 100%;
    text-align: center;
}

#footer .subscribe-block .input-wrapper {
    display: inline-block;
    text-transform: uppercase;
}

body .block-subscribe .block-content .left-icon i, body .block-subscribe .block-content input {
    color: #333f48;
}

body .block-subscribe .block-content .input-wrapper, body .block-subscribe .block-content .btn {
    background: #c3c3c3;
}

body .block-subscribe .block-content .btn {
    background: #333f48;
}

#footer p {
    color: #ffa300;
}

ul.social-links li a:hover, #footer ul.social-links li a:hover {
    background-color: unset;
}

.block-title, .block-layered-nav .block-content dt {
    font-family: Roboto, sans-serif;
}

.sidebar, .block-layered-nav .block-content dt {
    margin-top: 13px;
}

.sidebar .block-title {
    background-color: #ffa300;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.block-layered-nav .block-content dt {
    background-color: #f2f2f2;
}

.block-layered-nav .block-content dt, .block-layered-nav .block-content dd {
    border: solid 1px #bbb9b9;
    margin: 0 -12px;
    padding: 4px 12px;
}

.block-layered-nav .block-content dd {
    border-top: 0;
    border-bottom: 0;
    max-height: 200px;
    overflow-y: scroll;
}

.block-layered-nav .block-content dd::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 15px;
}
.block-layered-nav .block-content dd::-webkit-scrollbar-thumb {
    background-color: rgba(192,192,192,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.block-layered-nav .block-content dd.last {
    border-bottom: solid 1px #bbb9b9;
}

.block-layered-nav .block-content dd + dt {
    margin-top: 0px;
}

ul.breadcrumb {
    float: right;
    margin-right: -10px;
    margin-top: 10px;
}

.breadcrumbs-inner .item {
    display: inline-block;
    vertical-align: middle;
}

.new-search {
    margin: 11px 10px 0;
    width: 190px;
}

a.new-search-button {
    background-color: #333f48;
    padding: 5px 15px;
    color: white;
    text-transform: uppercase;
}

a.new-search-button:hover {
    color: white;
}

.with-breadcrumbs + .content-wrapper .page-title {
    margin-left: -10px;
}

ul.breadcrumb li a {
    color: #61a9e6;
}

.products-grid .image-box, .products-grid .product-image img {
    height: 216.5px;
    width: 216.5px;
}

.products-grid.no-indents .item .image-box {
    margin-bottom: 10px;
}

.products-list .image-box, .products-list .product-image img {
    height: 296px;
    width: 296px;
}

.products-list .product-image, .products-grid .product-image {
    border: 0;
}

.product-box {
    width: 218.5px;
    margin: auto;
}

.products-grid .product-box {
    border: 1px solid #eaeaea;
    margin-bottom: 15px;
    min-height: 348px;
}

.products-grid .product-box:hover {
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.content-box {
    margin: 0 10px;
}

p.combo {
    font-size: 15px;
    font-weight: 300;
    text-align: right;
    margin-top: 5px;
}

.products-grid p.combo {
    font-size: 11px;
}

.products-grid .product-name, .products-list .product-name {
    height: 67.5px;
}

.product-box a:hover, .product-box a:focus {
    opacity: 1;
}

.product-labels-wrapper > div:not(.label-new) {
    background-color: #21ae5e;
    width: 82px;
    padding-top: 6px;
}

.products-grid .product-labels-wrapper > div:not(.label-new) {
    height: 30px;
}

.products-grid .product-labels-wrapper > div:not(.label-new) {
    border-top-right-radius: 4px;
}

.label-sale.percentage span {
    text-shadow: 1.2px 1.2px #000;
    font-size: 25px;
}

.wheelsfinder-description img.vehicle-image {
    max-height: 130px;
}

.wheelsfinder-buttons {
    display: flex;
    justify-content: space-between;
}

.sorter .amount {
    margin-top: 9px;
    margin-left: -22px;
}

.ayuda {
    padding-top: 1.5em;
}

.ayuda span {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: underline;
}

.wheelsfinder-forms {
    max-width: 435px;
}

.wheelsfinder-load {
    background-color: black;
    /* width: 100%; */
    min-height: 336px;
    position: relative;
    top: -336px;
    z-index: 20;
    opacity: 0.8;
}

.wheelsfinder-load .text-load {
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    margin: -30px auto 0;
    text-align: center;
    width: 200px;
    color: white;
}

.iconos .item img, .iconos .item p {
    display: inline-block;
    vertical-align: super;
}

.iconos .item p {
    max-width: 81px;
}

.product-view .quantity-wrapper {
    margin: -1px 10px 0 0;
}

.add-to-box .price-box {
    text-align: right;
}

.product-view .tab-content {
    border: solid 1px #dcdcdc;
    padding: 24px 30px;
}

.product-view .nav-tabs {
    border: 0;
}

.product-custom, .block.block-wheelsfinder {
    display: none;
}

.product-view .nav-tabs li a {
    color: #333f48;
    background-color: #eee;
    border: none!important;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    letter-spacing: normal;
}

.products-grid .product-box .image-box .product-labels-wrapper {
    bottom: 0;
    left: 0;
    top: unset;
}

#tabs .nav-tabs a:hover, #tabs .nav-tabs  a:focus {
    opacity: 1;
}

.product-view .nav-tabs li a:hover, .product-view .nav-tabs li a:focus, .product-view .nav-tabs li.active a:hover, .product-view .nav-tabs li.active a:focus, .product-view .nav-tabs li.active a {
    color: #333f48;
    background-color: #ffffff;
    border: solid 1px #dcdcdc !important;
    border-bottom: 0 !important;
}

.product-view .nav-tabs li a:hover, .product-view .nav-tabs li a:focus{
    background-color: #dadada;
    border: 0 !important;
}

#tabs li.active span {
    border-bottom: 3px solid #ffa300;
}

.product-view .top-wrapper .price-box .special-price .price {
    color: #333f48;
}

img.gallery-image.lazyOwl.no_ajax_image_loader {
    height: 100px;
    margin: auto;
    display: block;
}

.product-view .product-img-box .more-views .more-views-inner .owl-item, .product-view .product-img-box .more-views .more-views-inner > .item {
    border: solid 1px #e1e2e1;
    padding: 0;
    margin-right: 5px;
    width: 100px;
}

.product-view .product-img-box .product-labels-wrapper > div:not(.label-new) {
    float: right;
    width: auto;
    padding: 12px 27px 5px;
    border-bottom-left-radius: 11px;
}

.product-view .product-img-box .product-labels-wrapper .label-sale.percentage span {
    font-size: 40px;
    text-shadow: 2.2px 2.2px #000;
}

.cart .block.totals .block-title {
    background-color: #f4f4f4;
    text-transform: none;
    color: #333f48;
}

#footer .block-title strong {
    font-weight: 500;
    font-size: 1.1em;
}

#footer .block-title {
    padding: 0;
}

.cart .totals #shopping-cart-totals-table {
    margin-bottom: 0;
}

#shopping-cart-totals-table tbody, #shopping-cart-totals-table tr, #shopping-cart-totals-table td, #shopping-cart-totals-table + .totals-wrapper tbody, #shopping-cart-totals-table + .totals-wrapper tr, #shopping-cart-totals-table + .totals-wrapper td {
    vertical-align: middle;
    text-align: center!important;
    padding: 0;
    color: #666;
    font-family: 'Montserrat', sans-serif;
}

#shopping-cart-totals-table tr td {
    text-align: left !important;
    background-color: #f4f4f4 !important;
    /* width: 65%; */
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 500;
    color: #333f48;
    font-family: Roboto, sans-serif;
    display: table-cell;
}

#shopping-cart-totals-table .price {
    text-align: right !important;
    font-weight: 300;
    float: right;
}

.cart .totals .totals-wrapper {
    margin: 0;
    background: #e8e8e8;
    padding: 5px 20px;
}

#shopping-cart-totals-table + .totals-wrapper tbody, #shopping-cart-totals-table + .totals-wrapper tr, #shopping-cart-totals-table + .totals-wrapper td {
    background-color: #e8e8e8 !important;
    width: 49%;
    text-align: left !important;
    /* padding: 5px 17px; */
    font-family: Roboto, sans-serif;
}

.totals-wrapper table td strong {
    font-weight: 500;
    font-size: 17px;
    color: #333f48;
}

#shopping-cart-totals-table + .totals-wrapper td span.price {
    font-size: 17px;
    color: #333f48;
    float: right;
}

.cart .block.totals {
    padding: 0;
}

.cart .totals .checkout-types {
    float: right;
}

#shopping-cart-table .btn-empty {
    display: none;
}

.block.totals .block-title strong {
    font-weight: bold;
    font-size: 20px;
}

.sorter .filters, .block .block-exit, .header .search-mini-form {
    display: none;
}

.add-to-cart .qty_select {
    float: left;
    width: 45px;
    border: 1px solid #d1d1d1;
    margin: 1px 6px 0 0;
    padding: 0;
    overflow: hidden;
    background: #fff url(/skin/frontend/gproxy/neumarket/images/spriteme1min.png) no-repeat 10px -876px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.add-to-cart .qty_select select {
    border: 0;
    background: none;
    cursor: pointer;
    padding: 10px 0 8px 10px;
    width: 65px;
    outline: 0;
    -moz-outline: none;
    -webkit-outline: none;
    -moz-user-focus: none;
    text-align: left;
    height: auto;
    -webkit-appearance: none;
    font: 12px / 20px Roboto, sans-serif;
    color: #2F2F2F;
}

.add-to-cart {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.price-combo-promo {
    color: #22ae5e;
    font-size: 16px;
    font-weight: bold;
}

.header .middle-block {
    padding-top: 0;
    padding-bottom: 0;
}

header.header .top-cart {
    margin-bottom: 0;
}

.header .header-banners, .header .middle-block .right-block {
    padding: 32px 0;
}

.header .header-banners {
    margin-top: 2px;
}

header.header .top-cart .block-content .product-box {
    margin: unset;
}

.modalCheckout-servitecaList .servitecas-left {
    width: auto;
}

.modalCheckout-servitecaList .servitecas-right {
    width: 580px;
}

@media only screen and (max-width: 1007px) and (min-width: 768px) {
    .cart .cart-collaterals.sidebar > div {
        width: 50% !important;
        padding: 0px 10px !important;
    }
}

label.title-amxnotif {
    text-transform: uppercase;
    color: #ffa300;
    font-weight: 400;
    font-size: 11px;
    font-style: italic;
}

.amxnotif-block {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #fbfbfb;
}

.amxnotif-block .text1 {
    color: #2ccc70;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.amxnotif-block .text2 {
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    font-size: 11px;
    margin-bottom: 10px;
}

.amxnotif-block .contact-info {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

.amxnotif-block .contact-info span.free-phone {
    margin-right: 20px;
}

.amxnotif-block .contact-info span.mobile {
    margin-left: 20px;
}

.free-phone i.fa.fa-phone, .mobile i.fa.fa-whatsapp {
    font-size: 19px;
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.free-phone i.fa.fa-phone {
    color: #ffa300;
}

.mobile i.fa.fa-whatsapp {
    color: #22ae5e;
}

.checkoutcontainer .success-msg:before, .checkoutcontainer .error-msg:before {
    left: 8px;
}

.suscripcion-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 888px;
    height: 381px;
    margin-left: -444px;
    margin-top: -191px;
    background: url(../images/suscripcion-modal-nuevo.png) no-repeat center center;
    z-index: 9999;
}

.suscripcion-modal .modal-form-subscribe {
    padding-top: 300px;
    padding-left: 50px;
}

.suscripcion-modal .modal-form-subscribe .input-box {
    margin-bottom: 5px;
    display: inline;
}

.suscripcion-modal .modal-form-subscribe .input-box #modal-newsletter {
    padding: 13px 10px 13px;
    font-size: 14px;
    width: 299px;
}

.suscripcion-modal .modal-form-subscribe input {
    vertical-align: middle;
}

.suscripcion-modal .modal-form-subscribe button {
    background: url(../images/btn-modal-form.png) no-repeat;
    position: relative;
    left: -4px;
    top: 1px;
}

.suscripcion-modal .modal-form-subscribe button span {
    padding: 0;
    background: none;
    width: 182px;
    height: 45px;
    display: inline-block;
    box-shadow: none;
}

.suscripcion-modal .modal-form-subscribe button span span {
    display: none;
}

.btn-close-modal {
    color: #777;
    font-size: 11px;
    margin-top: 15px;
    margin-left: 210px;
    cursor: pointer;
}

.cms-home .messages li {
    margin: 0;
}

#payment_form_card {
    min-height: 400px;
    margin-top: 10px;
}

#payment_form_card .col-left {
    float: left;
    width: 375px;
    padding: 0 0 1px;
}

#payment_form_card .col-right {
    width: 270px;
}

.col-right {
    float: right;
    width: 220px;
    padding: 0 0 1px;
}

#payment_form_card .card-result {
    border: solid 1px;
    background: #ffffff;
    padding: 15px;
    margin-top: 10px;
    font-size: 11px;
}

.title-box {
    height: 34px;
    padding: 5px;
    margin: 0px 15px 15px;
    text-align: center;
    background-color: #195E96;
    color: white;
    font-size: 17px;
}

#card-result .row {
    height: 20px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
}

#fee_base, .total-fee {
    font-weight: bold;
    color: #195E96;
}

#co-payment-form input[type="text"], #co-payment-form select, #co-payment-form input[type="password"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    color: #363636;
    border-color: #eee;
    border-radius: 0;
    font-size: 15px;
}

.opc h3 {
    padding-bottom: 0;
}

.opc .order-review .table-bordered {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.sp-methods input.cvv {
    width: 100% !important;
}

.cart .totals .totals-wrapper td + td {
    margin-left: 4px;
}

input.form-control, textarea.form-control, select.form-control {
    color: #363636;
}

.product-img-box .prolabel-wrapper a {
    position: absolute;
}

.product-image-gallery .product-labels-wrapper {
    right: 1px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
    #home-image-slider .item .slide-container {
        left: 6.6%;
        top: 7.2%;
    }

    #home-image-slider .owl-nav {
        left: 6.6%;
    }

    #home-image-slider .media {
        margin-bottom: 22px;
    }

    #home-image-slider.owl-theme .owl-dots {
        left: 15.6%;
    }

    #wheelsfinder-block {
        left: 10%;
        top: 5%;
    }
}

@media (min-width: 1025px) and (max-width: 1331px) {
    #home-image-slider .item .slide-container {
        top: 11.2%;
    }
    #home-image-slider.owl-theme .owl-dots {
        left: 15% !important;
    }
}

@media (min-width: 1190px) and (max-width: 1331px) {
    .bottom-block ul.topmenu li.level0 a.level-top {
        padding: 14px 55px !important;
    }
}

@media (min-width: 1008px) and (max-width: 1189px) {
    .bottom-block ul.topmenu li.level0 a.level-top {
        padding: 14px 39px !important;
    }
}

@media only screen and (max-width: 1024px) {
    #wheelsfinder-block {
        left: 4.6%;
        width: 435px;
    }

    .slider-wheelsfinder .slide.slide1 {
        background: url(/media/wysiwyg/neumarket_md.jpg) center no-repeat;
    }
}

@media only screen and (min-width: 1024px) {
    .benefits {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {


    .product-view .tab-content {
        padding: 15px 15px;
    }

    .header .header-phone {
        display: none;
    }

    #footer .subscribe-block .block-title {
        font-size: 30px;
    }

    #footer .subscribe-block .input-wrapper {
        width: 85% !important;
    }

    .serviteca-list-modal {
        position: fixed;
        background: rgba(0, 0, 0, .8);
        top: 100vh;
        left: 0;
        right: 0;
        z-index: 9999999999999999;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .6s;
    }

    .serviteca-list-modal.active {
        top: 0;
        bottom: 0;
    }

    .product-view .servitecas-left .serviteca-list, .serviteca-view .servitecas-left .serviteca-list {
        height: 80%;
        position: relative;
        background: #f1f1f1;
        margin: 0;
        width: 80%;
        max-width: 310px;
    }

    .listServitecaModal-close {
        position: absolute;
        top: calc(90% + 8px);
        color: white;
        font-size: 16px;
        padding: 14px;
    }

    .product-view .servitecas-left .serviteca-list .serviteca-item, .serviteca-view .servitecas-left .serviteca-list .serviteca-item {
        width: 100%;
    }

    /*Tab3 - Envio e InstalaciÃ³n*/

    .servitecaListMovil, #buscador-servitecas {
        width: 100%;
        border: 0;
        float: none;
    }

    .servitecaListMovil .important {
        display: none;
    }

    .servitecaListMovil .servitecas-left {
        height: auto;
        float: none;
        background: none;
        box-shadow: none;
    }

    .servitecaListMovil .serviteca-list {
        height: 80%;
        position: relative;
        background: #f1f1f1;
        margin: 0;
        width: 80%;
        max-width: 310px;
    }

    #select-ciudad {
        width: 100% important;
    }

    .servitecaListMovil .serviteca-list .serviteca-item {
        width: 100%;
        box-sizing: border-box;
    }

    .servitecaListMovil .serviteca-actualSelect {
        padding: 10px;
        margin-top: 15px;
    }

    .servitecaListMovil .servitecas-right {
        width: 100%;
        height: 45vh;
    }

    .servitecaListMovil .serviteca-selector {
        /*max-height: 35px;*/
        margin-bottom: 0;
    }

    .servitecaListMovil .serviteca-selector h4 {
        margin: 0 auto;
        /*
        border-radius: 0;*/

        max-height: 35px;
        box-sizing: border-box;
        background-image: url(/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg) !important;
        background-position: 98% 50% !important;
        background-repeat: no-repeat !important;
        background-size: 18px !important;
        background: #fff;
        padding: 0 26px 0 8px !important;
        -webkit-appearance: none !important;
        -webkit-border-radius: 0 !important;
        width: 98%;
    }

    .servitecaListMovil .serviteca-selector .bg-arrow {
        /*top: calc(50% - 6px);*/
        display: none;
    }

    .product-view #buscador-servitecas, .serviteca-view #buscador-servitecas {
        height: auto;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .product-view .servitecas-left, .serviteca-view .servitecas-left {
        height: auto;
        /*margin-bottom: 30px;*/
        width: 100%;
        box-shadow: none;
        background: none;
    }

    .ciudad-selector {
        background: none;
        box-shadow: none;
        padding: 8px 0 16px;
        text-align: center;
    }

    .ciudad-selector span {
        display: none;
    }

    .ciudad-selector select {
        height: 35px;
        border-radius: 3px;
        color: #525252;
        width: 100%;
    }

    .serviteca-selector {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin-bottom: 15px;
    }

    .serviteca-selector h4 {
        color: #525252;
        font-weight: 400;
        width: 100%;
        padding: 4px;
        border: 1px solid #c1bbbb;
        border-radius: 3px;
        height: 35px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    .serviteca-selector .bg-arrow {
        width: 11px;
        height: 11px;
        background: url('/arrow-down.png') no-repeat center;
        background-size: contain;
        transition: .4s;
        position: absolute;
        right: 4px;
        top: calc(50% - 11px)

    }

    .serviteca-selector .bg-arrow.active {
        transform: rotate(90deg);
    }

    .serviteca-actualSelect {
        background: #f1f1f1;
        border-radius: 20px 20px 0 0;
        text-align: center;
        opacity: 0;
        padding: 0;
        transition: .4s;
    }

    .serviteca-actualSelect.active {
        padding: 20px 12px;
        opacity: 1;
        width: 100%;
    }

    .serviteca-actualSelect .serviteca-nombre {
        display: none;

    }

    /*map*/
    .product-view .servitecas-right, .serviteca-view .servitecas-right {
        width: 100%;
    }

    .catalog-product-view .not-available-options li {
        margin-left: 10px;
    }

    #buscador-servitecas .important {
        margin-top: 20px;
        color: #525252;
        line-height: 21px;
    }

    #buscador-servitecas .important span {
        color: red;
        text-transform: uppercase;
    }

    #buscador-servitecas .iconos {
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
    }

    #buscador-servitecas .iconos a {
        display: block;
        width: 100px;
    }

    #buscador-servitecas .iconos table,
    #buscador-servitecas .iconos td {
        width: 0;
    }

    .not-available-options span {

    }

    .product-view .zoomContainer {
        display: none;
    }

    .header .header-banners {
        display: none;
    }

    .servitecas-left {
        width: unset;
    }
    .servitecaListMovil .servitecas-right {
        height: 498px;
    }
}

@media only screen and (max-width: 768px) {
    #footer .subscribe-block .block-title {
        font-size: 24px;
    }
    #footer .subscribe-block .input-wrapper {
        width: 324px !important;
    }
    .benefits .item span {
        font-size: 11px;
    }
/*
    ul.rslides2 {
        min-height: 57px;
    }
*/
    .rslides2 h2 {
        font-size: 20px;
        line-height: 1.1;
    }

    div#dimension_llantas {
        position: relative;
        width: 63%;
        top: -285px;
        left: 0;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    .slider-wheelsfinder .slide.slide1 {
        background: url(/media/wysiwyg/neumarket_sm.jpg) center no-repeat;
    }

    body.wide-footer #footer .footer-top {
        background: url(/media/wysiwyg/fondo_suscribirse_email_sm.jpg) center no-repeat;
    }

    table#product-attribute-specs-table {
        width: 100%;
    }

    .especificaciones .iconos {
        width: 100%;
    }

    .iconos .item {
        display: inline-block;
        margin-right: 10px;
        max-width: 90px;
        vertical-align: top;
    }

    .iconos .item.last {
        margin-right: 0;
    }

    #footer .subscribe-block .block-subscribe, #footer .subscribe-block .block-title {
        width: 100%;
    }

    #footer .subscribe-block .input-wrapper {
        width: 94% !important;
    }

    #footer .subscribe-block .block-title {
        top: -34px;
        font-size: 30px;
    }

    #footer .subscribe-block .block-subscribe {
        top: 10px;
    }

    .header .blog-button {
        display: none;
    }

    .benefits-content {
        max-width: 457px;
    }

    #product-attribute-specs-table tr {
        border-bottom: solid 1px !important;
    }

    #product-attribute-specs-table tr.last, #product-attribute-specs-table tr.last td {
        border:0 !important;
    }

    #shopping-cart-totals-table tr td {
        /* width: 73% !important; */
    }

    #shopping-cart-table .btn-continue {
        display: none;
    }

    #shopping-cart-table tfoot .btn {
        margin: 0;
    }

    #shopping-cart-table td {
        border-left: solid 1px #ddd !important;
        border-right: solid 1px #ddd !important;
        border-top: solid 1px #ddd !important;
        padding: .75em 20px !important;
    }

    #shopping-cart-table tbody tr td:first-child {
        min-height: 155px;
    }

    #shopping-cart-table tr td .product-image {
        width: 86px !important;
        float: left !important;
        margin-right: 20px !important;
    }

    #shopping-cart-table .product-name a {
        max-width: 58%;
    }

    #shopping-cart-table .cart-actions {
        display: unset !important;
    }

    #shopping-cart-table tbody tr td .quantity-wrapper {
        font-size: 12px;
    }

    .btn-qty.quantity-decrease i {
        margin-right: -3px;
    }

    .btn-qty.quantity-increase i {
        margin-left: -3px;
    }

    #shopping-cart-table tfoot td {
        border: 0 !important;
    }

    #footer .shipping-wrapper {
        display: none;
    }

    .cart .cart-block .buttons-set .btn {
        width: unset !important;
    }

    .cart-block .discount-form {
        margin: auto;
    }

    .toolbar .sorter .filters {
        display: flex;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid #ddd;
        padding: 0 5px;
        width: 65px;
        height: 36px;
        box-sizing: border-box;
        float: right;
        margin-left: 5px;
    }

    .block.block-layered-nav {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 100%;
        right: -70%;
        overflow: auto;
        z-index: 99999999999999999;
        transition: .4s;
        padding: 0 0 10px 8px;
        box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .block.block-layered-nav.active {
        left: 16%;
        right: 0%;
        transition: .4s;
        background-color: white;
    }

    .block.block-layered-nav .block-exit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px 8px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #dbd6d6;
        height: 50px;
        box-sizing: border-box;
    }

    .block.block-layered-nav .block-title {
        display: none;
    }

    .block.block-layered-nav .block-exit > div.exit-filter {
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        background: #e7e2e2;
        position: relative;
        cursor: pointer;
        width: 18px;
        height: 18px;
        background: url(/Arrow_Ri.png) no-repeat center;
        background-size: contain;
        transition: .4s;
    }

    .block.block-layered-nav .block-exit > div:last-child {
        font-size: 15px;
        font-weight: bold;
    }

    body.wide-footer #footer .footer-middle {
        background: #343f47;
    }
}

@media only screen and (max-width: 465px) {
    #wheelsfinder-block {
        left: unset;
        right: unset;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .slider-wheelsfinder .nav-tabs>li, .slider-wheelsfinder select, .slider-wheelsfinder button {
        font-size: 14px;
    }

    header.header .top-cart .block-title .cart-label{
        display: none;
    }

    header.header .top-cart {
        position: absolute;
        margin-top: 4px;
        right: 11px;
        clear: both;
    }

    header.header .middle-block .right-block {
        text-align: right !important;
    }

    header.header .top-cart .block-content {
        right: 0 !important;
        width: 300px !important;
        margin-top: 5px !important;
    }

    header.header .top-cart .block-content .product-image {
        width: 70px;
    }

    header.header .top-cart .block-content .mini-products-list .product-name a {
        font-size: 15px;
    }

    #footer .subscribe-block .block-title {
        font-size: 22px;
    }

    .breadcrumbs-wrapper .breadcrumbs-inner {
        text-align: center;
    }

    ul.breadcrumb {
        float: none;
        text-align: center;
        margin-right: 0;
        width: 100%;

    }

    .with-breadcrumbs + .content-wrapper .page-title {
        margin-left: 0;
    }

    .ayuda {
        width: 140px;
        bottom: 26px;
        left: 30px;
    }

    div#dimension_llantas {
        width: 95%;
    }
}

@media only screen and (max-width: 425px) {
    .slider-wheelsfinder .slide.slide1 {
        background: url(/media/wysiwyg/neumarket_xs.jpg) center no-repeat;
    }

    .add-to-box {
        margin-left: -8.33333333%;
        margin-right: -5.33333333%;
    }
}

@media only screen and (max-width: 375px) {
    .benefits .item span {
        font-size: 9px;
    }

    img.gallery-image.lazyOwl.no_ajax_image_loader {
        height: 78px;
    }

    .product-view .product-img-box .more-views .more-views-inner .owl-item, .product-view .product-img-box .more-views .more-views-inner > .item {
        width: 78px;
    }

    #wheelsfinder-block .nav-tabs>li {
        font-size: 15px;
    }
}

@media only screen and (max-width: 335px) {

    #wheelsfinder-block .nav-tabs>li {
        font-size: 13px;
    }
}