@-ms-viewport {
  width: device-width;
}

@media (min-width: 576px) {
/*
  .container {
    width: 100%;
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    align-content: center;
  }
*/
  .responsivo {
    text-align: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
  }

}
/*
@media (min-width: 200px) {

  .responsivo {
    width: 48%;
    margin-top: -40px
  }
}
@media (min-width: 382px) {

  .responsivo {
    width: 48%;
  }
}
*/

@media (min-width: 576px) {

  .responsivo {
    width: 48%;
  }
}


@media (min-width: 768px) {

  .responsivo {
    width: 23%;
  }
}

@media (min-width: 992px) {

  .responsivo {
    width: 23%;
  }
}

@media (min-width: 1200px) {

  .responsivo {
    width: 23%;
  }
}


@media handheld, only screen and (max-width: 200px) {
.pc{
display:none;
}
}

@media only screen and (max-width: 450px) {
.pc{
display:none;
}
}


@media handheld, only screen and (min-width: 450px) {
.cel{
display:none;
align-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
}
}

@media only screen and (min-width: 2000px) {
.cel{
align-content: center;
text-align: center;
margin-left: auto;
margin-right: auto;
}
}