<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php

    $category = Mage::getModel('catalog/category')->load($this->getCategoryId());
    $_productCollection = $category->getProductCollection()->addAttributeToSort('position');
    Mage::getModel('catalog/layer')->prepareProductCollection($_productCollection);

    $_helper = $this->helper('catalog/output');
    $_guaEc = Mage::helper('googleuniversalanalytics/ecommerce');
?>


<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php // Grid Mode ?>
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = 5; ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if($i!=5): ?>
            <?php if ($i++%$_columnCount==0): ?>
                <ul class="products-grid">
            <?php endif ?>
                    <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                        <?php //Google Analytics Product Impression
                            echo $_guaEc->getAddProductImpressionTag($_product, false, $i);
                        ?>
                        <div class="product-img-box">
                            <?php
                                $brand_name = $_product->getAttributeText('brands');
                                $brand_id = $_product->getBrands();
                                $brand_image = $this->helper('brands')->getBrandImage($brand_id);
                            ?>
                            <?php if($brand_image && $brand_name): ?>
                                <img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
                            <?php endif; ?>
                            <div class="prolabel-wrapper">
                                <?php echo Mage::helper('prolabels')->getLabel($_product, 'category'); ?>
                                <a <?php echo $_guaEc->getProductLinkData($_product, false, $i); ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(180); ?>" width="180" height="180" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                            </div>
                        </div>
                        <h2 class="product-name"><a <?php echo $_guaEc->getProductLinkData($_product, false, $i); ?> href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> <?php echo Mage::helper('core/freegift')->renderFreeGiftLabel($_product);?></a></h2>
                        <?php
                        /*Not using ratings or reviews for the moment
                            if($_product->getRatingSummary()):
                                echo $this->getReviewsSummaryHtml($_product, 'short')
                            endif;
                            echo Mage::helper('core/freegift')->renderFreeGiftCatalogList($_product);
                        */
                        ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <?php
                        $final_price = $_product->getFinalPrice();
                        $cant_cuotas = floor($final_price/10000);

                        if ($cant_cuotas > 36):
                            $cant_cuotas = 36;
                        elseif ($cant_cuotas < 2):
                            $cant_cuotas = 0;
                        endif;

                        if ($cant_cuotas > 0):
                            $price_cuotas = $final_price/$cant_cuotas;
                            ?>
                        <div class="cuotas">
                            <span class="text-cuotas"><?php echo $cant_cuotas ?> cuotas de</span>
                            <span class="price-cuotas"><?php echo Mage::helper('core')->currency($price_cuotas,true,false); ?></span>
                        </div>
                        <?php endif; ?>

                        <!-- if para que esto no salga por el momento -->
                        <?php if(3==4): ?>
                        <div class="actions">
                            <?php if($_product->isSaleable()): ?>
                                <?php if(!$_product->isGrouped()): ?>
                                <span class="qty_select">
                                <select name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>">
                                  <option value="1" selected="selected">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                </select>
                                </span>
                                <?php else: ?>
                                <input type="hidden" value="" name="qty_<?php echo $_product->getId(); ?>" class="input-text qty" id="qty_<?php echo $_product->getId(); ?>" />
                                <?php endif; ?>
                                <input type="hidden" value="<?php echo $this->getAddToCartUrl($_product) ?>" name="prod_url_<?php echo $_product->getId(); ?>" class="input-text qty" id="prod_url_<?php echo $_product->getId(); ?>" />
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button button-cart" onclick="addToCart('<?php echo $_product->getId(); ?>');"><span><span>Agregar <br />al carrito</span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                        </div>
                        <?php endif; ?>
                    </li>
            <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
                </ul>
            <?php endif ?>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <form action="" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
    <input name="qty" type="hidden" class="input-text qty" id="qty" maxlength="12" />
    </form>
    <script type="text/javascript">
                function addToCart(productId){
                    var qty = $('qty_'+productId).value;
                    var url = $('prod_url_'+productId).value;
                    $('qty').value = qty;
                    $('product_addtocart_form').writeAttribute('action', url);
                    var productAddToCartForm = new VarienForm('product_addtocart_form');
                    productAddToCartForm.value = qty;
                    productAddToCartForm.submit();
                }
    </script>
</div>
<?php endif; ?>
