<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
	$_resource = $_product->getResource();
	$sizes 		= $_resource->getAttribute('wheelsfinder_sizes')->getFrontend();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
	<div class="view-top">

<?php
	$medidas_sin_pulgadas = substr($sizes->getValue($_product), 0, -2);
	$medidas_sin_espacio = str_replace(" ", "/", $medidas_sin_pulgadas);
	$matriz_medidas_finales = explode("/", $medidas_sin_espacio);
	$medidas_con_guion = str_replace("/", "-", $medidas_sin_espacio);
	$medidas_con_rin = $matriz_medidas_finales[0]."/".$matriz_medidas_finales[1]." R".$matriz_medidas_finales[2];
	
	$brand_name = $_product->getAttributeText('brands');
	$brand_name_minusculas = strtolower($brand_name);
	$brand_name_con_guion_no_espacio = str_replace(" ", "-", $brand_name_minusculas);
	
?>

            <?php if ($brand_name_minusculas== "general" OR $brand_name_minusculas== "riken" OR $brand_name_minusculas== "taurus" OR $brand_name_minusculas== "uniroyal" OR $brand_name_minusculas== "nitto" OR $brand_name_minusculas== "euzkadi" OR $brand_name_minusculas== "fuzion" OR $brand_name_minusculas== "tigar" OR $brand_name_minusculas== "firestone" OR $brand_name_minusculas== "toyo" OR $brand_name_minusculas== "barum" OR $brand_name_minusculas== "kumho" OR $brand_name_minusculas== "hankook" OR $brand_name_minusculas== "pirelli" OR $brand_name_minusculas== "laufenn" OR $brand_name_minusculas== "maxxis" OR $brand_name_minusculas== "bridgestone" OR $brand_name_minusculas== "michelin" OR $brand_name_minusculas== "dunlop" OR $brand_name_minusculas== "goodyear" OR $brand_name_minusculas== "continental"): 
           $brand_name_con_guion_no_espacio = $brand_name_con_guion_no_espacio."-coche";
           endif; 
           ?>
Ver más -> <a title="llantas <?php echo $medidas_con_rin; ?>" href="/llantas-<?php echo $medidas_con_guion; ?>" target="_self"><span style="color: #0000ff; text-decoration: underline;">Llantas <?php echo $medidas_con_rin; ?></span></a> | <a title="Llantas <?php echo $brand_name; ?>" href="/llantas-<?php echo $brand_name_con_guion_no_espacio; ?>" target="_self"><span style="color: #0000ff; text-decoration: underline;">Llantas <?php echo $brand_name; ?></span></a>

	</div>
    <?php echo $this->getChildHtml('catalog.compare.sidebar') ?>
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>
			<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
			
			
<!-- Atributos -->
			<?php
	$_resource = $_product->getResource();
	
	$categoria 	= $_resource->getAttribute('categoria_rendimiento')->getFrontend();
	$tipo 		= $_resource->getAttribute('tipo_vehiculo')->getFrontend();
	$design		= $_resource->getAttribute('diseno_llanta')->getFrontend();
	$carga 		= $_resource->getAttribute('indice_de_carga')->getFrontend();
	$velocidad  = $_resource->getAttribute('indice_velocidad')->getFrontend();
	$sizes 		= $_resource->getAttribute('wheelsfinder_sizes')->getFrontend();
	$tecnologia_de	= $_resource->getAttribute('tecnologia_de')->getFrontend();
	$pais_procedencia = $_resource->getAttribute('pais_procedencia')->getFrontend();
?>
<div class="especificaciones">
<table id="especificaciones-table" cellpadding="0" cellspacing="0" border="0" width="100%" class="data-table">

<?php if($tipo->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $tipo->getLabel(); ?></td>
      <td><?php echo $tipo->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($categoria->getValue($_product)): ?>
	<tr>
      <td class="label"><?php echo $categoria->getLabel(); ?></td>
      <td><?php echo $categoria->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($design->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $design->getLabel(); ?></td>
      <td><?php echo $design->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($sizes->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $sizes->getLabel(); ?></td>
      <td><?php echo $sizes->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($carga->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $carga->getLabel(); ?></td>
      <td><?php echo $carga->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($velocidad->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $velocidad->getLabel(); ?></td>
      <td><?php echo $velocidad->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($tecnologia_de->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $tecnologia_de->getLabel(); ?></td>
      <td><?php echo $tecnologia_de->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

<?php if($pais_procedencia->getValue($_product)): ?>
	<tr>
	  <td class="label"><?php echo $pais_procedencia->getLabel(); ?></td>
      <td><?php echo $pais_procedencia->getValue($_product); ?></td>
    </tr>
<?php endif; ?>

</table>
	<div class="iconos">
		<a title="En más de 34 ciudades de la República | Clic para ver más" href="/serviteca" target="_blank"><img width="43" height="26" src="<?php echo $this->getSkinUrl('images/logo-instalacion-gratis.png') ?>"/>
		<p>Montaje gratis en 34 ciudades</p></a>
		<img width="43" height="23" src="<?php echo $this->getSkinUrl('images/icon-devoluciones.jpg') ?>"/>
		<p>Devoluciones sin costo</p>
		<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
<tr>
<td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.neumarket.com.mx&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=es"></script><br />
</td>
</tr>
</table>
	</div>
</div>	

<?php echo $this->getChildHtml('addto') ?>

<div class="price-cta-box">
            <?php echo $this->getChildHtml('product_type_data') ?>
            <?php echo $this->getTierPriceHtml() ?>
            <?php echo $this->getChildHtml('extrahint') ?>
            <div class="iva-inc">IVA incluido</div>
            <div class="price-4">
                <?php
                $cats = $_product->getCategoryIds();
                ?>
                <span class="price">
            	<?php
                if (in_array('34',$cats)) {
		    echo "Set de 4:";
		    $_formattedSpecialPrice = Mage::helper('core')->currency($_product->getFinalPrice()*3,true,false);
                    echo $_formattedSpecialPrice;
                    ?>
                    <span class="msg4">Agrega 4 unidades al carrito para obtener este descuento</span>
                    <?php
                }
                elseif (in_array('159',$cats)) {
		    echo "Set de 4:";
		    $_formattedSpecialPrice = Mage::helper('core')->currency($_product->getFinalPrice()*3,true,false);
                    echo $_formattedSpecialPrice;
                    ?>
                    <span class="msg4">Agrega 4 unidades al carrito para obtener este descuento</span>
                    <?php
                }
                elseif (in_array('131',$cats)) {
		    echo "Set de 4:";
		    $_formattedSpecialPrice = Mage::helper('core')->currency($_product->getFinalPrice()*3,true,false);
                    echo $_formattedSpecialPrice;
                    ?>
                    <span class="msg4">Agrega 4 unidades al carrito para obtener este descuento</span>
                    <?php
                }
                elseif (in_array('131',$cats)) {
                }                 
                else {
		    echo "Set de 4: ";
		    $_formattedSpecialPrice = Mage::helper('core')->currency($_product->getFinalPrice()*4,true,false);
		    echo $_formattedSpecialPrice;
                };
            	?>
                </span>
            </div>
	<div class="cta-box">
            <?php if(!$_product->isSaleable()): ?>
                <img class="not-available" src="<?php echo $this->getSkinUrl('images/not-available-prod.png') ?>" width="402" height="55">
                <span class="not-available-options-text">Este producto cuenta con pocas unidades, confirma la disponibilidad contactando a uno de nuestos asesores:</span>
                <div class="not-available-options">
                    <ul>
                        <li><img src="<?php echo $this->getSkinUrl('images/not-available-phone.png') ?>"/> Llamando al <strong>01800 8906213</strong></li>
                        <li><img src="<?php echo $this->getSkinUrl('images/not-available-chat.png') ?>"/> Iniciando un <a href="javascript:void($zopim.livechat.say('Consulta por disponibilidad de <?php echo $_product->getName() ?>?'))">Chat</a></li>
                        <li><img src="<?php echo $this->getSkinUrl('images/not-available-mail.png') ?>"/> Escríbenos a <strong>contacto.mx@neumarket.com</strong></li>
                    </ul>
                </div>
            <?php endif; ?>
            <?php echo $this->getChildHtml('alert_urls') ?>
            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                            <span class="or"><?php echo $this->__('OR') ?></span>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
    </div>
</div>


            <?php echo $this->getChildHtml('other');?>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>

        </div>

        <div class="product-img-box">
			
			<?php
				$brand_name = $_product->getAttributeText('brands');
				$brand_id = $_product->getBrands();
				$brand_image = $this->helper('brands')->getBrandImage($brand_id);
			?>
			<?php if($brand_image && $brand_name): ?>
				<img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>" width="140" height="72" />
			<?php endif; ?>
            
            <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="clearer"></div>
        <?php if ($_product->isSaleable() && $this->hasOptions()):?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        <?php endif;?>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
    <div class="product-collateral">
        <?php echo $this->getChildHtml('info_tabs') ?>
        <?php // echo $this->getChildHtml('product_additional_data') ?>
    </div>
	<div class="preduct-related">
		<?php echo $this->getChildHtml('upsell_products') ?>
	</div>
</div>