<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/* @var Mage_Wishlist_Model_Item $item */
$item = $this->getItem();
$product = $item->getProduct();
?>
<h5 class="product-name pull-left">
	<a href="<?php echo $this->getProductUrl($item) ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>">
		<?php echo $this->escapeHtml($product->getName()) ?>
	</a>
</h5>
<div class="table-button pull-right">
	<?php if ($product->isVisibleInSiteVisibility()): ?>
		<a class="link-edit" href="<?php echo $this->getItemConfigureUrl($item) ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
	<?php endif ?>
	<a href="<?php echo $this->getItemRemoveUrl($this->getItem()); ?>" onclick="return confirmRemoveWishlistItem();" title="<?php echo $this->__('Remove Item') ?>"><?php echo $this->__('<i class="icon-close"></i>');?></a>
</div>
<textarea class="form-control" name="description[<?php echo $item->getWishlistItemId() ?>]" rows="4" cols="5" onfocus="focusComment(this)" onblur="focusComment(this)" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Comment')); ?>"><?php echo ($this->escapeHtml($item->getDescription() ? $item->getDescription() : $this->helper('wishlist')->defaultCommentString())) ?></textarea>
<?php if($this->getSortedChildren()): ?>
	<div class="item-manage">
	<?php foreach($this->getSortedChildren() as $childName):?>
		<?php echo $this->getChildHtml($childName, false);?>
	<?php endforeach;?>
	</div>
<?php endif; ?>
