<?php if(count($this->getItemCollection()->getItems())): ?>
<div class="box-collateral box-up-sell">
    <h2><?php echo $this->__('Llantas similares') ?></h2>
    <table class="mini-products-grid" id="upsell-product-table">
    <?php $this->setColumnCount(4); // uncomment this line if you want to have another number of columns. also can be changed in layout ?>
    <?php $this->resetItemsIterator() ?>
    <?php for($_i=0;$_i<$this->getRowCount();$_i++): ?>
        <tr>
        <?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
            <?php if($_link=$this->getIterableItem()): ?>
            <td>
               <div class="product-img-box">
					<?php
						$brand_name = $_link->getAttributeText('brands');
						$brand_id = $_link->getBrands();
						$brand_image = $this->helper('brands')->getBrandImage($brand_id);
					?>
					<?php if($brand_image): ?>
						<img class="product-manufacturer-logo" src="<?php echo $brand_image; ?>" alt="<?php echo $brand_name; ?>">
					<?php endif; ?>
                    
					<a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_link, 'small_image'), null, true) ?>" class="product-image">
						<img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(168); ?>" width="168" height="168" alt="<?php echo $this->stripTags($this->getImageLabel($_link, 'small_image'), null, true) ?>" />
					</a>
				</div>
                <h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>"><?php echo $this->htmlEscape($_link->getName()) ?></a></h3>
                <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
                <?php echo $this->getReviewsSummaryHtml($_link) ?>
				<div class="actions">
                    <?php if($_link->isSaleable()): ?>
                        <span class="qty_select">
                        <select name="qty_<?php echo $this->getId(); ?>" class="input-text qty" id="qty_<?php echo $this->getId(); ?>">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4" selected="selected">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                        </span>
                        
                        <input type="hidden" value="<?php //echo $this->getAddToCartUrl($_product) ?>" name="prod_url_<?php echo $this->getId(); ?>" class="input-text qty" id="prod_url_<?php echo $this->getId(); ?>" />
                        
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button button-cart" onclick="addToCart('<?php echo $this->getId(); ?>');"><span><span>Agregar <br />al carrito</span></span></button>
                        
                    <?php endif; ?>
					<ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_link) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if($_compareUrl=$this->getAddToCompareUrl($_link)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Agregar a comparar') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </td>
            <?php else: ?>
            <td class="empty">&nbsp;</td>
            <?php endif; ?>
        <?php endfor; ?>
        </tr>
    <?php endfor; ?>
    </table>
    <script type="text/javascript">decorateTable('upsell-product-table')</script>
</div>
<?php endif ?>
