<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

$meigeeOptions = $this->getLayout();
$lightBox = $meigeeOptions->getMConfigResultByAlias('lightbox_listing');
$addToCart = $this->getAddToCartFooterList();
$productName = $this->getProductNameFooterList();
$productPrice = $this->getPriceFooterList();
$compare = $this->getCompareFooterList();
$wishlist = $this->getWishlistFooterList();
$widgetId = $this->getWidgetId();
$imgSize = $this->getImgWidth();
if(!$imgSize){
	$imgSize = 320;
}
?>
<div class="widget-products">
	<?php
		echo $this->getPager();
		$collection = $this->getCollection();
	?>
	<ul class="footer-products-list">
		<?php foreach ($collection as $product): ?>
			<li class="item clearfix">
				<div class="product-inner">
					<div class="image-box media-left">
						<?php if($lightBox){ ?>
							<div class="hover-buttons">
								<a href="<?php echo $product->getProductMediaResized(930, 'small_image')->getImageSrc(); ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>">
									<i class="icon-magnifier"></i>
								</a>
							</div>
						<?php } ?>
						<a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" class="product-image">
							<?php
								echo $product->productHoverImage($this, $imgSize, 'with-mobile', 385);
								$escaped_label = $this->stripTags($product->getName(), null, true);
								echo '<img '. $product->getProductMediaResized($imgSize, 'small_image', 'with-mobile', 385)
									->addImageHtmlAttributte('width', $imgSize)
									->addImageHtmlAttributte('alt', $escaped_label)
									->addImageHtmlAttributte('title', $escaped_label)
									->getImageHtmlAttributte().' />';
							?>
						</a>
					</div>
					<?php // Product description ?>
					<div class="product-shop clearfix media-body">
						<div class="f-fix">
							<?php $_productNameStripped = $this->stripTags($product->getName(), null, true); ?>
							<?php if($productName): ?>
								<h5 class="product-name"><a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $product->getName(); ?></a></h5>
							<?php endif; ?>

							<?php if($productPrice || $compare || $wishlist): ?>
								<div class="price-add-to-wrapper">
									<?php if($productPrice):
										echo $this->getPriceHtml($product, true, '-widget-'.$widgetId);
									endif; ?>
									<?php if($compare || $wishlist) : ?>
										<ul class="add-to-links">
											<?php if (($this->helper('wishlist')->isAllow()) && $wishlist) : ?>
												<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($product) ?>" class="link-wishlist"><i class="fa fa-heart"></i><span><?php echo $this->__('Add to wishlist'); ?></span></a></li>
											<?php endif; ?>
											<?php if(($_compareUrl=$this->getAddToCompareUrl($product)) && $compare): ?>
												<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-exchange"></i><span><?php echo $this->__('Add to compare'); ?></span></a></li>
											<?php endif; ?>
										</ul>
									<?php endif; ?>
								</div>
							<?php endif; ?>
							<?php if($addToCart): ?>
								<div class="product-buttons">
									<?php if($addToCart){ ?>
										<?php if($product->isSaleable()): ?>
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="btn btn-default" onclick="setLocation('<?php echo $this->getAddToCartUrl($product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
										<?php else: ?>
											<a class="btn btn-default" href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->__('Read More'); ?>"><?php echo $this->__('Read More'); ?></a>
										<?php endif; ?>
									<?php } ?>
								</div>
							<?php endif; ?>
						</div>
					</div>
				</div>
			</li>
		<?php endforeach; ?>
	</ul>
	<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
	<?php echo $this->getPager(); ?>
</div>
