<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="box-account box-tags">
	<div class="page-subtitle clearfix">
		<h2><?php echo $this->__('My Recent Tags') ?></h2>
		<a class="pull-right" href="<?php echo $this->getAllTagsUrl() ?>"><?php echo $this->__('View All Tags') ?></a>
	</div>
	<ul id="my_recent_tags">
		<?php $iterator = 0; ?>
		<?php foreach( $this->getCollection()->getItems() as $_item ): ?>
		<li class="item">
			<span class="number"><?php echo ++$iterator ?></span>
			<div class="details">
				<h5 class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></h5>
				<div class="tags">
					<strong><?php echo $this->__('Tags:') ?></strong>
					<?php $_i = 0; ?>
					<ul>
					<?php foreach( $_item->getProductTags() as $_tag ): ?>
						<li><a href="<?php echo $_tag->getViewTagUrl() ?>"><?php echo $this->escapeHtml($_tag->getName()) ?></a><?php if(++$_i != sizeof($_item->getProductTags()->getItems())): ?>,<?php endif; ?></li>
					<?php endforeach; ?>
					</ul>
				</div>
			</div>
		</li>
		<?php endforeach; ?>
	</ul>
	<script type="text/javascript">decorateList('my_recent_tags', 'none-recursive');</script>
</div>
