<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
 * Grouped product data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 * @see Mage_Catalog_Block_Product_View_Type_Grouped
 */
?>
<?php $this->setPreconfiguredValue(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<script type="text/javascript">
	decorateTable('super-product-table');
	function qtyDown(id){
		var qty_el = document.getElementById('qty_' + id);
		var qty = qty_el.value;
		if( qty == 2) {
		jQuery('.quantity_box_button_down').css({
			'visibility' : 'hidden'
		});
		}
		if( !isNaN( qty ) && qty > 0 ){
		qty_el.value--;
		}
		return false;
	}

	function qtyUp(id){
		var qty_el = document.getElementById('qty_' + id);
		var qty = qty_el.value;
		if( !isNaN( qty )) {
		qty_el.value++;
		}
		jQuery('.quantity_box_button_down').css({
		'visibility' : 'visible'
		});
		return false;
	}

</script>
<table class="table table-bordered responsive-table" id="super-product-table">
    <col />
    <col />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <th><?php echo $this->__('Price') ?></th>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <th><?php echo $this->__('Qty') ?></th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
            <td><?php echo $this->escapeHtml($_item->getName()) ?></td>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <td>
                <?php if ($this->getCanShowProductPrice($_item)): ?>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <?php echo $this->getTierPriceHtml($_item) ?>
                <?php endif; ?>
            </td>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <td>
            <?php if ($_item->isSaleable()) : ?>
				<div class="quantity-wrapper clearfix">
					<?php  $random = rand(5, 1500); ?>
					<div class="quantity-decrease btn-qty" onclick="qtyDown(<?php echo $random; ?>)"><i class="icon-arrow-left"></i></div>
					<input type="text" id="qty_<?php echo $random; ?>" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')); ?>" class="form-control qty" />
					<div class="quantity-increase btn-qty" onclick="qtyUp(<?php echo $random; ?>)"><i class="icon-arrow-right"></i></div>
				</div>
            <?php else: ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            </td>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('super-product-table')</script>
