<div class="b2b-header">
    <div>
        <h1>VENTAS CORPORATIVAS</h1>
        <h2>TODO LO QUE TU EMPRESA NECESITA</h2>
        <h3>DESCUENTOS ESPECIALES AL POR MAYOR</h3>
    </div>
</div>
<div class="b2b-content">
    <div class="left">
        <ul>
            <li><span>Llantas</span><img width="130" height="130" src="<?php echo $this->getSkinUrl('images/b2b-llantas.jpg') ?>"></li>
            <li><span>Rines</span><img width="130" height="130" src="<?php echo $this->getSkinUrl('images/b2b-rins.jpg') ?>"></li>
            <li><span>Partes y Accesorios</span><img width="130" height="130" src="<?php echo $this->getSkinUrl('images/b2b-partes.jpg') ?>"></li>
        </ul>
    </div>
    <div class="right">
        <div class="box simple_contact">
            <form id="simple_contact_form" name="simple_contact_form" action="<?php echo $this->getUrl('contacto-b2b/') ?>index/sendemail" method="post">
                <fieldset class="group-select">
                    <h4 class="legend">Consúltanos para mas información</h4>
                    <ul>
                        <li>
                            <div class="input-box">
                                <label for="name">Nombre</label>
                                <input name="name" id="name" title="Name" value="" class="required-entry input-text" type="text" />
                            </div>

                            <div class="input-box">
                                <label for="email">E-mail</label>
                                <input name="email" id="email" title="Email" value="" class="required-entry input-text validate-email" type="text" />
                            </div>

                            <div class="input-box">
                                <label for="email">Teléfono</label>
                                <input name="tel" id="tel" title="Telefono" value="" class="input-text" type="text" />
                            </div>

                            <div class="input-box">
                                <label for="comment">Comentario</label>
                                <textarea name="comment" id="comment" title="Comment" class="required-entry input-text" cols="30" rows="3"></textarea>
                            </div>
                        </li>
                    </ul>
                </fieldset>
                <div class="button-set">
                    <button class="form-button" type="submit"><span>Enviar</span></button>
                </div>
            </form>
        </div>
        <div class="contact2">
            <div class="contact-left">
                <span class="title">E-mail</span>
                <span>ventas.corporativas@neumarket.com</span>
            </div>
            <div class="contact-right">
                <span class="title">Teléfono</span>
                <span>12312312323</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //< ![CDATA[
    var myForm= new VarienForm('simple_contact_form', true);
    //]]>
</script>