<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
	$helper = Mage::helper('thememanager/themeConfig');
	$contactMapApi = $helper->getThemeConfigResultByAliase('google_api');
	$contactMapLat = $this->getGoogleLatitude();
	$contactMapLong = $this->getGoogleLongitude();
	$contactMapZoom = $this->getGoogleMapZoom();
	$contactMapType = $this->getGoogleMapType();
	$contactMapMarker = $this->getGoogleMarker();
	$contactMarkerTitle = $this->getGoogleMarkerTitle();
	$contactBlock = $this->getGoogleStaticBlockForDetails();
	$contactBlockStatic = $this->getGoogleDetailsBlockStatus();
	$contactBlockWidth = $this->getGoogleDetailsBlockWidth();
	$contactBlockHeight = $this->getGoogleDetailsBlockHeight();
	$contactBlockPosition = $this->getGoogleDetailsBlockPosition();
	$random = rand(5, 1500);
?>
<!DOCTYPE html>
<html>
	<head>
		<title>Map</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js<?php if($contactMapApi){ ?>?key=<?php echo $contactMapApi; } ?>"></script>
		<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery-1.11.2.min.js'); ?>"></script>
		<link media="all" href="<?php echo $this->getSkinUrl('css/styles.css') ?>" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	</head>
	<body class="map-body">
		<div class="map-container">
			<?php if($contactBlockStatic): ?>
			<div class="map-block<?php echo ' '.$contactBlockPosition; ?>" style="width:<?php echo $contactBlockWidth; ?>px; height:<?php echo $contactBlockHeight; ?>px;">
				<div class="indent">
					<?php echo $contactBlock ?>
				</div>
			</div>
			<?php endif; ?>
			<div id="map_canvas_<?php echo $random; ?>" class="map-wrapper"></div>
		</div>
		<script type="text/javascript">
			var links = window.parent.document.getElementsByTagName("link");
			for (i in links)
			{
				var href = links[i].href;
				var rel = links[i].rel;
				var media = links[i].media;
				if (rel == "stylesheet" && href && href != "")
				{
					var fileref=document.createElement("link");
					fileref.setAttribute("type","text/css");
					fileref.setAttribute("rel","stylesheet");
					fileref.setAttribute("media",media);
					fileref.setAttribute("href",href);
					document.getElementsByTagName("head")[0].appendChild(fileref);
				}
			}
			function initialize_<?php echo $random; ?>(){
				myLatlng = new google.maps.LatLng(<?php echo $contactMapLat;?>, <?php echo $contactMapLong;?>);
				map_canvas = document.getElementById('map_canvas_<?php echo $random; ?>');
				map_options = {
					center: myLatlng,
					zoom: <?php echo $contactMapZoom;?>,
					mapTypeId: google.maps.MapTypeId.<?php echo $contactMapType;?>
				}
				map_<?php echo $random; ?> = new google.maps.Map(map_canvas, map_options)
				<?php if($contactMapMarker): ?>
				marker = new google.maps.Marker({
					position: myLatlng,
					map: map_<?php echo $random; ?>,
					title: '<?php echo $contactMarkerTitle; ?>'
				});
				<?php endif; ?>
			}
			google.maps.event.addDomListener(window, 'load', initialize_<?php echo $random; ?>);
			parentBody = window.parent.document.getElementsByTagName('body');
			sizeMarker = 0;
			currentSize = jQuery(parentBody).width();
            if(currentSize < 480){currentSize = 1;}
			if(currentSize > 479 && currentSize < 768){currentSize = 2;}
			if(currentSize > 767 && currentSize < 977){currentSize = 3;}
			if(currentSize > 1279){currentSize = 4;}
			jQuery(window).resize(function(){
				if (jQuery(parentBody).width() < 480) {
					sizeMarker = 1;
				}
				if (jQuery(parentBody).width() > 479 && jQuery(parentBody).width() < 768) {
					sizeMarker = 2;
				}
				if (jQuery(parentBody).width() > 767 && jQuery(parentBody).width() < 977){
					sizeMarker = 3;
				}
				if (jQuery(parentBody).width() > 1279){
					sizeMarker = 4;
				}
				if(currentSize != sizeMarker){
					initialize_<?php echo $random; ?>();
					currentSize = sizeMarker;
				}
			});
		</script>
	</body>
</html>
