<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
if (Mage::app()->getRequest()->getParam('isAjax'))
  return;
 $popupCookie = Mage::getModel('core/cookie')->get("porterPopup");
 if(!$popupCookie):
	$meigeeOptions = $this->getLayout();
	$popupStatus = $meigeeOptions->getMConfigResultByAlias('popup_status');
	$delay = $meigeeOptions->getMConfigResultByAlias('popup_delay') * 1000;
	$expires = $meigeeOptions->getMConfigResultByAlias('popup_expires');
	$popupWidth = $meigeeOptions->getMConfigResultByAlias('popup_width');
	$popupHeight = $meigeeOptions->getMConfigResultByAlias('popup_height');
	$popupStatic = $meigeeOptions->getMConfigResultByAlias('popup_static');
	$popupOnlyHome = $meigeeOptions->getMConfigResultByAlias('popup_onlyhome');
	$popupMobile = $meigeeOptions->getMConfigResultByAlias('popup_mobile');
	$popupTablet = $meigeeOptions->getMConfigResultByAlias('popup_tablet');
	$isHome = $this->getLayout()->isHomePage();
	if(($popupOnlyHome && $isHome) || !$popupOnlyHome) {
 ?>
		<div class="modal fade popup-block<?php echo(!$popupMobile ? ' mobile-hide' : '').''.(!$popupTablet ? ' tablet-hide' : ''); ?>" id="popup-block" tabindex="-1" role="dialog" aria-hidden="true" >
		  <div class="modal-dialog" style="width:<?php echo $popupWidth; ?>px;">
			<div class="modal-content" style="height: <?php echo $popupHeight; ?>px; width: <?php echo $popupWidth; ?>px; margin-top: -<?php echo ($popupHeight/2); ?>px;">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-close"></i></span></button>
			  </div>
			  <div class="modal-body clearfix">
				<?php echo $popupStatic; ?>
				<label class="popup-bottom"><input type="checkbox"><?php echo $this->__('Don’t show this popup again'); ?></label>
			  </div>
			</div>
		  </div>
		</div>
		<script type="text/javascript">
			/* Block init */
			function popupBlock() {
				<?php if($delay != 0): ?>
				setTimeout(function(){
				<?php endif; ?>
					jQuery('#popup-block').modal({
						show: true
					});
				<?php if($delay != 0): ?>
				}, <?php echo $delay; ?>);
				<?php endif; ?>
			}
			isSuccess = jQuery('ul.messages li.success-msg').length;
			subscribeFlag = jQuery.cookie('porterPopupFlag');
			function subsSetcookie(){
				jQuery.cookie('porterPopup', 'true', {
					expires: <?php echo $expires; ?>,
					path: '/'
				});
			}
			if(!(subscribeFlag && isSuccess)){
				popupBlock();
			}else{
				jQuery.removeCookie('porterPopupFlag', { path: '/' });
				subsSetcookie();
			}
			jQuery('#popup-block').parents('body').css({
				'padding' : 0,
				'overflow' : 'visible'
			});
			jQuery('#popup-block .popup-bottom input').on('click', function(){
				if(jQuery(this).parent().find('input:checked').length){
					subsSetcookie();
				} else {
					jQuery.removeCookie('porterPopup', { path: '/' });
				}
			});
			setTimeout(function(){
				jQuery('#popup-block button.close').on('click', function(){
					jQuery.cookie('porterPopup', 'true');
				});
			}, 1000);

			if(jQuery('#popup-block .popup-content-wrapper').data('bgcolor')){
				jQuery('#popup-block .popup-content-wrapper').addClass('no-bgimg');
				var bgColor = jQuery('#popup-block .popup-content-wrapper').data('bgcolor');
				jQuery('#popup-block .popup-content-wrapper').attr('style', bgColor);
			}

			if(jQuery('#popup-block .popup-content-wrapper').data('bgimg')){
				var bgImg = jQuery('#popup-block .popup-content-wrapper').data('bgimg');
				jQuery('#popup-block .popup-content-wrapper').attr('style', bgImg);
			}

			if((jQuery('#popup-block .popup-content-wrapper').data('bgimg')) && (jQuery('#popup-block .popup-content-wrapper').data('bgcolor'))) {
				jQuery('#popup-block .popup-content-wrapper').attr('style', bgImg + bgColor);
			}
		</script>
<?php
	}
endif;
