<div class="benefits">
    <div class="benefits-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="item">
                    <img src="/skin/frontend/porter/default/images/dias_de_cambio.png" alt="Dias Para Cambio">
                    <span>DÍAS PARA<br />CAMBIO</span>
                </div>
                <div class="item">
                    <img src="/skin/frontend/porter/default/images/pago_seguro.png" alt="Pago seguro cualquier tarjeta">
                    <span>PAGO SEGURO<br />cualquier tarjeta</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="item">
                    <img src="/skin/frontend/porter/default/images/instalacion_gratis.png" alt="Instalación gratis">
                    <span>INSTALACIÓN<br />GRATIS</span>
                </div>
                <div class="item">
                    <img src="/skin/frontend/porter/default/images/pago_contra_entrega.png" alt="Pago contra entrega">
                    <span>Pago Contra-Entrega<br />En 278 Ciudades</span>
                </div>
            </div>
        </div>
    </div>
</div>