<?php

$brands_collection = Mage::getModel('brands/brand')->getcollection();
$_helper = Mage::helper('brands');

$imgCounter = 1;

?>

<?php if( count($brands_collection) ): ?>
    <ul class="rslides2" id="fabricantes">
        <?php foreach($brands_collection as $brand): ?>
            <?php if($brand->getData('is_active')): ?>
                <?php $image = $_helper->getBrandImage($brand->getId()); ?>
                <?php if($image): ?>
                    <?php if ($imgCounter == 1) : ?>
                        <li>
                    <? endif; ?>
                    <?php $brandnombre = $brand->getName(); ?>
                    <?php if ($brandnombre == "General" OR $brandnombre == "Riken" OR $brandnombre == "Taurus" OR $brandnombre == "Uniroyal" OR $brandnombre == "Nitto" OR $brandnombre == "Euzkadi" OR $brandnombre == "Fuzion" OR $brandnombre == "Tigar" OR $brandnombre == "Firestone" OR $brandnombre == "Toyo" OR $brandnombre == "Barum" OR $brandnombre == "Kumho" OR $brandnombre == "Hankook" OR $brandnombre == "Pirelli" OR $brandnombre == "Laufenn" OR $brandnombre == "Maxxis" OR $brandnombre == "Bridgestone" OR $brandnombre == "Michelin" OR $brandnombre == "Dunlop" OR $brandnombre == "Goodyear" OR $brandnombre == "Continental"):  ?>
                        <a href="<?php echo Mage::getUrl(null, array('_direct' => $brand->getIdentifier())); ?>-coche" title="<?php echo $brand->getName() ?>">
                            <img src="<?php echo $image; ?>" alt="<?php echo $brand->getName() ?>" width="142" height="70">
                        </a>
                    <?php else: ?>
                        <a href="<?php echo Mage::getUrl(null, array('_direct' => $brand->getIdentifier())); ?>" title="<?php echo $brand->getName() ?>">
                            <img src="<?php echo $image; ?>" alt="<?php echo $brand->getName() ?>" width="142" height="70">
                        </a>
                    <?php endif; ?>
                    <?php if($imgCounter == 6): ?></li><? $imgCounter=0; endif; ?>
                    <?php ++$imgCounter; endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if ( $imgCounter != 1 ) :  ?></li><?php endif; ?>
    </ul>
<?php endif; ?>