<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
$_product = $this->getProduct();
$meigeeOptions = $this->getLayout();
$timerStatus = $meigeeOptions->getMConfigResultByAlias('timer_status');
$timerProductStatus = $meigeeOptions->getMConfigResultByAlias('timer_product_status');
$timerTitle = $meigeeOptions->getMConfigResultByAlias('timer_product_title');
$timerFormat = $meigeeOptions->getMConfigResultByAlias('timer_product_format');
$timerDisplay = $meigeeOptions->getMConfigResultByAlias('timer_product_display');
$specialprice = $_product->getSpecialPrice();
$specialPriceFromDate = $_product->getSpecialFromDate();
$specialPriceToDate = $_product->getSpecialToDate();
$today =  time();
?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
	<?php if($timerStatus && $timerProductStatus) {
		if ($specialprice && isset($specialPriceFromDate) && isset($specialPriceToDate)):
		if($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime( $specialPriceFromDate) && is_null($specialPriceToDate)):
		?>
			<div class="timer-<?php echo $_product->getId(); ?> timer-box clearfix<?php if($timerDisplay == 0): ?> no-days<?php endif; ?>">
				<?php if($timerTitle): ?>
					<span class="title"><?php echo $this->__('Offer ends in:') ?></span>
				<?php endif; ?>
				<?php if ($timerFormat == 0) { ?>
					<div class="days"><span>00</span></div>
					<div class="hours"><span>00</span></div>
					<div class="minutes"><span>00</span></div>
					<div class="seconds"><span>00</span></div>
				<?php } elseif ($timerFormat == 1) { ?>
					<div class="days"><span>00</span><?php echo $this->__('d'); ?></div>
					<div class="hours"><span>00</span><?php echo $this->__('h'); ?></div>
					<div class="minutes"><span>00</span><?php echo $this->__('m'); ?></div>
					<div class="seconds"><span>00</span><?php echo $this->__('s'); ?></div>
				<?php } elseif ($timerFormat == 2) { ?>
					<div class="days"><span>00</span><strong><?php echo $this->__('Days'); ?></strong></div>
					<div class="hours"><span>00</span><strong><?php echo $this->__('Hours'); ?></strong></div>
					<div class="minutes"><span>00</span><strong><?php echo $this->__('Min'); ?></strong></div>
					<div class="seconds"><span>00</span><strong><?php echo $this->__('Sec'); ?></strong></div>
				<?php } ?>
			</div>
			<script type="text/javascript">
				endDate = new Date("<?php echo Date("m/d/y", strtotime($specialPriceToDate)).' 11:59:00 PM'; ?>");
				startDate = new Date(Date.parse("<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>"));
				dateDiff = new Date((endDate)-(startDate));
				secondsDiff = Math.floor(dateDiff.valueOf()/1000);
				minutesDiff = Math.floor(secondsDiff.valueOf()/60);
				new productTimer.init(secondsDiff, <?php echo $_product->getId(); ?>);
			</script>
	<?php
		endif;
	endif;
	} ?>
    <div class="row">
		<div class="add-to-cart pull-right">

                <?php if(!$_product->isGrouped()): ?>
                    <div class="quantity-wrapper clearfix">


                        <?php
                        $buttonTitle = $this->__('Add to Cart');
                        ?>

                                <?php if(!$_product->isGrouped()): ?>
                                    <label for="qty"><?php echo $this->__('Qty:') ?></label>
                                    <!-- input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" / -->
                                    <span class="qty_select">
                                        <select name="qty" class="input-text qty" id="qty">
                                          <option value="1" <?php if($this->getProductDefaultQty() * 1 == 1): ?>selected="selected"<?php endif; ?>>1</option>
                                          <option value="2" <?php if($this->getProductDefaultQty() * 1 == 2): ?>selected="selected"<?php endif; ?>>2</option>
                                          <option value="3" <?php if($this->getProductDefaultQty() * 1 == 3): ?>selected="selected"<?php endif; ?>>3</option>
                                          <option value="4" <?php if($this->getProductDefaultQty() * 1 == 4): ?>selected="selected"<?php endif; ?>>4</option>
                                          <option value="5" <?php if($this->getProductDefaultQty() * 1 == 5): ?>selected="selected"<?php endif; ?>>5</option>
                                          <option value="6" <?php if($this->getProductDefaultQty() * 1 == 6): ?>selected="selected"<?php endif; ?>>6</option>
                                          <option value="7" <?php if($this->getProductDefaultQty() * 1 == 7): ?>selected="selected"<?php endif; ?>>7</option>
                                          <option value="8" <?php if($this->getProductDefaultQty() * 1 == 8): ?>selected="selected"<?php endif; ?>>8</option>
                                        </select>
                                    </span>
                                <?php endif; ?>


                        <!-- label for="qty"><?php echo $this->__('Qty:') ?></label>
                        <div class="quantity-decrease btn-qty" onclick="qtyDown()"><i class="icon-arrow-left"></i></div>
                        <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')); ?>" class="form-control qty" />
                        <div class="quantity-increase btn-qty" onclick="qtyUp()"><i class="icon-arrow-right"></i></div -->
                    </div>
                <?php endif; ?>
                <button type="button" title="<?php echo $buttonTitle ?>" id="product-addtocart-button" class="btn btn-primary type-2" onclick="productAddToCartForm.submit(this)"><i class="fa fa-shopping-cart"></i><span><?php echo $buttonTitle ?></span></button>
                <?php echo $this->getChildHtml('', true, true) ?>

		</div>
    </div>
	<?php if(!$_product->isGrouped()): ?>
		<script type="text/javascript">
			var qty_el = document.getElementById('qty');
			var qty = qty_el.value;
			if(qty < 2){
				jQuery('.quantity_box_button_down').css({
				'visibility' : 'hidden'
				});
			}
			function qtyDown(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				if( qty == 2) {
				jQuery('.quantity_box_button_down').css({
					'visibility' : 'hidden'
				});
				}
				if( !isNaN( qty ) && qty > 0 ){
				qty_el.value--;
				}
				return false;
			}

			function qtyUp(){
				var qty_el = document.getElementById('qty');
				var qty = qty_el.value;
				if( !isNaN( qty )) {
				qty_el.value++;
				}
				jQuery('.quantity_box_button_down').css({
				'visibility' : 'visible'
				});
				return false;
			}
		</script>
	<?php endif; ?>
<?php endif; ?>
