<h4 class="title">Envío a Domicilio o Taller</h4>
<p>Una de las ventajas de Neumarket es que puedes hacer la compra desde cualquier lugar de la República Mexicana y nosotros te enviamos las llantas hasta la puerta de tu casa u oficina.</p>
<p>Tus llantas llegarán en el transcurso de 3 a 5 días hábiles, dependiendo de la ciudad de destino. En algunas ocasiones las llantas las traemos directamente de planta, esto nos genera un retraso en los tiempos normales de entrega que pueden ser entre 8 y 15 días hábiles. En dado caso que esto llegue a ocurrir uno de nuestros asesores se contactará para indicarte el tiempo que se tardará el producto.</p>
</br>
</br>
<h4 class="title">Instalación Gratis en Taller Asociado</h4>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td align="left">
                <p>Neumarket cuenta con una <span style="text-decoration: underline;">Red Experta de Talleres Asociados</span> en México, en ellas usted podr&aacute;:</p>
                <p>- <b>Recoger</b> las llantas que compr&oacute; en Neumarket</p>
                <p>- <b>Instalar</b> sus llantas GRATIS</p>
                <p><em>Recuerde que las llantas que se encuentran publicadas en Neumarket.com.mx no est&aacute;n disponibles en los Talleres Asociados. Primero es necesario realizar el pedido de sus llantas, para enviarlo desde la bodega hacia el taller que usted escoja.</em></p>
            </td>
            <td width="30"><span style="font-size: small;">&nbsp;</span></td>
            <td>
               <p><img style="display: block; margin-left: auto; margin-right: auto;" title="Instalaci&oacute;n Gratis" src="/media/como_funciona/free_installation.JPG" alt="Instalaci&oacute;n Gratis" width="129" height="155" /></p>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center" valign="middle" height="30">Revise nuestra Red Experta de Talleres Asociados, al realizar su pedido podrá seleccionar si desea que se le entreguen/instalen en alguna de ellas:</td>
        </tr>
    </tbody>
</table>
</br>
<div id="buscador-servitecas">
    <?php $ciudades_availables = $this->getCiudades(); ?>
    <div class="servitecas-left">
        <?php if(count($ciudades_availables)): ?>
            <div class="ciudad-selector">
                <span>Ciudad</span>
                <select id="select-ciudad">
                    <option value="seleccionar">Seleccionar</option>
                    <?php
                    foreach($ciudades_availables as $ciudad):
                        if($ciudad != ''):
                            $serviteca_by_ciudad = $this->getServitecaByCiudad($ciudad);
                            if (count($serviteca_by_ciudad) > 0):
                                echo '<option value="'.strtolower( str_replace(' ', '-', $ciudad) ).'">'.$ciudad.'</option>';
                            endif;
                        endif;
                    endforeach;
                    ?>
                </select>
            </div>
            <div class="serviteca-list">
                <?php $i = 0; ?>
                <?php foreach($ciudades_availables as $ciudad): ?>
                    <?php if($ciudad != ''): ?>
                        <?php $serviteca_by_ciudad = $this->getServitecaByCiudad($ciudad); ?>
                        <?php foreach($serviteca_by_ciudad as $serviteca): ?>
                            <?php if($serviteca->getData('is_active')): ?>
                                <div id="<?php echo $i ?>" class="serviteca-item" data-city="<?php echo strtolower( str_replace(' ', '-', $ciudad) ); ?>">
                                    <span class="serviteca-nombre"><?php echo $serviteca->getNombre(); ?></span>
                                    <span><?php echo $serviteca->getDireccion(); ?></span>
                                </div>
                                <?php $i++; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    </div>

    <div id="map_canvas" class="servitecas-right"></div>
    <script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleMapsKey(); ?>&callback=generate_maps&language=es"></script>

    <script type="text/javascript">

        function generate_maps() {

            markers = [];
            window.map = new google.maps.Map(document.getElementById('map_canvas'), {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow;
            var bounds = new google.maps.LatLngBounds;

            <?php $i = 0; ?>
            <?php foreach($ciudades_availables as $ciudad): ?>
                <?php if($ciudad != ''): ?>
                    <?php $serviteca_by_ciudad = $this->getServitecaByCiudad($ciudad); ?>
                    <?php foreach($serviteca_by_ciudad as $serviteca): ?>
                        <?php if($serviteca->getData('is_active')): ?>
                            content = "<strong style='font-size:16px'><?php echo $serviteca->getNombre(); ?></strong>" + "<br/>" + "<?php echo $serviteca->getDireccion(); ?>" + "<br/>" + "<?php echo $serviteca->getDescr(); ?>";
                            latlng = new google.maps.LatLng(<?php echo $serviteca->getLat(); ?>,<?php echo $serviteca->getLng(); ?>);
                            createmarker(<?php echo $i ?>, latlng, content);
                            <?php $i++; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            <?php endforeach; ?>
            map.fitBounds(bounds);

            var listener = google.maps.event.addListener(map, "idle", function () {
                map.setZoom(5);
                google.maps.event.removeListener(listener);
            });

            google.maps.event.addListener(infowindow,'closeclick',function(){
                jQuery('.serviteca-item').removeClass('selected');
            });

            jQuery('#select-ciudad').bind('change', function(){
                jQuery('#select-ciudad option[value="seleccionar"]').remove();
                var bounds = new google.maps.LatLngBounds();
                var val_selectet = jQuery(this).val();
                if(val_selectet !== ''){
                    jQuery('.serviteca-item').each(function(){
                        if( jQuery(this).data('city') !== val_selectet ){
                            jQuery(this).hide();
                        }else{
                            jQuery(this).fadeIn(200);
                            var  markerNum = jQuery(this).attr('id');
                            bounds.extend(markers[markerNum].position);
                        }
                    });
                }
                map.fitBounds(bounds);
            });

            jQuery('.serviteca-item').click(function(){
                var  markerNum = jQuery(this).attr('id');
                google.maps.event.trigger(markers[markerNum], 'click');
                map.setZoom(15);
                map.panTo(markers[markerNum].position);
            });

            function createmarker(num, latlng, content){

                marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });

                bounds.extend(marker.position);

                google.maps.event.addListener(marker, 'click', (function(marker, num) {
                    jQuery('.serviteca-item').removeClass('selected');
                    jQuery('.serviteca-list span').css('margin-left','0px');
                    jQuery('.serviteca-list #'+num+' span').animate({
                        marginLeft: "5px"
                    }, 50, function() {
                        // Animation complete.
                    });
                    jQuery('.serviteca-list #'+num).addClass('selected');

                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map,marker);
                    }

                })(marker, num));
                markers.push(marker);
            }
        }
    </script>
</div>