@font-face
{
	font-family: calibri;
	src: url('fonts/calibri/calibri.eot');
	src: url('fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'),
		 url('fonts/calibri/calibri.woff') format('woff'),
		 url('fonts/calibri/calibri.ttf') format('truetype'),
		 url('fonts/calibri/calibri.svg#calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: calibri-bold;
	src: url('fonts/calibri-bold/calibri-bold.eot');
	src: url('fonts/calibri-bold/calibri-bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/calibri-bold/calibri-bold.woff') format('woff'),
		 url('fonts/calibri-bold/calibri-bold.ttf') format('truetype'),
		 url('fonts/calibri-bold/calibri-bold.svg#calibri-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: calibri-italic;
	src: url('fonts/calibri-italic/calibri-italic.eot');
	src: url('fonts/calibri-italic/calibri-italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/calibri-italic/calibri-italic.woff') format('woff'),
		 url('fonts/calibri-italic/calibri-italic.ttf') format('truetype'),
		 url('fonts/calibri-italic/calibri-italic.svg#calibri-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: calibri-italic-bold;
	src: url('fonts/calibri-italic-bold/calibri-italic-bold.eot');
	src: url('fonts/calibri-italic-bold/calibri-italic-bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/calibri-italic-bold/calibri-italic-bold.woff') format('woff'),
		 url('fonts/calibri-italic-bold/calibri-italic-bold.ttf') format('truetype'),
		 url('fonts/calibri-italic-bold/calibri-italic-bold.svg#calibri-italic-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: calibri-bold-local;
  src: local("Calibri");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: calibri-italic-bold-local;
  src: local("Calibri");
  font-weight: bold;
  font-style: italic;
}