/*+clearfix {*/
DIV#home-A DIV#tabsearch:after, DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle:after, DIV#home-B DIV#slides-1:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV#home-A DIV#tabsearch, DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle, DIV#home-B DIV#slides-1
{
	display: inline-block;
}
DIV#home-A DIV#tabsearch, DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle, DIV#home-B DIV#slides-1
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
DIV#home
{
	position: relative;
}
/*A - Tabs*/
/*[clearfix]*/DIV#home-A DIV#tabsearch
{
	width: 622px;
	height: 410px;
	float: left;
	margin-right: 20px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent > DIV
{
	clear: both;
	width: 626px;
	height: 391px;
	position: absolute;
	z-index: 20;
	margin-top: 38px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent > DIV.active
{
	z-index: 30;
}
/*[clearfix]*/DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle
{
	background: url(../images/home/tabvehiculo-bg.png) no-repeat center;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize
{
	background: url(../images/home/tabsize-bg.png) no-repeat center;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda
{
	position: absolute;
	top: 126px;
	left: 37px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda H2
{
	font-family: "calibri-bold-local", "calibri-bold";
	color: #FFFFFF;
	font-weight: normal;
	font-size: 18px;
	/*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424;
	-webkit-text-shadow: 0px 1px 1px #242424;
	-o-text-shadow: 0px 1px 1px #242424;
	text-shadow: 0px 1px 1px #242424;
	text-transform: uppercase;
	margin-bottom: 2px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda P
{
	font-family: Calibri, "calibri", "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 14px;
}
DIV#home-A DIV#tabsearch UL.control
{
}
DIV#home-A DIV#tabsearch UL.control LI
{
	width: 268px;
	height: 39px;
	background: url(../images/home/tabs.png) no-repeat top left;
	cursor: pointer;
	float: left;
	z-index: 20;
	position: relative;
}
DIV#home-A DIV#tabsearch UL.control LI SPAN
{
	font-family: "calibri-bold-local", "calibri-bold";
	text-transform: uppercase;
	color: #151515;
	font-size: 15px;
	line-height: 38px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
DIV#home-A DIV#tabsearch UL.control LI.tabvehicle
{
	background: url(../images/home/tabs.png) no-repeat top left;
}
DIV#home-A DIV#tabsearch UL.control LI.tabvehicle.active
{
	z-index: 30;
	background: url(../images/home/tabs.png) no-repeat bottom left;
}
DIV#home-A DIV#tabsearch UL.control LI.active SPAN
{
	color: #FFFFFF;
	/*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424;
	-webkit-text-shadow: 0px 1px 1px #242424;
	-o-text-shadow: 0px 1px 1px #242424;
	text-shadow: 0px 1px 1px #242424;
}
DIV#home-A DIV#tabsearch UL.control LI.tabsize
{
	background: url(../images/home/tabs.png) no-repeat top right;
	margin-left: -17px;
}
DIV#home-A DIV#tabsearch UL.control LI.tabsize.active
{
	background: url(../images/home/tabs.png) no-repeat bottom right;
	z-index: 30;
}
/*B - Slider + Testimonios*/
DIV#home-B
{
	position: absolute;
	right: 0;
}
/*[clearfix]*/DIV#home-B DIV#slides-1
{
	width: 340px;
	height: 255px;
	position: relative;
}
DIV#home-B DIV#slides-1 .slides_container
{
	width: 340px;
	height: 260px;
	background: url(../images/home/home-B-box-shadow.png) no-repeat bottom center;
	padding-bottom: 3px;
}
DIV#home-B DIV#slides-1 UL.pagination
{
	position: absolute;
	bottom: 10px;
	z-index: 99;
	right: 0px;
}
DIV#home-B DIV#slides-1 UL.pagination LI
{
	width: 15px;
	height: 15px;
	background: url(../images/slides-pagination.png) no-repeat center bottom;
}
DIV#home-B DIV#slides-1 UL.pagination LI.current
{
	background: url(../images/slides-pagination.png) no-repeat center top;
}
DIV#home-B DIV#slides-2
{
	width: 290px;
	height: 110px;
	background: url(../images/home/testimonios-bg.png) no-repeat center;
	margin-top: 10px;
	margin-right: 10px;
}
DIV#home-B DIV#slides-2 .slides_container
{
	width: 290px;
	height: 90px;
}
DIV#home-B DIV#slides-2 .slides_container DIV
{
	width: 290px;
	height: 90px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
}
DIV#home-B DIV#slides-2
{
	padding: 25px;
}
DIV#home-B DIV#slides-2 H2
{
	color: #FFB423;
	font-size: 16px;
}
/*C - Busqueda por marca*/
DIV#home-C
{
	clear: both;
	background: url(../images/home/home-c-bg.png) repeat-x 0 70px;
	padding-top: 25px;
}
DIV#home-C DIV#fabricantes
{
	padding: 25px 0;
}
DIV#home-C DIV#fabricantes IMG
{
	padding: 5px;
}
/*D - Bienvenido*/
DIV#home-D
{
	width: 560px;
	height: 150px;
	clear: both;
	background: url(../images/home/home-d-bg.png) no-repeat center;
	padding: 40px 390px 40px 40px;
}
DIV#home-D H2
{
	color: #014E8C;
	text-transform: uppercase;
	font-size: 20px;
	text-shadow: 0 -1px #c0cdda;
}
DIV#home-D P
{
	font-size: 12px;
	text-align: justify;
	text-shadow: 0 -1px #c0cdda;
}
/*E  -  Productos destacados*/
DIV#home-E
{
	padding-top: 25px;
}
DIV#home-E .price
{
	color: #D70308;
}
DIV#home-E UL#featured-carousel LI H3.product-name A
{
	font-size: 14px;
	font-family: "calibri-bold-local", "calibri-bold";
}
DIV#home-E UL#featured-carousel LI DIV.product-image IMG.product-manufacturer-logo
{
	position: absolute;
	width: 105px;
}
DIV#home-E UL#featured-carousel LI DIV.product-image
{
	position: relative;
	border: 1px solid #E4E4E4;
	display: inline-block;
	margin: 0 0 10px;
}
DIV#home-E UL#featured-carousel LI .product-name { margin: 0 0 12px; }
DIV#home-E UL#featured-carousel LI .price-box { margin: 0; }
DIV#home-E UL#featured-carousel LI .product-name,
DIV#home-E UL#featured-carousel LI .price-box { padding: 0 0 0 5px; line-height: 1.2; }
DIV#home-E UL#featured-carousel LI DIV#fabricantes IMG
{
	padding: 5px;
}
