/*+clearfix {*/
DIV#home-A DIV#tabsearch:after, DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle:after, DIV#home-B DIV#slides-1:after{ 
	content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;
}
DIV#home-A DIV#tabsearch, DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle, DIV#home-B DIV#slides-1{ 
	display: inline-block;
}
DIV#home-A DIV#tabsearch, DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle, DIV#home-B DIV#slides-1{ 
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
DIV#home{ 
	position: relative;
}
/*A - Tabs*/
/*[clearfix]*/
DIV#home-A DIV#tabsearch{ 
	float: left; height: 368px; margin-right: 20px; width: 622px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent > DIV{ 
	clear: both; width: 626px; height: 391px; position: absolute; z-index: 20; margin-top: 38px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent > DIV.active{ 
	z-index: 30;
}
/*[clearfix]*/DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle{ 
	background: url(../images/home/tabvehiculo-bg.png) no-repeat center; height: 338px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize{ 
	background: url(../images/home/tabsize-bg.png) no-repeat center; height: 338px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda{ 
	position: absolute; top: 85px; left: 37px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda H2{ 
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; color: #FFFFFF; font-weight: normal; font-size: 18px; /*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424; -webkit-text-shadow: 0px 1px 1px #242424; -o-text-shadow: 0px 1px 1px #242424; text-shadow: 0px 1px 1px #242424; text-transform: uppercase; margin-bottom: 2px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda P{ 
	font-family: Calibri, "Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 14px;
}
DIV#home-A DIV#tabsearch UL.control{ 
}
DIV#home-A DIV#tabsearch UL.control LI{ 
	width: 268px; height: 39px; background: url(../images/home/tabs.png) no-repeat top left; cursor: pointer; float: left; z-index: 20; position: relative;
}
DIV#home-A DIV#tabsearch UL.control LI SPAN{ 
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; text-transform: uppercase; color: #151515; font-size: 15px; line-height: 38px; text-align: center; display: inline-block; width: 100%;
}
DIV#home-A DIV#tabsearch UL.control LI.tabvehicle{ 
	background: url(../images/home/tabs.png) no-repeat top left;
}
DIV#home-A DIV#tabsearch UL.control LI.tabvehicle.active{ 
	z-index: 30; background: url(../images/home/tabs.png) no-repeat bottom left;
}
DIV#home-A DIV#tabsearch UL.control LI.active SPAN{ 
	color: #FFFFFF; /*+text-shadow:0px 1px 1px #242424;*/
	-moz-text-shadow: 0px 1px 1px #242424; -webkit-text-shadow: 0px 1px 1px #242424; -o-text-shadow: 0px 1px 1px #242424; text-shadow: 0px 1px 1px #242424;
}
DIV#home-A DIV#tabsearch UL.control LI.tabsize{ 
	background: url(../images/home/tabs.png) no-repeat top right; margin-left: -17px;
}
DIV#home-A DIV#tabsearch UL.control LI.tabsize.active{ 
	background: url(../images/home/tabs.png) no-repeat bottom right; z-index: 30;
}
/*B - Slider + Testimonios*/
DIV#home-B{ 
	position: absolute; right: 0;
}
/*[clearfix]*/DIV#home-B DIV#slides-1{ 
	width: 340px; height: 255px; position: relative;
}
DIV#home-B DIV#slides-1 .slides_container{ 
	width: 340px; height: 260px; background: url(../images/home/home-B-box-shadow.png) no-repeat bottom center; padding-bottom: 3px;
}
DIV#home-B DIV#slides-1 UL.pagination{ 
	position: absolute; bottom: 10px; z-index: 99; right: 0px;
}
DIV#home-B DIV#slides-1 UL.pagination LI{ 
	width: 15px; height: 15px; background: url(../images/slides-pagination.png) no-repeat center bottom;
}
DIV#home-B DIV#slides-1 UL.pagination LI.current{ 
	background: url(../images/slides-pagination.png) no-repeat center top;
}
DIV#home-B DIV#slides-2 {
    background: url("../images/home/testimonios-bg.png") no-repeat scroll center center transparent; height: 105px; margin-top: 7px; width: 339px;
}
DIV#home-B DIV#slides-2 p{line-height: 16px; margin: 0 0 5px;}
DIV#home-B DIV#slides-2 .slides_container {
	border-radius: 3px 3px 3px 3px; height: 100px; width: 339px;
}
DIV#home-B DIV#slides-2 .slides_container DIV {
    color: #FFFFFF; font-size: 13px; font-weight: bold;
}
DIV#home-B DIV#slides-2 .slides_container DIV DIV{
    height: 55px; padding: 35px 25px 10px; width: 289px;
}
DIV#home-B DIV#slides-2 H2 {
    bottom: 70px; color: #FFB423; font-size: 16px; left: 20px; position: absolute;
}
/*C - Busqueda por marca*/
.carousel_arrow_right{background: url("/skin/frontend/gproxy/neumarket/images/carousel-arrow-right.png") no-repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    display: block;
    height: 80px;
    overflow: hidden;
    position: absolute;
    right: -18px;
    text-indent: -900px;
    top: 48px;
    width: 17px;
    z-index: 999;}
.fabricantes-wrap{overflow:hidden;}
DIV.home_d{ background: url("../images/bg-carousel.png") repeat-x scroll 0 bottom transparent;
    clear: both;
    margin: 25px 0; position:relative;}
DIV.home_d DIV#fabricantes{ }
DIV.home_d DIV#fabricantes IMG{ 
	padding: 5px;
}
/*D - Bienvenido*/
DIV.home_e{ 
	clear: both;
    width: auto;
}
.home_e a:hover{text-decoration:none;}
.home_e a{text-decoration:underline;}
DIV.home_e H2{  color: #014E8C;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 2px;
    text-shadow: 0 -1px #C0CDDA;
}
DIV.home_e P{ 
	font-size: 12px;
    line-height: 16px;
    text-align: justify;
}
/*E  -  Productos destacados*/
div.home_c{
	background: url("../images/home/home-c-bg.png") repeat-x scroll 0 70px transparent; clear: both; padding-top: 25px; float: left; 
}
div.home_c .price{ 
	color: #D70308;
}
div.home_c UL#featured-carousel LI H3.product-name A{ 
	font-size: 14px; font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold;
}
div.home_c UL#featured-carousel LI DIV.product-image IMG.product-manufacturer-logo{ 
	position: absolute; width: 105px;
}
div.home_c UL#featured-carousel LI DIV.product-image{ position: relative; border: 1px solid #E4E4E4; display: inline-block; margin: 0 0 10px;}
div.home_c UL#featured-carousel LI .product-name { margin: 0 0 12px; }
div.home_c UL#featured-carousel LI .price-box { margin: 0; }
div.home_c UL#featured-carousel LI .product-name,
div.home_c UL#featured-carousel LI .price-box { padding: 0 0 0 5px; line-height: 1.2; }
div.home_c UL#featured-carousel LI DIV#fabricantes IMG{ padding: 5px;}

.slideshow { margin: auto; width: 990px; padding: 0; overflow:hidden;}
.slideCycle { height: 80px; width: 3430px; }
.slideCycle a{text-decoration:none !important;}
.slideshow img { }


/* NEW Featured Products */
.cms-home .neumarket-icon2 {
    background: url("../images/logo-icon.png") no-repeat scroll left center transparent !important;
    color: #222222 !important;
    font-size: 15px !important;
    line-height: 38px !important;
    height: 38px !important;
    margin: 20px 0 15px !important;
    padding-left: 40px !important;
    text-transform: uppercase !important;
    text-align: left !important;
    width: inherit !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-bottom: 1px solid #666666;
    margin-top: 20px;
}
.cms-home .category-products { border-bottom: 1px solid #666666; margin-bottom: 40px; }
.cms-home .products-grid.last { border-bottom: 0; }
.cms-home .products-grid LI.item { float: left; width: 181px; padding: 10px 0 6px; font: 11px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; margin: 0 21px 0 0; }
.cms-home .products-grid LI.item:hover { background-color: #fff; padding: 10px 0 6px; border: none; }
.cms-home .products-grid LI.item.first { position: relative; left: 0px; margin: 0 21px 0 0 !important; }
.cms-home .products-grid LI.item.last { margin: 0; left: 0px; margin: 0px 0px 10px 0px !important; }


.cms-home UL.products-grid .item .buttonplus { width: 160px; font-size: 14px; padding: 5px 20px; }
.cms-home UL.products-grid .item DIV.product-img-box { position: relative; }
.cms-home UL.products-grid .item DIV.product-img-box .product-manufacturer-logo { position: absolute; width: 90px; left: 1px; top: 1px; }
.cms-home .products-grid .product-image { display: block; width: 180px; height: 180px; border: 1px solid #DDD !important; border-width: 1px 1px 1px 0; margin: 0 0 10px; }
.cms-home .products-grid.first .product-image { border-top: 0; }
.cms-home .products-grid LI.last .product-image { border-right: 0; }
.cms-home .products-grid .product-name { font-size: 13px !important; margin: 0px !important; height: 44px !important; line-height: 1.1 !important; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important; height: none !important; text-align: left !important; text-transform: none !important; width: auto !important; }
.cms-home .products-grid .product-name A { color: #000000; text-decoration: none; }
.cms-home .products-grid .product-name A:hover { text-decoration: none; }
.cms-home .products-grid .price-box { margin: 5px 0; font-weight: normal; font-size: 12px; height: 32px; float: left; font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; }
.cms-home .products-grid .price-box .price-label { display: none; }
.cms-home .products-grid .price-box .regular-price { line-height: 47px; }
.cms-home .products-grid .price-box .regular-price .price { color: #396F00; font-size: 14px; font-weight: bold; }
.cms-home .products-grid .price-box .old-price .price { color: #444444; font-size: 12px; font-weight: normal; }
.cms-home .products-grid .price-box .special-price .price { color: #396F00; font-size: 14px; }
.cms-home .products-grid .price-box .iva { display: none; }
.cms-home .products-grid .cuotas { text-align: right; margin-bottom: 12px; float: right; width: 90px; margin-top: 6px; }
.cms-home .products-grid .text-cuotas { }
.cms-home .products-grid .price-cuotas { font-size: 13px; font-weight: bold; }
.cms-home .products-grid .four { text-align: right; margin-bottom: 12px; float: right; width: 90px; margin-top: 7px; }
.cms-home .products-grid .text-four { }
.cms-home .products-grid .price-four { font-size: 13px; font-weight: bold; }
.cms-home .products-grid .availability { line-height: 21px; }
.cms-home .products-grid .actions { position: absolute; bottom: 17px; }
.cms-home .products-grid button.button-cart span { font-size: 13px; }
.cms-home .products-grid button.button-cart span span { width: 100px !important; padding: 5px 17px 0 3px !important       ; }
.cms-home .products-grid .qty_select select { padding: 10px 0 9px 7px; }
.cms-home .col2-left-layout .products-grid, .col2-right-layout .products-grid { margin: 0 auto; border-bottom: 1px solid #D6D6D6; }
.cms-home .col1-layout .products-grid, .page-empty .products-grid { width: 990px; margin: 0 auto; }