/*Block: Cart*/
/*+clearfix {*/
DIV#mini-cart-content:after, .block-cart .actions:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV#mini-cart-content, .block-cart .actions
{
	display: inline-block;
}
DIV#mini-cart-content, .block-cart .actions
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
.block-cart .item P.product-name A
{
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 0;
}
.block-cart
{
	position: absolute;
	top: 0;
	right: 0;
	border: 0 !important;
	width: 284px;
	z-index: 999;
	background: #fff;
}
.block-cart .cart-toggle
{
	background: url(../images/mini-cart-right.png) no-repeat right bottom;
	height: 45px;
	position: absolute;
	bottom: -45px;
	right: 0;
	cursor: pointer;
	padding: 0 30px 0 0;
}
.block-cart .cart-toggle.open { background-position: right top; }
.block-cart .cart-toggle .cart-toggle-wrap {  padding: 0 0 0 48px; background: url(../images/mini-cart.png) no-repeat left top; height: 45px; }
.block-cart .cart-toggle .cart-toggle-wrap DIV
{
	/*padding: 10px;
	margin-left: 35px;*/
	font-size: 16px;
	font-family: Calibri, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	/*width: 220px;*/
	text-align: left;
	padding: 9px 0 0;
}
.block-cart .cart-toggle SPAN.qty
{
	color: #000000;
}
.block-cart .cart-toggle SPAN.total
{
	margin: 0px;
	color: #FFFFFF;
	/*+text-shadow:0px -1px #747474;*/
	-moz-text-shadow: 0px -1px #ef9719;
	-webkit-text-shadow: 0px -1px #ef9719;
	-o-text-shadow: 0px -1px #ef9719;
	text-shadow: 0px -1px #ef9719;
}
.block-cart .block-content
{
	/*[disabled]padding:10px 10px 0px;*/
	/*[disabled]text-align:left;*/
}
/*[clearfix]*/DIV#mini-cart-content
{
	display: none;
	border: 6px solid #FBB424;
	position: relative;
	padding: 12px 8px 10px !important;
}
DIV#mini-cart-content LI.item { margin: 0 0 8px!important; border-bottom: 1px dotted #eaeaea; padding: 0 0 10px; }
.block-cart LI.item .price
{
	color: #D60F0F;
}
.block-cart LI.item strong { font-weight: normal; }
.block-cart A.product-image
{
	border: 1px solid #EDEBEB;
}
.block-cart .block-title STRONG
{
	color: #FFF;
}
.block-cart .summary
{
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 1;
}
.block-cart .amount
{
	margin: 0;
}
.block-cart .amount A
{
	font-weight: bold;
}
.block-cart .subtotal
{
	margin: 0 0 5px;
	line-height: normal;
	font-size: 15px;
	clear: both;
	overflow: hidden;
	padding: 0 5px;
}
.block-cart .subtotal SPAN.label
{
	float: left;
	color: #747474;
}
.block-cart .subtotal .price
{
	font-weight: bold;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	color: #D60F0F;
	margin: 0!important;
	padding: 0!important;
}
/*[clearfix]*/.block-cart .actions
{
	clear: both;
	border: none !important;
	margin: 0!important;
	padding: 0!important;
	overflow: hidden;
}
.block-cart .actions A
{
	width: 128px;
	height: 30px;
	overflow: hidden;
}
.block-cart .actions A SPAN
{
	display: none;
}
.block-cart .actions A.miscompras
{
	background: url(../images/miscompras-btn.png) no-repeat;
	float: left;
}
.block-cart .actions A.pagar
{
	background: url(../images/pagar-btn.png) no-repeat;
	float: right;
}
.block-cart .actions .paypal-logo
{
	float: left;
	width: 100%;
	margin: 3px 0 0;
	text-align: right;
}
