.tabcontent {
    height: 360px;
    position: relative;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabvehicle {
    background: url("../images/bg-tabvehicle.png") no-repeat scroll center center transparent;
    height: 212px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 249px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize {
    background: url("../images/bg-tabsize.png") no-repeat scroll center center transparent;
    bottom: 1px;
    height: 147px;
    left: 0;
    margin: 0;
    position: absolute;
    width: 249px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent h2{color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px #004677;
    text-transform: uppercase;
}
DIV#home-A DIV#tabsearch DIV.tabcontent .tabvehicle h2{
    margin: 16px auto;
}
DIV#home-A DIV#tabsearch DIV.tabcontent .tabsize h2{
    margin: 10px auto;
}
#form-wf-vehicles .wheelsfinder {
   margin: 20px 12px 0;
    padding: 0;
}
#form-wf-vehicles .wheelsfinder select {
    border: 1px solid #032C4A;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px #4389BC;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 27px !important;
    line-height: normal !important;
    margin: 0 3px 6px;
    padding: 4px;
    width: 220px;
}
.form-list LI {
    margin: 0 0 3px;
}
#form-wf-vehicles .buttons-set {
    border: 0 none;
    float: right;
    margin: 1px 13px 0 0;
    padding: 0;
}
#form-wf-sizes .wheelsfinder {
    margin: 18px 0 0 15px;
    padding: 0;
}
#form-wf-sizes .form-list li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
}
#form-wf-sizes .form-list li select {
    border: 1px solid #03233B;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px #426E8F;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: auto !important;
    line-height: normal !important;
    margin: 0;
    padding: 5px;
    width: 70px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda {
    bottom: 25px;
    left: 9px;
    position: absolute;
    text-align: center;
    top: inherit;
    width: 140px;
}
DIV#home-A DIV#tabsearch DIV.tabcontent DIV.tabsize DIV.ayuda span{color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}
#form-wf-sizes button.button {
    bottom: 23px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    margin: 0 0 0 14px;
    position: absolute;
    right: 14px;
}
DIV#home-A DIV#tabsearch {
    float: left;
    height: 357px;
    margin-right: 0;
    width: 250px;
}
DIV#home-B DIV#slides-1 {background: url("../images/bg-slider.png") no-repeat scroll center bottom transparent;
    float: left;
    height: 352px;
    padding: 0 8px 6px;
    position: relative;
    width: 528px;
}

DIV#home-B {
     height: 358px;
    position: inherit;
    right: 0;
}


DIV#home-B DIV#slides-2 {
    background: url("../images/bg-banners-right.png") no-repeat scroll 0 bottom transparent;
    float: left;
    height: 357px;
    margin: 1px 0 0;
    width: 195px;
}
#home-A{background: url("../images/bg-banners-left.png") no-repeat scroll 0 bottom transparent; float:left;}
#home-B{float:left;}
DIV#home-B DIV#slides-1 .slides_container {
    background: none repeat scroll 0 0 transparent;
    height: 352px;
    margin: 7px 0 0;
    padding-bottom: 0;
    width: 528px;
}
.col1-layout .main {
    padding: 0;
}
.page {
    margin: 10px auto 0;
    text-align: left;
    width: 990px;
}
#home-C h2 {
    background: url("../images/bg-home-title.png") no-repeat scroll 0 bottom transparent;
    color: #FBA817;
    font-family: "Calibri";
    font-size: 28px;
    height: 51px;
    line-height: 51px;
    margin: 0 0 0 -1px;
    text-align: center;
    text-transform: uppercase;
    width: 991px;
}
#home-C h2 span{color: #333333;}
.home_c_banners{}
.home_c_banners a{ background: url("/skin/frontend/gproxy/neumarket/images/bg-home-banners.jpg") no-repeat scroll center bottom transparent;
    float: left;margin: 0 4px;
    padding: 0 0 7px;}
.home_c_banners img{}
div.home_c {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    margin: -1px 0 0;
    padding-top: 0;
}
#slides-3 .pagination{display:none !important;}





.pagination LI A {
    background: url("/skin/frontend/gproxy/neumarket/images/slide-controls.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    overflow: hidden;
    padding-top: 0;
    text-indent: -900px;
    width: 20px;
}
.pagination LI.current A {
    background-position: 0 -20px;
}
DIV#home-B DIV#slides-1 UL.pagination LI {
    background: none repeat scroll 0 0 transparent;
    height: 20px;
    margin: 5px 0 0 4px;
    width: 20px;
}
DIV#home-B DIV#slides-1 UL.pagination LI.current {
    background: none repeat scroll 0 0 transparent; margin-top: 4px;
}
DIV#home-B DIV#slides-1 UL.pagination LI:first-child{margin-left: 15px;}
DIV#home-B DIV#slides-1 UL.pagination {
    background: url("/skin/frontend/gproxy/neumarket/images/bg-slide-controls.png") no-repeat scroll 0 0 transparent;
    bottom: 15px;
    height: 32px;
    margin: 0;
    position: absolute;
    right: 20px;
    width: 148px;
    z-index: 99;
}
#dimension_llantas{bottom: -119px;
    left: 1px;
    position: absolute;}