/*
Slideshow style
*/
#slides
{
	position: absolute;
	top: 15px;
	left: 4px;
	z-index: 100;
}
/*
Slides container
Important:
Set the width of your slides container
If height not specified height will be set by the slide content
Set to display none, prevents content flash


Each slide
Important:
Set the width of your slides
Offeset for the 20px of padding
If height not specified height will be set by the slide content
Set to display block
*/
#slides .slide
{
	padding: 20px;
	width: 530px;
	height: 230px;
	display: block;
}
/*
Next/prev buttons
*/
#slides .next, #slides .prev
{
	position: absolute;
	top: 107px;
	left: -39px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
}
#slides .next
{
	left: 585px;
}
/*
Pagination
*/
.pagination
{
	margin: 26px auto 0;
	width: 100px;
}
.pagination LI
{
	float: left;
	margin: 0 1px;
	list-style: none;
}
.pagination LI A
{
	display: block;
	width: 12px;
	height: 0;
	padding-top: 12px;
	background-image: url(../img/pagination.png);
	background-position: 0 0;
	float: left;
	overflow: hidden;
}
.pagination LI.current A
{
	background-position: 0 -12px;
}
/*
Footer
*/
#footer
{
	text-align: center;
	width: 580px;
	margin-top: 9px;
	padding: 4.5px 0 18px;
	border-top: 1px solid #DFDFDF;
}
#footer P
{
	margin: 4.5px 0;
	font-size: 1em;
}
