<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 */
?>
<?php
$this->_product = Mage::registry('product');
?>
<div id="tabs" role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
		<?php $i=0;
		foreach ($this->getTabs() as $_index => $_tab):
			if($this->getChildHtml($_tab['alias'])):
				$i++;
		?>
                <li role="presentation" class="<?php echo $i == 1?' active first':''?>"><a href="#product_tabs_<?php echo $_tab['alias'] ?>" aria-controls="product_tabs_<?php echo $_tab['alias'] ?>" role="tab" data-toggle="tab"><span><?php echo $_tab['title']?></span></a></li>
			<?php endif; ?>
		<?php endforeach; ?>
		<?php $productTabs = $this->_product->getProductTabs();
		foreach ($productTabs AS $tab) { ?>
			<li role="presentation"><a href="#product_tabs_<?php echo $tab->getId(); ?>" aria-controls="product_tabs_<?php echo $tab->getId(); ?>" role="tab" data-toggle="tab"><?php echo $tab->getTitle(); ?></a></li>
		<?php } ?>
	</ul>
	<div class="tab-content">
		<?php $i=0;
		foreach ($this->getTabs() as $_index => $_tab):
			if($this->getChildHtml($_tab['alias'])):
				$i++;
		?>
				<div class="tab-pane fade<?php echo $i == 1?' active first in':''?>" id="product_tabs_<?php echo $_tab['alias'] ?>" role="tabpanel"><?php echo $this->getChildHtml($_tab['alias']) ?></div>
			<?php endif; ?>
		<?php endforeach; ?>
		<?php $productTabs = $this->_product->getProductTabs();
		foreach ($productTabs AS $tab) { ?>
			<div class="tab-pane fade" id="product_tabs_<?php echo $tab->getId(); ?>" role="tabpanel"><?php echo $tab->getContent(); ?></div>
		<?php } ?>
	</div>
</div>
<script type="text/javascript">
    //<![CDATA[
    /*
    Varien.Tabs = Class.create();
    Varien.Tabs.prototype = {
        initialize: function(selector) {
            var self=this;
            $$(selector+' a').each(this.initTab.bind(this));
        },

        initTab: function(el) {
            el.href = 'javascript:void(0)';
            if ($(el.parentNode).hasClassName('active')) {
                this.showContent(el);
            }
            el.observe('click', this.showContent.bind(this, el));
        },

        showContent: function(a) {
            var li = $(a.parentNode), ul = $(li.parentNode);
            ul.select('li', 'ol').each(function(el){
                var contents = $(el.id+'_contents');
                if (el==li) {
                    el.addClassName('active');
                    contents.show();
                    generate_maps();
                } else {
                    el.removeClassName('active');
                    contents.hide();
                }
            });
        }
    }
    new Varien.Tabs('.product-tabs');
    */
    //]]>
</script>
