<?php if ($this->getIsNeedToDisplaySideBar()):?>
<div class="block block-cart">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <div class="block-content" id="mini-cart-content">
    <?php $_items = $this->getRecentItems() ?>
    <?php if(count($_items)): ?>
        <ol id="cart-sidebar" class="mini-products-list">
        <?php foreach($_items as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
    <?php endif ?>
	<?php if ($_cartQty>0): ?>
        <div class="summary">
            <p class="subtotal">
                <?php if ($this->canApplyMsrp()): ?>
                    <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                <?php else: ?>
                    <span class="label"><?php echo $this->__('Sub-total:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                    <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                        <?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>
                    <?php endif; ?>
                <?php endif; ?>
            </p>
			<div class="buttons">
				<?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
				<div class="actions">
					<?php echo $this->getChildHtml('extra_actions') ?>
					<a href="<?php echo $this->getUrl('checkout/cart') ?>" class="miscompras" title="<?php echo $this->__('Mis compras') ?>"><span><?php echo $this->__('Mis compras') ?></span></a>
					<a href="<?php echo $this->getCheckoutUrl() ?>" class="pagar" title="<?php echo $this->__('Pagar pedido') ?>"><span><?php echo $this->__('Pagar pedido') ?></span></a>
				</div>
				<?php endif ?>
			</div>
        </div>
    <?php endif ?>
    </div>
		<div class="cart-toggle">
        <div class="cart-toggle-wrap">
		<div>
		<span class="qty">(<?php if ($_cartQty>0) echo $_cartQty; else echo "0";?>)</span>
		<span class="total"><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></span>
		</div>
        </div>
	</div>
</div>

<?php endif;?>
<script type="text/javascript">
	jQuery(document).ready(function($) { 
		$('.cart-toggle').click(function() {
			$(this).toggleClass('open');
		  $('#mini-cart-content').slideToggle();
		});
	});
</script>
