<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php  $_order = $this->getOrder() ?>
<p class="order-links">
	<?php  if ($_order->getTracksCollection()->count()) : ?>
		<a href="#" onclick="popWin('<?php echo $this->helper('shipping')->getTrackingPopupUrlBySalesModel($_order) ?>','trackorder','width=800,height=600,top=0,left=0,resizable=yes,scrollbars=yes'); return false;" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Track all shipment(s)')) ?>"><?php echo $this->__('Track all shipments') ?></a> <span class="separator">|</span>
	<?php endif; ?>
	<a href="<?php echo $this->getPrintAllShipmentsUrl($_order) ?>" onclick="this.target='_blank'" class="link-print"><i class="icon-printer"></i><?php echo $this->__('Print All Shipments') ?></a>
</p>
<?php foreach ($_order->getShipmentsCollection() as $_shipment): ?>
<div class="page-title title-buttons clearfix">
	<h2><?php echo $this->__('Shipment #') ?><?php echo $_shipment->getIncrementId(); ?></h2>
	<a href="<?php echo $this->getPrintShipmentUrl($_shipment) ?>" onclick="this.target='_blank'" class="link-print"><i class="icon-printer"></i><?php echo $this->__('Print Shipment') ?></a>
</div>
<?php $tracks = $_shipment->getTracksCollection(); ?>
<?php  if ($tracks->count()): ?>
<div class="table-responsive">
	<table class="table table-bordered table-hover tracking-table" id="my-tracking-table-<?php echo $_shipment->getId(); ?>">
		<tbody>
			<tr>
				<td colspan="2">
					<a href="#" onclick="popWin('<?php echo $this->helper('shipping')->getTrackingPopupUrlBySalesModel($_shipment) ?>','trackshipment','width=800,height=600,top=0,left=0,resizable=yes,scrollbars=yes'); return false;" title="<?php echo $this->__('Track this shipment') ?>"><?php echo $this->__('Track this shipment') ?></a>
				</td>
			</tr>
			<tr>
				<th class="label"><?php echo $this->__('Tracking Number(s):') ?></th>
				<td>&nbsp;
				<?php
				$i = 1;
				$_size = $tracks->count();
				foreach($tracks as $track): ?>
				<?php if($track->isCustom()): ?>
						<?php echo $this->escapeHtml($track->getNumber()) ?>
				<?php else: ?>
						<a href="#" onclick="popWin('<?php echo $this->helper('shipping')->getTrackingPopupUrlBySalesModel($track) ?>','trackorder','width=800,height=600,left=0,top=0,resizable=yes,scrollbars=yes')" ><?php echo $this->escapeHtml($track->getNumber()) ?></a>
				<?php endif; ?>
				<?php if($i!=$_size): ?>, <?php endif; ?>
				<?php $i++;
				endforeach; ?>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">decorateTable('my-tracking-table-<?php echo $_shipment->getId(); ?>')</script>
</div>
<?php  endif; ?>
<div class="page-subtitle">
	<h3><?php echo $this->__('Items Shipped') ?></h3>
</div>
<div class="table-responsive">
<table class="table table-bordered table-hover" id="my-shipment-table-<?php echo $_shipment->getId(); ?>">
    <col />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th class="a-center"><span class="nobr"><?php echo $this->__('Qty Shipped') ?></span></th>
        </tr>
    </thead>
    <?php $_items = $_shipment->getAllItems(); ?>
    <?php $_count = count($_items) ?>
    <?php foreach ($_items as $_item): ?>
    <?php if ($_item->getOrderItem()->getParentItem()) continue; ?>
    <tbody>
        <?php echo $this->getItemHtml($_item) ?>
    </tbody>
    <?php endforeach; ?>
</table>
<script type="text/javascript">decorateTable('my-shipment-table-<?php echo $_shipment->getId(); ?>', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
</div>
<?php echo $this->getCommentsHtml($_shipment)?>
<?php endforeach; ?>
