<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Customer onepage checkout login form template
 *
 * @see app/design/frontend/base/default/template/checkout/onepage/login.phtml
 */
/** @var $this Mage_Checkout_Block_Onepage_Login */
?>
<div class="row">
	<?php echo $this->getChildHtml('login_before')?>
	<div class="col-sm-6">
		<div class="page-subtitle">
			<h3><?php if( $this->getQuote()->isAllowedGuestCheckout() ): ?><?php echo $this->__('Checkout as a Guest or Register') ?><?php else: ?><?php echo $this->__('Register to Create an Account') ?><?php endif; ?></h3>
		</div>
		<?php if( $this->getQuote()->isAllowedGuestCheckout() ): ?>
			<p><?php echo $this->__('Register with us for future convenience:') ?></p>
		<?php else: ?>
			<p><strong><?php echo $this->__('Register and save time!') ?></strong><br />
			<?php echo $this->__('Register with us for future convenience:') ?></p>
			<ul>
				<li><?php echo $this->__('Fast and easy check out') ?></li>
				<li><?php echo $this->__('Easy access to your order history and status') ?></li>
			</ul>
		<?php endif; ?>
		<?php if( $this->getQuote()->isAllowedGuestCheckout() ): ?>
			<ul class="form-list clearfix">
				<?php if( $this->getQuote()->isAllowedGuestCheckout() ): ?>
				<li class="control">
					<div class="radio">
						<label for="login:guest">
							<input type="radio" name="checkout_method" id="login:guest" value="guest"<?php if($this->getQuote()->getCheckoutMethod()==Mage_Checkout_Model_Type_Onepage::METHOD_GUEST): ?> checked="checked"<?php endif; ?> class="radio" />
							<?php echo $this->__('Checkout as Guest') ?>
					</label>
					</div>
				</li>
				<?php endif; ?>
				<li class="control">
					<div class="radio">
						<label for="login:register">
							<input type="radio" name="checkout_method" id="login:register" value="register"<?php if($this->getQuote()->getCheckoutMethod()==Mage_Checkout_Model_Type_Onepage::METHOD_REGISTER || !$this->getQuote()->isAllowedGuestCheckout()): ?> checked="checked"<?php endif ?> class="radio" />
							<?php echo $this->__('Register') ?>
						</label>
					</div>
				</li>
			</ul>
			<h4><?php echo $this->__('Register and save time!') ?></h4>
			<p><?php echo $this->__('Register with us for future convenience:') ?></p>
			<ul class="ul">
				<li><?php echo $this->__('Fast and easy check out') ?></li>
				<li><?php echo $this->__('Easy access to your order history and status') ?></li>
			</ul>
		<?php else: ?>
			<input type="hidden" name="checkout_method" id="login:register" value="register" checked="checked" />
		<?php endif; ?>
		<div class="buttons-set">
			<p class="required sr-only">&nbsp;</p>
			<?php if ($this->getQuote()->isAllowedGuestCheckout()): ?>
				<button id="onepage-guest-register-button" type="button" class="btn btn-default" onclick="checkout.setMethod();"><span><span><?php echo $this->__('Continue') ?></span></span></button>
			<?php elseif ($this->helper('checkout')->isCustomerMustBeLogged()): ?>
				<button id="onepage-guest-register-button" type="button" class="btn btn-default" onclick="window.location='<?php echo $this->helper('checkout/url')->getRegistrationUrl();?>'"><span><span><?php echo $this->__('Register') ?></span></span></button>
			<?php else: ?>
				<form action="<?php echo $this->getUrl('persistent/index/saveMethod'); ?>">
					<button id="onepage-guest-register-button" type="submit" class="btn btn-default"><span><span><?php echo $this->__('Register') ?></span></span></button>
				</form>
			<?php endif; ?>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="page-subtitle">
			<h3><?php echo $this->__('Login') ?></h3>
		</div>
		<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
		<form id="login-form" action="<?php echo $this->getPostAction() ?>" method="post" class="form-horizontal">
		<fieldset>
			<?php echo $this->getBlockHtml('formkey') ?>
			<h4><?php echo $this->__('Already registered?') ?></h4>
			<p><?php echo $this->__('Please log in below:') ?></p>
			<ul class="form-list">
				<li class="form-group">
					<div class="col-lg-12">
						<label for="login-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
						<input type="text" class="form-control required-entry validate-email" id="login-email" name="login[username]" value="<?php echo (Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($this->getUsername()) ?>" />
					</div>
				</li>
				<li class="form-group">
					<div class="col-lg-12">
						<label for="login-password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
						<input type="password" class="form-control required-entry" id="login-password" name="login[password]" />
					</div>
				</li>
				<?php echo $this->getChildHtml('form.additional.info'); ?>
			</ul>
			<ul class="form-group">
				<?php echo $this->getChildHtml('persistent.remember.me'); ?>
				<li class="col-xs-4 pull-right">
					<p class="required"><?php echo $this->__('* Required Fields') ?></p>
				</li>
			</ul>
			<input name="context" type="hidden" value="checkout" />
			<?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
		</fieldset>
		</form>
		<div class="buttons-set clearfix">
			<a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="pull-left"><?php echo $this->__('Forgot your password?') ?></a>
			<button type="submit" class="btn btn-default pull-right" onclick="onepageLogin(this)"><span><span><?php echo $this->__('Login') ?></span></span></button>
		</div>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
	var loginForm = new VarienForm('login-form', true);
	$('login-email').observe('keypress', bindLoginPost);
	$('login-password').observe('keypress', bindLoginPost);
	function bindLoginPost(evt){
		if (evt.keyCode == Event.KEY_RETURN) {
			loginForm.submit();
		}
	}
	function onepageLogin(button)
	{
		if(loginForm.validator && loginForm.validator.validate()){
			button.disabled = true;
			loginForm.submit();
		}
	}
//]]>
</script>
<?php
	$registerParam = $this->getRequest()->getParam('register');
	if ($registerParam || $registerParam === ''):
?>
	<script type="text/javascript">
	//<![CDATA[
		document.observe("dom:loaded", function() {
			if($('login:register')) {
				$('login:register').checked = true;
				checkout.setMethod();
			}
		})
	//]]>
	</script>
<?php endif; ?>
