
<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$params1 = unserialize($_item->getOptionByCode('info_buyRequest')->getValue());
if($_item->getProduct()->getTypeId() == 'configurable'){
    $helper = Mage::helper('catalog/product_configuration');
    $_options = $helper->getConfigurableOptions($_item);
}else{
    $_options = $this->getOptionList();
}
?>
<tr>
	<td><?php if ($this->hasProductUrl()):?><a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>" class="product-image"><?php endif;?><img src="<?php echo $this->getProductThumbnail()->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" /><?php if ($this->hasProductUrl()):?></a><?php endif;?></td>
	<td>
		<h2 class="product-name">
		<?php if ($this->hasProductUrl()):?>
		<a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->htmlEscape($this->getProductName()) ?></a>
		<?php else: ?>
		<?php echo $this->htmlEscape($this->getProductName()) ?>
		<?php endif; ?>
		</h2>
		<?php if ($_options):?>
		<dl class="item-options">
			<?php foreach ($_options as $_option) : ?>
			<?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
			<dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
			<dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>><?php echo $_formatedOptionValue['value'] ?>
				<?php if (isset($_formatedOptionValue['full_view'])): ?>
				<div class="truncated_full_value">
					<dl class="item-options">
						<dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
						<dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
					</dl>
				</div>
				<?php endif; ?>
			</dd>
			<?php endforeach; ?>
		</dl>
		<?php endif;?>
        <?php if(isset($params1['text_gift'])):?>
            <dl class="item-options">
                <dt><?php echo $params1['text_gift']['label']?></dt>
                <dd><?php echo $params1['text_gift']['value']?></dd>
            </dl>
        <?php endif;?>
		<?php if ($messages = $this->getMessages()): ?>
		<?php foreach ($messages as $message): ?>
		<p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
		<?php endforeach; ?>
		<?php endif; ?>
		<?php if ($addtInfoBlock = $this->getProductAdditionalInformationBlock()):?>
		<?php echo $addtInfoBlock->setItem($_item)->toHtml() ?>
		<?php endif;?>
	</td>
	<td class="a-center">
        <?php if ($isVisibleProduct): ?>
            <?php
            $product         = Mage::getModel('catalog/product')->load($_item->getProduct()->getProductId());
            if(!isset($params1['freegift']) && !isset($params1['free_catalog_gift']) && !isset($params1['freegift_coupon_code'])){ ?>
                <a class="sc-edit"
                   data-product-name="<?php echo $_item->getProduct()->getName()?>"
                   data-item-id="<?php echo $_item->getItemId()?>"
                   data-product-image="<?php echo $this->getProductThumbnail()->resize(265); ?>"
                   data-has-options="<?php echo ($product->getOptions() ? "1" : "0")?>"
                   data-type-id="<?php echo $_item->getProduct()->getTypeId()?>"
                   href="<?php echo $this->getConfigureUrl() ?>" title="<?php echo $this->__('Edit item parameters') ?>"><?php echo $this->__('Edit') ?></a>
            <?php } else if($_item->getProduct()->getTypeId() == 'configurable') { ?>
                <?php
                if(isset($params1['freegift']) && !empty($params1['freegift'])){
                    $data_type = 'sale';
                }
                if(isset($params1['free_catalog_gift']) && !empty($params1['free_catalog_gift'])){
                    $data_type = 'catalog';
                }
                if(isset($params1['freegift_coupon_code']) && !empty($params1['freegift_coupon_code'])){
                    $data_type = 'coupon';
                }
                ?>
                <a class="sc-edit"
                   data-product-name="<?php echo $_item->getProduct()->getName()?>"
                   data-item-id="<?php echo $_item->getItemId()?>"
                   data-product-id="<?php echo $_item->getProduct()->getId();?>"
                   data-product-image="<?php echo $this->getProductThumbnail()->resize(265); ?>"
                   data-ffg-type="<?php echo $data_type?>"
                   data-has-options="<?php echo ($product->getOptions() ? "1" : "0")?>"
                   data-type-id="<?php echo $_item->getProduct()->getTypeId()?>"
                   href="javascript:void(0)">
                    <?php echo $this->__('Edit') ?>
                </a>
            <?php }?>
        <?php endif ?>
	</td>
	<?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
	<td class="a-center">
		<?php if ($isVisibleProduct): ?>
		<input type="checkbox" value="1" name="cart[<?php echo $_item->getId() ?>][wishlist]" title="<?php echo $this->__('Move to Wishlist') ?>" class="checkbox" />
		<?php endif ?>
	</td>
	<?php endif ?>
	<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
	<td class="a-right">
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<span class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		<?php else: ?>
		<span class="cart-price">
			<?php endif; ?>
			<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
			<?php else: ?>
			<?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>
			<?php endif; ?>
		
		</span>
		
		
		<?php if (Mage::helper('weee')->getApplied($_item)): ?>
		
		<div class="cart-tax-info" id="eunit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
			<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php endif; ?>
		</div>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<div class="cart-tax-total" onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
			<span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
		</div>
		<?php endif; ?>
		<?php endif; ?>
	</td>
	<?php endif; ?>
	<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
	<td>
		<?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<span class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		<?php else: ?>
		<span class="cart-price">
		<?php endif; ?>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
		<?php else: ?>
		<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
		<?php endif; ?>
		
		</span>
		<?php if (Mage::helper('weee')->getApplied($_item)): ?>
		
		<div class="cart-tax-info" id="unit-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
			<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php endif; ?>
		</div>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<div class="cart-tax-total" onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
			<span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
		</div>
		<?php endif; ?>
		<?php endif; ?>
	</td>
	<?php endif; ?>
	<td class="a-center">
	<?php
	if(isset($params1['freegift']) || isset($params1['free_catalog_gift']) || isset($params1['freegift_coupon_code'])){ ?>
		<input readonly="readonly" name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
		<?php }else{ ?>
		<input name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
		<?php } ?>
	</td>
	<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
	<td class="a-right">
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<span class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		<?php else: ?>
		<span class="cart-price">
		<?php endif; ?>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
		<?php else: ?>
		<?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()) ?>
		<?php endif; ?>
		
		</span>
		<?php if (Mage::helper('weee')->getApplied($_item)): ?>
		
		<div class="cart-tax-info" id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
			<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php endif; ?>
		</div>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<div class="cart-tax-total" onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
			<span class="weee"><?php echo Mage::helper('weee')->__('Total'); ?>: <?php echo $this->helper('checkout')->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
		</div>
		<?php endif; ?>
		<?php endif; ?>
	</td>
	<?php endif; ?>
	<?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
	<td>
		<?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<span class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
		<?php else: ?>
		<span class="cart-price">
		<?php endif; ?>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
		<?php else: ?>
		<?php echo $this->helper('checkout')->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
		<?php endif; ?>
		
		</span>
		
		
		<?php if (Mage::helper('weee')->getApplied($_item)): ?>
		
		<div class="cart-tax-info" id="subtotal-item-tax-details<?php echo $_item->getId(); ?>" style="display:none;">
			<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
			<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
			<span class="weee"><?php echo $tax['title']; ?>: <?php echo Mage::helper('checkout')->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span>
			<?php endforeach; ?>
			<?php endif; ?>
		</div>
		
		<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()): ?>
		<div class="cart-tax-total" onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
			<span class="weee"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>: <?php echo $this->helper('checkout')->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
		</div>
		<?php endif; ?>
		<?php endif; ?>
	</td>
	<?php endif; ?>
	<td class="a-center"><a href="<?php echo $this->getDeleteUrl()?>" data-m="<?php echo (isset($params1['freegift_key']) ? '1' : ($_item->getPrice() == 0 ? '' : '1'))?>" title="<?php echo $this->__('Remove item')?>" class="btn-remove btn-remove2"><?php echo $this->__('Remove item')?></a></td>
</tr>
