<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h2><?php echo $this->__('My Product Reviews') ?></h2>
</div>
<?php if( $this->getCollection() && $this->count()): ?>
    <?php echo $this->getToolbarHtml() ?>
		<div class="table-responsive">
			<table class="table table-bordered" id="my-reviews-table">
				<tbody>
					<?php foreach ($this->getCollection() as $_review): ?>
					<tr>
						<td><span class="nobr"><?php echo $this->dateFormat($_review->getReviewCreatedAt()); ?></span></td>
						<td><h2 class="product-name"><a href="<?php echo $this->getProductLink() ?>id/<?php echo $_review->getEntityPkValue() ?>"><?php echo $this->escapeHtml($_review->getName()) ?></a></h2></td>
						<td>
						<?php if($_review->getSum()): ?>
							<div class="rating-box">
								<i class="star">&#9733;</i>
								<i class="star">&#9733;</i>
								<i class="star">&#9733;</i>
								<i class="star">&#9733;</i>
								<i class="star">&#9733;</i>
								<div class="rating" style="width:<?php echo ( $_review->getSum() / $_review->getCount() ) ?>%">
									<i class="star">&#9733;</i>
									<i class="star">&#9733;</i>
									<i class="star">&#9733;</i>
									<i class="star">&#9733;</i>
									<i class="star">&#9733;</i>
								</div>
							</div>
							<?php endif; ?>
							</td>
							<td><?php echo $this->helper('review')->getDetailHtml($_review->getDetail()) ?></td>
							<td><a href="<?php echo $this->getReviewLink() ?>id/<?php echo $_review->getReviewId() ?>" class="nobr"><?php echo $this->__('View Details') ?></a></td>
						</tr>
						<?php endforeach; ?>
				</tbody>
			</table>
			<script type="text/javascript">decorateTable('my-reviews-table')</script>
		</div>
    <?php echo $this->getToolbarHtml() ?>
<?php else: ?>
    <p><?php echo $this->__('You have submitted no reviews.') ?></p>
<?php endif; ?>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>
