<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="page-title">
    <h2><?php echo $this->__('Shopping Cart is Empty') ?></h2>
</div>
<div class="cart-empty">
	<?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
    <?php echo $this->getChildHtml('checkout_cart_empty_widget'); ?>
    <p><?php echo $this->__('You have no items in your shopping cart.') ?></p>
    <p><?php echo $this->__('Clic <a href="%s">aquí</a> para continuar comprando.', Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl())); ?></p>
    <?php echo $this->getChildHtml('shopping.cart.table.after'); ?>
</div>
