<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/**
 * Shoping cart header
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
 $meigeeOptions = $this->getLayout();
 $catalogModeWrapper = $meigeeOptions->getMConfigResultByAlias('catalog_mode');
 $catalogMode = $catalogModeWrapper['value']['sv2']['value'];
 $_items = $this->getRecentItems();
?>
<div class="top-cart top-link-cart">
	<?php $_cartQty = $this->getSummaryCount()? $this->getSummaryCount() : 0 ?>
	<div class="block-title<?php if(!$_cartQty) { echo (' no-items'); } ?>  cart-button">
		<a class="cartHeader" href="javascript:void(0);">
			<span class="title-cart clearfix">
				<span class="subtotal"> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()); ?> </span>
				<span class="right-block">
					<span class="top-cart-icon">
						<i class="fa fa-shopping-cart" title="<?php echo $this->__('My Shopping Cart') ?>"></i>
					</span>
					<span class="cart-label">
						<?php echo $this->__('Cart'); //.' - ' . count($_items); ?>
					</span>
				</span>
			</span>
		</a>
	</div>
	<div class="block block-content topCartContent" style="display:none;">
		<div class="inner-wrapper"><?php // extra div to smooth slideUp and slideDown ?>
			<?php if(count($_items)): ?>
				<h4><?php echo $this->__('Productos en el carrito:') ?></h4>
				<ol class="mini-cart mini-products-list">
				<?php foreach($_items as $_item): ?>
					<?php echo $this->getItemHtml($_item) ?>
				<?php endforeach; ?>
				</ol>
			<?php else: ?>
				<p class="cart-empty">
					<i class="fa fa-shopping-bag"></i>
					<span><?php echo $this->__('You have no items in your shopping cart.') ?></span>
					<!-- span class="small-label"><?php echo $this->__('Add some to cart or') ?> <a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>" class="link-login"><?php echo $this->__('login') ?></a></span -->
				</p>
			<?php endif; ?>
			<?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
				<p class="subtotal">
					<span class="subtotal-wrapper">
						<span class="label"><?php echo $this->__('Total:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?><?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?> / <?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?><?php endif; ?>
					</span>
				</p>
				<div class="actions clearfix">
					<?php echo $this->getChildHtml('extra_actions') ?>
					<?php if($catalogMode == 0) { ?>
						<a class="btn btn-default" href="<?php echo $this->getUrl('checkout/cart'); ?>"><span><i class="fa fa-shopping-cart"></i><span><?php echo $this->__('View cart') ?></span></span></a>
					<?php } ?>
					<?php if($catalogMode == 0) { ?>
						<button class="btn btn-primary type-2" type="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
					<?php } ?>
				</div>
			<?php endif ?>
			<script type="text/javascript">
				/* Top Cart */
				topCart()
				jQuery('.mini-cart li:nth-child(2)').addClass('second');
				jQuery('.mini-cart li:nth-child(3)').addClass('last');

				if(typeof GeneralAddToCart != "undefined")
				{
					var sFunc = function(json)
					{
						GeneralAddToCart.updateCartHtml();
						AjaxKitMain.addHtmlPopup(json.popup_html);
					}
					AjaxKitMain.resetSidebarBlocks('block-content', false, sFunc, GeneralAddToCart);
				}
			</script>
		</div>
	</div>
</div>
