<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
if ($_products = $this->getRecentlyComparedProducts()):
	$meigeeOptions = $this->getLayout();
	$lightBox = $meigeeOptions->getMConfigResultByAlias('lightbox_listing');
	$timerStatus = $meigeeOptions->getMConfigResultByAlias('timer_status');
	$timerListingStatus = $meigeeOptions->getMConfigResultByAlias('timer_listing_status');
	$catalogModeWrapper = $meigeeOptions->getMConfigResultByAlias('catalog_mode');
	$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<div class="row">
	<div class="widget widget-compared clearfix">
		<div class="col-xs-12">
			<div class="widget-title">
				<h2><?php echo $this->__('Recently Compared') ?></h2>
			</div>
		</div>
		<div class="widget-products col-xs-12">
			<?php echo $this->getPagerHtml() ?>
			<ul class="products-list clearfix">
			<?php $i=0; foreach ($_products->getItems() as $_product): ?>
				<li class="item row">
					<div class="col-xs-12 col-sm-4 col-md-3">
						<div class="image-box">
							<?php if($lightBox){ ?>
								<div class="hover-buttons">
									<a href="<?php echo $_product->getProductMediaResized(930, 'small_image')->getImageSrc(); ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
										<i class="icon-magnifier"></i>
									</a>
								</div>
							<?php } ?>
							<?php echo $this->getLayout()->createBlock('page/html')->setProductInfo($_product)->setTemplate('catalog/product/product_labels.phtml')->toHtml(); ?>
							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
								<?php
									echo $_product->productHoverImage($this, 300, 'with-mobile', 385);
									$escaped_label = $this->stripTags($_product->getName(), null, true);
									echo '<img '. $_product->getProductMediaResized(300, 'small_image', 'with-mobile', 385)
										->addImageHtmlAttributte('width', 300)
										->addImageHtmlAttributte('alt', $escaped_label)
										->addImageHtmlAttributte('title', $escaped_label)
										->getImageHtmlAttributte().' />';
								?>
							</a>
						</div>
					</div>
					<div class="product-shop col-xs-8 col-sm-8 col-md-9">
						<div class="f-fix">
							<h5 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h5>
							<?php if($_product->isSaleable()): ?>
								<p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
							<?php else: ?>
								<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
							<?php endif; ?>
							<?php if($timerStatus && $timerListingStatus) {
								echo $this->getLayout()->createBlock('page/html')->setProduct($_product)->setTemplate('catalog/product/listing_timer.phtml')->toHtml();
							} ?>
							<?php echo $this->getReviewsSummaryHtml($_product) ?>
							<div class="price-add-to-wrapper">
								<?php echo $this->getPriceHtml($_product, true, '-widget-compared-list') ?>
								<ul class="add-to-links">
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
										<li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><i class="fa fa-heart"></i><span><?php echo $this->__('Add to wishlist'); ?></span></a></li>
									<?php endif; ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
										<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-exchange"></i><span><?php echo $this->__('Add to compare'); ?></span></a></li>
									<?php endif; ?>
								</ul>
							</div>
							<div class="desc std">
								<?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
							</div>
							<?php if ($_product->isSaleable()): ?>
								<?php if($catalogMode == 0) { ?>
									<button type="button" title="<?php echo  Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?>" class="btn btn-default" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
								<?php } ?>
							<?php else: ?>
								<a class="btn btn-default" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo  Mage::helper('core')->quoteEscape($this->__('Read More')); ?>"><?php echo $this->__('Read More'); ?></a>
							<?php endif; ?>
						</div>
					</div>
				</li>
			<?php endforeach; ?>
			</ul>
		</div>
	</div>
</div>
<?php endif; ?>
