<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $meigeeOptions = $this->getLayout();
 $lightBox = $meigeeOptions->getMConfigResultByAlias('lightbox_listing');
 $timerStatus = $meigeeOptions->getMConfigResultByAlias('timer_status');
 $timerListingStatus = $meigeeOptions->getMConfigResultByAlias('timer_listing_status');
 $catalogModeWrapper = $meigeeOptions->getMConfigResultByAlias('catalog_mode');
 $catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<?php if ($_products = $this->getRecentlyComparedProducts()): ?>
<div class="row">
	<div class="widget widget-compared clearfix">
		<div class="col-xs-12">
			<header class="widget-title">
				<h3><?php echo $this->__('Recently Compared') ?></h3>
			</header>
		</div>
		<div class="widget-products col-xs-12">
			<div class="row">
				<ul class="products-grid clearfix">
					<?php $i=0; foreach ($_products->getItems() as $_product): ?>
						<li class="item col-xs-12 col-sm-3">
							<div class="image-box">
								<?php if($lightBox){ ?>
									<div class="hover-buttons">
										<a href="<?php echo $_product->getProductMediaResized(930, 'small_image')->getImageSrc(); ?>" data-toggle="lightbox" class="lightbox-button" data-footer="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
											<i class="icon-magnifier"></i>
										</a>
									</div>
								<?php } ?>
								<?php echo $this->getLayout()->createBlock('page/html')->setProductInfo($_product)->setTemplate('catalog/product/product_labels.phtml')->toHtml(); ?>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
									<?php
										echo $_product->productHoverImage($this, 400, 'with-mobile', 385);
										$escaped_label = $this->stripTags($_product->getName(), null, true);
										echo '<img '. $_product->getProductMediaResized(400, 'small_image', 'with-mobile', 385)
											->addImageHtmlAttributte('width', 400)
											->addImageHtmlAttributte('alt', $escaped_label)
											->addImageHtmlAttributte('title', $escaped_label)
											->getImageHtmlAttributte().' />';
									?>
								</a>
							</div>
							<h5 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h5>
							<?php if($_product->isSaleable()): ?>
								<p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
							<?php else: ?>
								<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
							<?php endif; ?>
							<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							<?php if($timerStatus && $timerListingStatus) {
								echo $this->getLayout()->createBlock('page/html')->setProduct($_product)->setTemplate('catalog/product/listing_timer.phtml')->toHtml();
							} ?>
							<div class="price-add-to-wrapper">
								<?php echo $this->getPriceHtml($_product, true, '-widget-compared-grid') ?>
								<ul class="add-to-links">
									<?php if ($this->helper('wishlist')->isAllow()) : ?>
										<li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><i class="fa fa-heart"></i><span><?php echo $this->__('Add to wishlist'); ?></span></a></li>
									<?php endif; ?>
									<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
										<li><a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-exchange"></i><span><?php echo $this->__('Add to compare'); ?></span></a></li>
									<?php endif; ?>
								</ul>
							</div>
							<div class="actions clearfix">
								<?php if ($_product->isSaleable()): ?>
									<?php if($catalogMode == 0) { ?>
										<button type="button" title="<?php echo  Mage::helper('core')->quoteEscape($this->__('Add to Cart')); ?>" class="btn btn-default pull-left" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<?php } ?>
								<?php else: ?>
									<a class="btn btn-default" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo  Mage::helper('core')->quoteEscape($this->__('Read More')); ?>"><?php echo $this->__('Read More'); ?></a>
								<?php endif; ?>
							</div>
							<hr class="indent-18 white-space"/>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>
