<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Template for displaying product price in different places (products grid, product view page etc)
 *
 * @see Mage_Catalog_Block_Product_Abstract
 */
?>
<?php

$thisBlock = $this->getThisBlock();
$_coreHelper = $this->helper('core');
$_weeeHelper = $this->helper('weee');
$_taxHelper  = $this->helper('tax');
/* @var $_coreHelper Mage_Core_Helper_Data */
/* @var $_weeeHelper Mage_Weee_Helper_Data */
/* @var $_taxHelper Mage_Tax_Helper_Data */
$_product = $thisBlock->getProduct();
$_storeId = $_product->getStoreId();
$_id = $_product->getId();
$_weeeSeparator = '';
$_simplePricesTax = ($_taxHelper->displayPriceIncludingTax() || $_taxHelper->displayBothPrices());
$_minimalPriceValue = $_product->getMinimalPrice();
$_minimalPrice = $_taxHelper->getPrice($_product, $_minimalPriceValue, $_simplePricesTax);
$idSuffix = $thisBlock->getIdSuffix();
$idSuffixWidget = substr($idSuffix, 1, 6);
$idSuffixArray = array('-upsell', '-related', '_clone', '-wishlist', '-widget');
$isPrice = false;
$current_page = Mage::app()->getFrontController()->getRequest()->getRouteName();
if (is_bool($idSuffix) || $idSuffixWidget == 'widget')
{
	$idSuffix = '';
}
elseif(!in_array($idSuffix, $idSuffixArray) && $current_page != 'wishlist')
{
	$isPrice = true;
}
?>
<?php if (!$_product->isGrouped()): ?>
    <?php $_weeeTaxAmount = $_weeeHelper->getAmountForDisplay($_product); ?>
    <?php if ($_weeeHelper->typeOfDisplay($_product, array(Mage_Weee_Model_Tax::DISPLAY_INCL_DESCR, Mage_Weee_Model_Tax::DISPLAY_EXCL_DESCR_INCL, 4))): ?>
        <?php $_weeeTaxAmount = $_weeeHelper->getAmount($_product); ?>
        <?php $_weeeTaxAttributes = $_weeeHelper->getProductWeeeAttributesForDisplay($_product); ?>
    <?php endif; ?>
    <?php $_weeeTaxAmountInclTaxes = $_weeeTaxAmount; ?>
    <?php if ($_weeeHelper->isTaxable() && !$_taxHelper->priceIncludesTax($_storeId)): ?>
        <?php $_attributes = $_weeeHelper->getProductWeeeAttributesForRenderer($_product, null, null, null, true); ?>
        <?php $_weeeTaxAmountInclTaxes = $_weeeHelper->getAmountInclTaxes($_attributes); ?>
    <?php endif; ?>
    <div class="price-box">
    <?php $_price = $_taxHelper->getPrice($_product, $_product->getPrice()) ?>
    <?php $_regularPrice = $_taxHelper->getPrice($_product, $_product->getPrice(), $_simplePricesTax) ?>
    <?php $_finalPrice = $_taxHelper->getPrice($_product, $_product->getFinalPrice()) ?>
    <?php $_finalPriceInclTax = $_taxHelper->getPrice($_product, $_product->getFinalPrice(), true) ?>
    <?php $_weeeDisplayType = $_weeeHelper->getPriceDisplayType(); ?>
    <?php if ($_finalPrice >= $_price): ?>
        <?php if ($_taxHelper->displayBothPrices()): ?>
            <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif;?>>
                        <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
                    </span>
                </span>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
                    </span>
                </span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif;?>>
                        <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
                    </span>
                </span>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
					</span>
					<span class="weee">(
                        <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                            <?php echo $_weeeSeparator; ?>
                            <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                            <?php $_weeeSeparator = ' + '; ?>
                        <?php endforeach; ?>
                    )</span>
                </span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif;?>>
                        <?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, false) ?>
					</span>
                </span>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
					</span>
                    <span class="weee">(
                        <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                            <?php echo $_weeeSeparator; ?>
                            <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                            <?php $_weeeSeparator = ' + '; ?>
                        <?php endforeach; ?>
                        )</span>
                </span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif;?>>
                        <?php echo $_coreHelper->currency($_price, true, false) ?>
					</span>
                </span>
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                    <span class="weee">
						<?php echo $_weeeTaxAttribute->getName(); ?>
						: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                    </span>
                <?php endforeach; ?>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
					</span>
                </span>
            <?php else: ?>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif;?>>
                        <?php if ($_finalPrice == $_price): ?>
                            <?php echo $_coreHelper->currency($_price, true, false) ?>
						<?php else: ?>
                            <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
						<?php endif; ?>
                    </span>
                </span>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax, true, false) ?>
					</span>
                </span>
            <?php endif; ?>
        <?php else: ?>
            <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
                <p class="regular-price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
					<span class="price-label"><?php echo $this->__('Price:') ?></span>
					<?php if($isPrice): ?>
						<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_price + $_weeeTaxAmount, true, true)); ?>
					<?php else: ?>
						<?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true); ?>
					<?php endif; ?>
				</p>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
                <p class="regular-price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
					<span class="price-label"><?php echo $this->__('Price:') ?></span>
                    <?php if($isPrice): ?>
						<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_price + $_weeeTaxAmount, true, true)); ?>
					<?php else: ?>
						<?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
					<?php endif; ?>
                </p>
                <span class="weee">(
                    <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <?php echo $_weeeSeparator; ?>
                        <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                        <?php $_weeeSeparator = ' + '; ?>
                    <?php endforeach; ?>
                    )</span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
                <p class="regular-price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
					<span class="price-label"><?php echo $this->__('Price:') ?></span>
                    <?php if($isPrice): ?>
						<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_price + $_weeeTaxAmount, true, true)); ?>
					<?php else: ?>
						<?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true) ?>
					<?php endif; ?>
				</p>
                <span class="weee">(
                    <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                        <?php echo $_weeeSeparator; ?>
                        <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                        <?php $_weeeSeparator = ' + '; ?>
                    <?php endforeach; ?>
                    )</span>
            <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
                <p class="regular-price">
					<span class="price-label"><?php echo $this->__('Price:') ?></span>
					<?php if($isPrice): ?>
						<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_price,true,true)); ?>
					<?php else: ?>
						<?php echo $_coreHelper->currency($_price,true,true); ?>
					<?php endif; ?>
				</p><br />
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                    <span class="weee">
						<?php echo $_weeeTaxAttribute->getName(); ?>
						: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
                    </span>
                <?php endforeach; ?>
                 <p class="regular-price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
					<span class="price-label"><?php echo $this->__('Price:') ?></span>
                    <?php if($isPrice): ?>
						<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_price + $_weeeTaxAmount, true, true)); ?>
					<?php else: ?>
						<?php echo $_coreHelper->currency($_price + $_weeeTaxAmount, true, true); ?>
					<?php endif; ?>
                </p>
            <?php else: ?>
                <p class="regular-price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
					<span class="price-label"><?php echo $this->__('Price:') ?></span>
                    <?php if ($_finalPrice == $_price): ?>
						<?php if($isPrice): ?>
							<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_price, true, true)); ?>
						<?php else: ?>
							<?php echo $_coreHelper->currency($_price, true, true); ?>
						<?php endif; ?>
                    <?php else: ?>
						<?php if($isPrice): ?>
							<?php echo str_replace('class="price"', 'class="price" itemprop="price"', $_coreHelper->currency($_finalPrice, true, true)); ?>
						<?php else: ?>
							<?php echo $_coreHelper->currency($_finalPrice, true, true); ?>
						<?php endif; ?>
					<?php endif; ?>
                </p>
            <?php endif; ?>
        <?php endif; ?>
    <?php else: /* if ($_finalPrice == $_price): */ ?>
        <?php $_originalWeeeTaxAmount = $_weeeHelper->getOriginalAmount($_product); ?>
        <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 0)): // including ?>
            <p class="old-price">
                <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                <span class="price" id="old-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
				</span>
            </p>
            <?php if ($_taxHelper->displayBothPrices()): ?>
                <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                    <span class="price-excluding-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                        <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                            <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
						</span>
                    </span>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
					</span>
                </span>
                </p>
            <?php else: ?>
                <p class="special-price">
                <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                <span class="price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                    <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmountInclTaxes, true, false) ?>
				</span>
                </p>
            <?php endif; ?>
        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 1)): // incl. + weee ?>
            <p class="old-price">
                <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                <span class="price" id="old-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
				</span>
            </p>
            <p class="special-price">
            <?php if ($_taxHelper->displayBothPrices()): ?>
                <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                        <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
					</span>
                </span>
                <span class="weee">(
					<?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
						<?php echo $_weeeSeparator; ?>
						<?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
						<?php $_weeeSeparator = ' + '; ?>
					<?php endforeach; ?>
                )</span>
                <span class="price-including-tax">
                <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
				</span>
                </span>
			<?php endif; ?>
            </p>
        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 4)): // incl. + weee ?>
            <p class="old-price">
                <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                <span class="price" id="old-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice + $_originalWeeeTaxAmount, true, false) ?>
				</span>
            </p>
            <p class="special-price">
                <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                        <?php echo $_coreHelper->currency($_finalPrice + $_weeeTaxAmount, true, false) ?>
					</span>
                </span>
            <span class="weee">(
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                    <?php echo $_weeeSeparator; ?>
                    <?php echo $_weeeTaxAttribute->getName(); ?>: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount() + $_weeeTaxAttribute->getTaxAmount(), true, true); ?>
                    <?php $_weeeSeparator = ' + '; ?>
                <?php endforeach; ?>
                )</span>
            <span class="price-including-tax">
                <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
				</span>
            </span>
            </p>
        <?php elseif ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, 2)): // excl. + weee + final ?>
            <p class="old-price">
                <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                <span class="price" id="old-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice, true, false) ?>
				</span>
            </p>
            <p class="special-price">
                <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                <span class="price-excluding-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                    <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                        <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
					</span>
                </span>
                <?php foreach ($_weeeTaxAttributes as $_weeeTaxAttribute): ?>
                    <span class="weee">
                        <?php echo $_weeeTaxAttribute->getName(); ?>
						: <?php echo $_coreHelper->currency($_weeeTaxAttribute->getAmount(), true, true); ?>
					</span>
                <?php endforeach; ?>
                <span class="price-including-tax">
                    <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                    <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                        <?php echo $_coreHelper->currency($_finalPriceInclTax + $_weeeTaxAmountInclTaxes, true, false) ?>
					</span>
                </span>
            </p>
        <?php else: // excl. ?>
            <p class="old-price">
                <span class="price-label"><?php echo $this->__('Regular Price:') ?></span>
                <span class="price" id="old-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_regularPrice, true, false) ?>
				</span>
            </p>
            <?php if ($_taxHelper->displayBothPrices()): ?>
                <p class="special-price">
                    <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                    <span class="price-excluding-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                        <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                            <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
						</span>
                    </span>
                    <span class="price-including-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                        <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_finalPriceInclTax, true, false) ?>
						</span>
                    </span>
                </p>
            <?php else: ?>
                <p class="special-price">
                <span class="price-label"><?php echo $this->__('Special Price:') ?></span>
                <span class="price" id="product-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo $_coreHelper->currency($_finalPrice, true, false) ?>
				</span>
                </p>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif; /* if ($_finalPrice == $_price): */ ?>
    <?php if ($thisBlock->getDisplayMinimalPrice() && $_minimalPriceValue && $_minimalPriceValue < $_product->getFinalPrice()): ?>
        <?php $_minimalPriceDisplayValue = $_minimalPrice; ?>
        <?php if ($_weeeTaxAmount && $_weeeHelper->typeOfDisplay($_product, array(0, 1, 4))): ?>
            <?php $_minimalPriceDisplayValue = $_minimalPrice + $_weeeTaxAmount; ?>
        <?php endif; ?>
        <?php if ($thisBlock->getUseLinkForAsLowAs()): ?>
            <a href="<?php echo $_product->getProductUrl(); ?>" class="minimal-price-link">
        <?php else: ?>
            <span class="minimal-price-link">
        <?php endif ?>
        <span class="label"><?php echo $this->__('As low as:') ?></span>
        <span class="price" id="product-minimal-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
			<?php echo $_coreHelper->currency($_minimalPriceDisplayValue, true, false) ?>
		</span>
        <?php if ($thisBlock->getUseLinkForAsLowAs()): ?>
            </a>
        <?php else: ?>
            </span>
        <?php endif ?>
    <?php endif; /* if ($this->getDisplayMinimalPrice() && $_minimalPrice && $_minimalPrice < $_finalPrice): */ ?>
        <?php $cats = $_product->getCategoryIds(); ?>
        <p class="combo">
            <?php if (in_array('34',$cats) || in_array('159',$cats) || in_array('131',$cats)): ?>
                <span class="combo-label">Promo 3x4: </span>
                <span class="price-combo-promo" id="price-combo-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo Mage::helper('core')->currency($_product->getFinalPrice()*3,true,false) ?>
                </span>
                <!-- span class="msg4">Agrega 4 unidades al carrito para obtener este descuento</span -->
            <?php elseif (in_array('36',$cats) && 0): ?>
                <span class="combo-label">La 2da en: </span>
                <span class="price-combo-promo" id="price-combo-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo Mage::helper('core')->currency($_product->getFinalPrice()*0.7,true,false) ?>
                </span>
                <!-- span class="msg4">Agrega 2 o más unidades al carrito de compras para obtener este descuento</span -->
            <?php elseif (in_array('194',$cats) && 0): ?>
                <span class="combo-label">La 2da en: </span>
                <span class="price-combo-promo" id="price-combo-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo Mage::helper('core')->currency($_product->getFinalPrice()*0.6,true,false) ?>
                </span>
                <!-- span class="msg4">Agrega 2 o más unidades al carrito de compras para obtener este descuento</span -->
            <?php elseif ((in_array('42',$cats) || in_array('157',$cats) || in_array('195',$cats)) && 0): ?>
                <span class="combo-label">La 2da en: </span>
                <span class="price-combo-promo" id="price-combo-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo Mage::helper('core')->currency($_product->getFinalPrice()*0.5,true,false) ?>
                </span>
                <!-- span class="msg4">Agrega 2 o más unidades al carrito de compras para obtener este descuento</span -->
            <?php else: ?>
                <span class="combo-label">Set de 4: </span>
                <span class="price-combo" id="price-combo-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                    <?php echo Mage::helper('core')->currency($_product->getFinalPrice()*4,true,false) ?>
                </span>
            <?php endif; ?>
        </p>
    </div>
<?php else: /* if (!$_product->isGrouped()): */ ?>
    <?php
	$_exclTax = $_taxHelper->getPrice($_product, $_minimalPriceValue);
    $_inclTax = $_taxHelper->getPrice($_product, $_minimalPriceValue, true);
    ?>
    <?php if ($thisBlock->getDisplayMinimalPrice() && $_minimalPriceValue): ?>
		<div class="price-box">
            <p class="minimal-price">
                <span class="price-label"><?php echo $this->__('Starting at:') ?></span>
                <?php if ($_taxHelper->displayBothPrices()): ?>
                    <span class="price-excluding-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Excl. Tax:') ?></span>
                        <span class="price" id="price-excluding-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                            <?php echo $_coreHelper->currency($_exclTax, true, false) ?>
                        </span>
                    </span>
                    <span class="price-including-tax">
                        <span class="label"><?php echo $this->helper('tax')->__('Incl. Tax:') ?></span>
                        <span class="price" id="price-including-tax-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>">
                            <?php echo $_coreHelper->currency($_inclTax, true, false) ?>
                        </span>
                    </span>
                <?php else: ?>
                    <?php
                    $_showPrice = $_inclTax;
                    if (!$_taxHelper->displayPriceIncludingTax()) {
                        $_showPrice = $_exclTax;
                    }
                    ?>
                <span class="price" id="product-minimal-price-<?php echo $_id ?><?php echo $thisBlock->getIdSuffix() ?>"<?php if($isPrice): ?> itemprop="price"<?php endif; ?>>
                    <?php echo $_coreHelper->currency($_showPrice, true, false) ?>
                </span>
                <?php endif; ?>
            </p>
        </div>
    <?php endif; /* if ($this->getDisplayMinimalPrice() && $_minimalPrice): */ ?>
<?php endif; /* if (!$_product->isGrouped()): */ ?>
