<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/*
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
 if($catalogMode == 1) {
	$redirect = Mage::getUrl('no-route');
	echo Mage::app()->getFrontController()->getResponse()->setRedirect($redirect);
 }
*/
?>
<div class="page-title">
	<h2><?php echo $this->__('Checkout') ?></h2>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('banner_checkout')->toHtml();?>
</div>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<script type="text/javascript">

    Shipping.prototype.showServitecas = function(flag){
        $('shipping_serviteca').checked = flag;
        $('lista_servitecas').value = '';

        var servitecas_list = $('servitecas_list');
        var buscador_servitecas = $('buscador-servitecas');
        var form_direccion = $('shipping-new-address-form');
        var same_as_billing_control = $('same_as_billing_control');
        var wrap_shipping_address_select = $('wrap-shipping-address-select');
        var control_save_in_address_book = $('control_save_in_address_book');

        if (flag) {
            servitecas_list.removeClassName('list_hidden');
            buscador_servitecas.removeClassName('list_hidden');
            generate_maps();
            same_as_billing_control.addClassName('list_hidden');
            form_direccion.addClassName('list_hidden');


            this.setSameAsBilling(false)
            this.clearFields();
            $('shipping:country_id').value = 'CO';
            this.yesReadOnly();
        }else{
            servitecas_list.addClassName('list_hidden');
            buscador_servitecas.addClassName('list_hidden');
            same_as_billing_control.removeClassName('list_hidden');
            form_direccion.removeClassName('list_hidden');
            this.noReadOnly();


            this.clearFields();
        }
    }

    Shipping.prototype.yesReadOnly = function(){
        arrElements = Form.getElements(this.form);
        for (var elemIndex in arrElements) {
            if(arrElements[elemIndex].name != 'form_key' && arrElements[elemIndex].name != 'shipping[placa]')
                arrElements[elemIndex].readOnly = true;
        }
    }

    Shipping.prototype.noReadOnly = function(){
        arrElements = Form.getElements(this.form);
        for (var elemIndex in arrElements) {
            if(arrElements[elemIndex].name != 'form_key' && arrElements[elemIndex].name != 'shipping[placa]')
                arrElements[elemIndex].readOnly = false;
        }
    }

    Shipping.prototype.clearFields = function(){
        arrElements = Form.getElements(this.form);

        for (var elemIndex in arrElements) {
            if(arrElements[elemIndex].name != 'form_key' && arrElements[elemIndex].name != 'shipping[placa]')
                arrElements[elemIndex].value = '';
        }
    }

    Shipping.prototype.setServitecaAddress = function(id){
        if(id){

            $('loading_servitecas_data').removeClassName('weiting_hidden');

            var _this = this;
            _this.noReadOnly();

            arrElements = Form.getElements(this.form);

            new Ajax.Request('<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB, true); ?>serviteca/index/getaddressbyservitecaid/', {
                method: 'post',
                onSuccess: function(transport){
                    if(transport.status == 200){

                        //{"serviteca_id":"8","is_active":"1","ciudad":"Bogot\u00e1","nombre":"Servillantas del Prado","direccion":"Calle 134 No. 47-22","tel":"2169815 - 2587152","creation_time":null,"update_time":null,"valor":"0","contraentrega":"SI"}

                        var data = transport.responseText.evalJSON();
                        var nombre = data.nombre;
                        var direccion = data.direccion;
                        var tel = data.tel;
                        var ciudad = data.ciudad;

                        for (var elemIndex in arrElements) {

                            if(arrElements[elemIndex].id == 'shipping:firstname'){
                                arrElements[elemIndex].value = nombre;
                            }

                            if(arrElements[elemIndex].id == 'shipping:lastname'){
                                arrElements[elemIndex].value = nombre;
                            }

                            if(arrElements[elemIndex].id == 'shipping:company'){
                                arrElements[elemIndex].value = nombre;
                            }

                            if(arrElements[elemIndex].id == 'shipping:street1'){
                                arrElements[elemIndex].value = direccion;
                            }

                            if(arrElements[elemIndex].id == 'shipping:region_id'){
                                var succeded = 0;
                                for(var i=0; i<arrElements[elemIndex].options.length; i++){
                                    if(arrElements[elemIndex].options[i].text == ciudad){
                                        arrElements[elemIndex].value = arrElements[elemIndex].options[i].value;
                                        succeded = 1;
                                        ciudad = '-';
                                    }
                                }
                                if(succeded == 0){
                                    for(var i=0; i<arrElements[elemIndex].options.length; i++){
                                        if(arrElements[elemIndex].options[i].text == 'Otro'){
                                            arrElements[elemIndex].value = arrElements[elemIndex].options[i].value;
                                        }
                                    }
                                }
                            }

                            if(arrElements[elemIndex].id == 'shipping:city'){
                                arrElements[elemIndex].value = ciudad;
                            }

                            if(arrElements[elemIndex].id == 'shipping:telephone'){
                                arrElements[elemIndex].value = tel;
                            }

                        }

                        $('shipping:country_id').value = 'CO';
                        $('loading_servitecas_data').addClassName('weiting_hidden')
                        _this.yesReadOnly();

                    }
                },
                parameters: {serviteca: id}
            });
        }

    }

</script>
<ul class="opc panel-group" id="checkoutSteps">
<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
	<li id="opc-<?php echo $_stepId ?>" class="panel panel-default section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
		<div class="step-title panel-heading clearfix">
			<span class="number"><?php echo $i ?></span>
			<h2 class="panel-title"><?php echo $_stepInfo['label'] ?></h2>
			<a href="#"><?php echo $this->__('Edit') ?></a>
		</div>
		<div id="checkout-step-<?php echo $_stepId ?>" class="step a-item panel-body" style="display:none;">
			<?php echo $this->getChildHtml($_stepId) ?>
		</div>
	</li>
<?php endforeach ?>
</ul>
<script type="text/javascript">
//<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
	);
//]]>
</script>
