<!--@subject Confirmación de la cuenta para {{var customer.name}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.jpg" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Estimado/a {{var customer.name}}</strong>, <br/>Bienvenido/a a nuestra tienda.</p>

                            <p>Su correo electrónico {{var customer.email}} debe ser confirmado antes de usarlo para acceder a nuestra tienda.</p>

                            <p>Para confirmar su correo electrónico y acceder a la tienda al mismo tiempo, utilize <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">este enlace de confirmación</a>. Este enlace sólo es válido una sola vez.</p>

                            <p>Si tiene dudas por favor contactenos a  <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o llamenos al  número de telefono <span class="nobr">{{config path='general/store_information/phone'}}</span></p>
                            <p>Gracias.</p>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
