<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/* @var $this Mage_Reports_Block_Product_Viewed */
?>
<?php
/**
 * @see Mage_Reports_Block_Product_Viewed
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>
<?php if ($_products = $this->getRecentlyViewedProducts()): ?>
<h2 class="subtitle"><?php echo $this->__('Your Recently Viewed') ?></h2>
<?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_products as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif; ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
					<?php
						echo $_product->productHoverImage($this, 800);
						$escaped_label = $this->stripTags($_product->getName(), null, true);
						echo '<img '. $_product->getProductMediaResized(800, 'small_image')
							->addImageHtmlAttributte('alt', $escaped_label)
							->addImageHtmlAttributte('title', $escaped_label)
							->getImageHtmlAttributte().' />';
					?>
				</a>
                <h5 class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h5>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <div class="price-add-to-wrapper">
                    <?php echo $this->getPriceHtml($_product, true, '-home-viewed') ?>
                    <ul class="add-to-links">
                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                        <?php endif; ?>
                        <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                        <?php endif; ?>
                    </ul>
                </div>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
						<?php if($catalogMode == 0) { ?>
							<button type="button" title="<?php echo  Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="btn btn-default" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
						<?php } ?>
                    <?php else: ?>
                        <a class="btn btn-default" href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo  Mage::helper('core')->quoteEscape($this->__('Read More')); ?>"><?php echo $this->__('Read More'); ?></a>
                    <?php endif; ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
