
<?php
/**
* Product list template
*
* @see Mage_Catalog_Block_Product_List
*/
?>
<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');

// get layout object
$layout = Mage::getSingleton('core/layout');
//get block object
$block = $layout->createBlock('freegift/freeproduct');
$lisProductId = $block->getAllRule();

$isShowLabel = Mage::getStoreConfig('freegift/config/showfreegiftlabel');    
$isShowFreeGift = Mage::getStoreConfig('freegift/config/showfreegiftoncategory');    
?>                
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
<?php echo $this->getToolbarHtml() ?>
<?php // List mode ?>
<?php if($this->getMode()!='grid'): ?>
<?php $_iterator = 0; ?>
	<ol class="products-list" id="products-list">
	<?php foreach ($_productCollection as $_product): ?>
	<?php                 
	$product = Mage::getModel('catalog/product')->load($_product->getId());                    
	$productIds = $block->getFreeCatalogGiftsByProduct($product);       
	$showLabelFreeGift = false;
	if(in_array($_product->getId(),$lisProductId) && $isShowLabel) $showLabelFreeGift = true;
	?>
	
		<li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
			<?php // Product Image ?>
			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
			<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
			<?php
			if($showLabelFreeGift){
				$image = Mage::getStoreConfig('freegift/config/freegiftlabel');
				if($image != ""){													
					?>
					<img src="<?php echo Mage::getBaseUrl('media') .'theme/'. Mage::getStoreConfig('freegift/config/freegiftlabel'); ?>" alt="" class="label-freegift">
					<?php
				}
				else{
					?>
					<img src="<?php echo $this->getSkinUrl('mw_freegift/images/freegift_50.png'); ?>" alt="" class="label-freegift">
					<?php
				}
			}
			?>
			</a>
			<?php // Product description ?>
			<div class="product-shop">
				<div class="f-fix">
					<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
					<?php if($_product->getRatingSummary()): ?>
					<?php echo $this->getReviewsSummaryHtml($_product) ?>
					<?php endif; ?>
					<?php echo $this->getPriceHtml($_product, true) ?>
					<?php if($_product->isSaleable()): ?>
					<p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
					<?php else: ?>
					<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					<?php endif; ?>
					<div class="desc std">
						<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
					</div>
					<?php
					if($productIds && $isShowFreeGift){ ?>
						<div class="freegift_header"><h5><?php echo $this->__("Free gift")?></h5></div>
						<div class="freegift_catalog_container clearer">
							<ul id="freegift" >
								<?php 
								foreach($productIds as $productId):?>
								<?php 
								$freegift = Mage::getModel('catalog/product')->load($productId);
								$displayFreeGift = Mage::getModel('freegift/observer')->displayFreeGift($productId);	
								if($displayFreeGift){
									?>
									<li class="truncated">	
										<?php                    
										$ruleProduct = $block->getRuleFreeProductId($productId);
										$rule = Mage::getModel('freegift/rule')->load($ruleProduct->getRuleId());                        
										$urlFriendly = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).$freegift->getUrlPath();
										?>
										<a href="<?php echo $urlFriendly; ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($freegift, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($freegift, 'small_image')->resize(75); ?>" width="30" height="30" alt="<?php echo $this->htmlEscape($this->getImageLabel($freegift, 'small_image')) ?>" /></a>              
										<div class="truncated_full_value">
											<dl class="item-options">
												<dt>Free Gift</dt>
												<dd><b>Product name: </b><?php echo $_helper->productAttribute($freegift, $freegift->getName(), 'name') ?></dd>
												<dd><?php echo $rule->getDescription(); ?></dd> 
											</dl>
										</div>                                    
									</li>        
									<?php
								}
								endforeach;
								?>     
							</ul>
							<div style="clear: both;"></div>
						</div>                            
						<?php }                    
					?>
					<ul class="add-to-links">
						<?php if ($this->helper('wishlist')->isAllow()) : ?>
						<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
						<?php endif; ?>
						<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
						<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
						<?php endif; ?>
					</ul>
				</div>
			</div>
		</li>
	<?php endforeach; ?>
	</ol>
<script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

<?php else: ?>

<?php // Grid Mode ?>

<?php $_collectionSize = $_productCollection->count() ?>
<?php $_columnCount = $this->getColumnCount(); ?>
<?php $i=0; foreach ($_productCollection as $_product): ?>
<?php     
$product = Mage::getModel('catalog/product')->load($_product->getId());
$productIds = $block->getFreeCatalogGiftsByProduct($product);                 
$showLabelFreeGift = false;
if(in_array($_product->getId(),$lisProductId) && $isShowLabel) $showLabelFreeGift = true;
?>
<?php if ($i++%$_columnCount==0): ?>
	<ul class="products-grid">
	<?php endif ?>
		<li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
			<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
			<?php
			if($showLabelFreeGift){
				$image = Mage::getStoreConfig('freegift/config/freegiftlabel');
				if($image != ""){													
					?>
					<img src="<?php echo Mage::getBaseUrl('media') .'theme/'. Mage::getStoreConfig('freegift/config/freegiftlabel'); ?>" alt="" class="label-freegift">
					<?php
				}
				else{
					?>
					<img src="<?php echo $this->getSkinUrl('mw_freegift/images/freegift_50.png'); ?>" alt="" class="label-freegift">
					<?php
				}
			}
			?>
			</a>
			<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
		<?php if($_product->getRatingSummary()): ?>
		<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
		<?php endif; ?>
		<?php echo $this->getPriceHtml($_product, true) ?>
		<?php
		if($productIds && $isShowFreeGift){ ?>
			<div class="freegift_header"><h5><?php echo $this->__("Free gift")?></h5></div>
			<div class="freegift_catalog_container clearer">
				<ul id="freegift" >
				<?php 
				foreach($productIds as $productId):?>
				<?php 
				$freegift = Mage::getModel('catalog/product')->load($productId); 	
				$displayFreeGift = Mage::getModel('freegift/observer')->displayFreeGift($productId);	
				if($displayFreeGift){
					?>
					<li class="truncated">
					<?php                    
						//fix bugs 20121011
						$ruleProduct = $block->getRuleFreeProductId($productId);
						$rule = Mage::getModel('freegift/rule')->load($ruleProduct->getRuleId());                        
						$urlFriendly = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).$freegift->getUrlPath();
						?>
						<a href="<?php echo $urlFriendly; ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($freegift, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($freegift, 'small_image')->resize(75); ?>" width="30" height="30" alt="<?php echo $this->htmlEscape($this->getImageLabel($freegift, 'small_image')) ?>" /></a>              
						<div class="truncated_full_value">
							<dl class="item-options">
								<dt>Free Gift</dt>
								<dd><b>Product name: </b><?php echo $_helper->productAttribute($freegift, $freegift->getName(), 'name') ?></dd>
								<dd><?php echo $rule->getDescription(); ?></dd> 
							</dl>
						</div>                                    
					</li>        
					<?php 
				}
				endforeach;
				?>     
				</ul>
			<div style="clear: both;"></div>
			</div>                            
			<?php }                    
		?>
			<div class="actions">
				<?php if($_product->isSaleable()): ?>
				<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
				<?php else: ?>
				<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
				<?php endif; ?>
				<ul class="add-to-links">
					<?php if ($this->helper('wishlist')->isAllow()) : ?>
					<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
					<?php endif; ?>
					<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
					<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
					<?php endif; ?>
				</ul>
			</div>
		</li>
	<?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
	</ul>
<?php endif ?>
<?php endforeach ?>
<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
<?php endif; ?>

	<div class="toolbar-bottom">
	<?php echo $this->getToolbarHtml() ?>
	</div>
</div>
<?php endif; ?>
