<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php $_items = $this->getReviewsCollection()->getItems();?>
<div class="box-collateral box-reviews row clearfix" id="customer-reviews">
    <?php if (count($_items)):?>
		<div class="col-md-8 pull-right">
			<div class="block-title">
				<h3><?php echo $this->__('Customer Reviews') ?></h3>
			</div>
			<div class="customer-reviews-wrapper">
				<?php echo $this->getChildHtml('toolbar') ?>
				<?php foreach ($_items as $_review):?>
					<div class="review-box-wrapper clearfix">
						<div class="top-block clearfix">
							<div class="customer-info">
								<div class="icon">
									<i class="fa fa-user-o"></i>
								</div>
								<div class="info">
									<span class="review-title"><?php echo $this->escapeHtml($_review->getTitle()) ?></span>
									<div class="customer"><?php echo $this->__('By') .' '. $this->escapeHtml($_review->getNickname()); ?></div>
									<div class="date"><i class="icon-calendar"></i><?php echo $this->__($this->formatDate($_review->getCreatedAt(), 'long', 'ss::mm::HH')) ?></div>
								</div>
							</div>
							<div class="customer-rating clearfix">
								<?php $_votes = $_review->getRatingVotes(); ?>
								<?php if (count($_votes)): ?>
									<?php foreach ($_votes as $_vote): ?>
										<div class="item">
											<div class="rating-text-wrapper">
												<div class="rating-title"><?php echo $this->escapeHtml($_vote->getRatingCode()) ?></div>
												<div class="rating-values"><span><?php echo ($_vote->getPercent())/20 ?></span>/5</div>
											</div>
											<div class="stars-wrapper clearfix">
												<div class="rating-box">
													<i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i>
													<div class="rating" style="width:<?php echo $_vote->getPercent() ?>%"><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i><i class="star">&#9733;</i></div>
												</div>
											</div>
										</div>
									<?php endforeach; ?>
								<?php endif; ?>
							</div>
						</div>
						<div class="review-box clearfix">
							<div class="review">
								<p><?php echo nl2br($this->escapeHtml($_review->getDetail())) ?></p>

							</div>
						</div>
					</div>
				<?php endforeach; ?>
				<?php echo $this->getChildHtml('toolbar') ?>
			</div>
			<a href="javascript:void(0);" class="more-link btn btn-default"><span class="see"><?php echo $this->__('See all'); ?></span><span class="hide"><?php echo $this->__('Hide all'); ?></span></a>
		</div>
		<script type="text/javascript">
			function reviewsBox(){
				reviewBoxQuantity = jQuery('.review-box-wrapper').size();
				var fullHeight = 0;
				jQuery('.review-box-wrapper').each(function(){
					reviewBoxHeight = jQuery(this).outerHeight(true);
					fullHeight += reviewBoxHeight;
				});
				reviewButton = jQuery('.box-reviews .more-link');
				truncatedHeight = jQuery('.review-box-wrapper:eq(0)').outerHeight(true) + jQuery('.review-box-wrapper:eq(1)').outerHeight(true) ;
				jQuery('.customer-reviews-wrapper').css('height', truncatedHeight-2);
				if(reviewBoxQuantity < 3){
					jQuery('.box-reviews .more-link').remove();
				}
				reviewButton.off().on('click', function(){
					jQuery(this).toggleClass('open');
					if(jQuery('.customer-reviews-wrapper').hasClass('open')){
						jQuery('.customer-reviews-wrapper').removeClass('open').animate({'height': truncatedHeight-2}, 500);
					} else {
						jQuery('.customer-reviews-wrapper').addClass('open').animate({'height': fullHeight}, 500);
					}
				});
			}
			reviewsBox();
			jQuery(window).resize(function(){
				reviewsBox();
			});
		</script>
    <?php endif;?>
	<div class="col-md-4 pull-left">
		<?php echo $this->getChildHtml('review_form') ?>
	</div>
</div>
