<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
 $meigeeOptions = $this->getLayout();
 $richSnippetsStatus = $meigeeOptions->getMConfigResultByAlias('snippets_status');
 $richSnippetsBreadcrumbs = $meigeeOptions->getMConfigResultByAlias('snippets_breadcrumbs');

//$criteria = $this->getSearchCriteria();
$criteria = Mage::getSingleton('core/session')->getData('criteria');
$sep = ' / ';
$e = 0;
$e1 = 3;

$request = $this->getRequest();
$module = $request->getModuleName();
//$controller = $request->getControllerName();
//$action = $request->getActionName();

?>
<?php if (($module == 'catalog' || $module == 'wheelsfinder' || $module == 'cms') && Mage::getSingleton('cms/page')->getIdentifier() != "home"): ?>
	<div class="breadcrumbs-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="breadcrumbs-inner clearfix">
                        <div class="col-sm-6">
                            <div class="item title">
                                <header class="page-title clearfix">
                                    <?php if($crumbs && is_array($crumbs)): ?>
                                        <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
                                            <?php if($_crumbInfo['last']): ?>
                                                <h2><?php echo $this->htmlEscape($_crumbInfo['label']) ?></h2>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    <?php else: ?>
                                        <h2><?php echo $this->__('Llantas ') ?><?php foreach($criteria as $key => $val): ?> <?php $e++; if($e == count($criteria)): $sep = ''; endif; echo $val.' '; ?><?php endforeach; ?></h2>
                                    <?php endif; ?>
                                </header>
                            </div>
                            <div class="item new-search">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-wheelsfinder"><?php echo $this->__('Realizar Nueva Búsqueda') ?></button>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <?php if($crumbs && is_array($crumbs)): ?>
                            <ul class="breadcrumb pull-right">
                                <?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
                                    <li class="<?php echo $_crumbName ?>"<?php if(($richSnippetsStatus) and ($richSnippetsBreadcrumbs) and ($_crumbInfo['link'])): ?> itemscope itemtype="http://data-vocabulary.org/Breadcrumb"<?php endif; ?>>
                                        <?php if($_crumbInfo['link']): ?>
                                            <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['label']) ?>"
                                            <?php echo (($richSnippetsStatus and $richSnippetsBreadcrumbs) ? 'itemprop="url"><span itemprop="title">'. $this->htmlEscape($_crumbInfo['label']).'</span>'  : '>'. $this->htmlEscape($_crumbInfo['label'])); ?></a>
                                        <?php elseif($_crumbInfo['last']): ?>
                                            <strong><?php echo $this->htmlEscape($_crumbInfo['label']) ?></strong>
                                        <?php else: ?>
                                            <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
                                        <?php endif; ?>
                                    </li>
                                <?php endforeach; ?>
                            </ul>
                            <?php endif; ?>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="modal-wheelsfinder" role="dialog">
        <div class="modal-dialog">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('wheelsfinder')->toHtml();?>
                <!-- button type="button" class="btn btn-default" data-dismiss="modal"></button -->

        </div>
    </div>
<?php endif; ?>