<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
 $meigeeOptions = $this->getLayout();
 $label = $meigeeOptions->getMConfigResultByAlias('language_label');
?>
<?php if(count($this->getStores())>1): ?>
<div class="form-language list clearfix">
	<?php if($label): ?>
		<div class="label"><?php echo $this->__('Change your country:') ?></div>
	<?php endif; ?>
	<?php foreach ($this->getStores() as $_lang): ?>
		<a href="<?php echo $_lang->getCurrentUrl() ?>"><img src="<?php echo $this->getSkinUrl('images/lang/'.(Mage::app()->getLayout()->checkVersion('1.7.x.x') ? $this->htmlEscape : $this->escapeHtml).($_lang->getName()).'.jpg') ?>" alt="<?php echo $this->escapeHtml($_lang->getName()) ?>" /><span class="name"><?php echo $_lang->getName(); ?></span></a>
	<?php endforeach; ?>
</div>
<?php endif; ?>
