<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="box">
	<div class="page-subtitle clearfix">
		<h2><?php echo $this->__('Address Book') ?></h2>
		<a class="pull-right" href="<?php echo $this->getAddressBookUrl() ?>"><?php echo $this->__('Manage Addresses') ?></a>
	</div>
	<div class="box-content row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left"><?php echo $this->__('Default Billing Address') ?></h3>
						<a class="pull-right" href="<?php echo $this->getPrimaryBillingAddressEditUrl() ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
					</div>
					<div class="panel-body">
						<address>
							<?php echo $this->getPrimaryBillingAddressHtml() ?><br />
						</address>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left"><?php echo $this->__('Default Shipping Address') ?></h3>
						<a class="pull-right" href="<?php echo $this->getPrimaryShippingAddressEditUrl() ?>"><?php echo $this->__('<i class="fa fa-pencil"></i>') ?></a>
					</div>
					<div class="panel-body">
						<address>
							<?php echo $this->getPrimaryShippingAddressHtml() ?><br />
						</address>
					</div>
				</div>
			</div>
	</div>
</div>
