<?php
//
?>
<div class="header-container">
    <div class="header">
        <?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getSkinUrl('images/logo-neumarket-de-mexico.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" width="305" height="74"/></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getSkinUrl('images/logo-neumarket-de-mexico.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" width="305" height="74"/></a>
        <?php endif?>
        <div id="contact">
            <span class="time">Lun-Vie 8:00am-8:00pm | Sab 8:00am-6:00pm |</span><span class="phone">CDMX: (55)4169 6152 | 01 800 269 1317 |</span><span class="mobile"><?php echo Mage::getStoreConfig('general/store_information/phone');?></span>
        </div>
		<div class="quick-access">
			<?php echo $this->getChildHtml('store_language') ?>
			<?php echo $this->getChildHtml('topLinks') ?>
            <ul class="icons_info">
                                <li class="icons_info_2"><span>30 D&Iacute;AS PARA CAMBIO</span><a title="30 D&Iacute;AS PARA CAMBIO" href="/cambios-devoluciones" target="_self"><font color="#ffffff">D&Iacute;AS PARA<br>CAMBIO</font></a></li>
                <li class="icons_info_3"><span>PAGO SEGURO Cualquier Tarjeta</span><a title="PAGO SEGURO CON CUALQUIER TARJETA" href="/preguntas-frecuentes/#seguro" target="_self"><font color="#ffffff">PAGO SEGURO<br><small>Cualquier Tarjeta</small></font></a></li>
                <li class="icons_info_4"><span>INSTALACIÓN GRATIS</span><a title="INSTALACIÓN GRATIS" href="/serviteca/" target="_self"><font color="#ffffff">INSTALACIÓN<br>GRATIS</font></a></li>
            </ul>
		</div>
        <div id="mainLinks"><?php echo $this->getChildHtml('topMenu') ?></div>
        <?php echo $this->getChildHtml('topContainer'); ?>
		<?php echo $this->getChildHtml('cart_sidebar') ?>
	</div>
</div>