<?php
//
?>
<div class="header-container">
    <div class="header">
        <?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getSkinUrl('images/logo-neumarket.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" width="305" height="74"/></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getSkinUrl('images/logo-neumarket.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif?>
        <div id="contact">
            <span class="time">Lunes a Viernes de 8:00am a 6:00pm | Sábados de 8:00am a 1:00pm     --     Tels. 315 3224364 / 300 5239434</span><span class="phone"></span>
        </div>
		<div class="quick-access">
			<?php echo $this->getChildHtml('store_language') ?>
			<?php echo $this->getChildHtml('topLinks') ?>
			<div class="colombiano">100% <br>Colombiano</div>
            <div class="social_icons">
                <a class="icon_tw" href="https://twitter.com/neumarket" title="S&iacute;guenos en Twitter" target="_blank">Twitter</a>
                <a class="icon_fb" href="http://www.facebook.com/pages/Neumarket/259537124167646?fref=ts" title="S&iacute;guenos en Facebook" target="_blank">Facebook</a>
            </div>
            <ul class="icons_info">
                <li class="icons_info_1"><span>ENV&Iacute;O GRATIS A TODO EL PA&Iacute;S</span><a title="ENV&Iacute;O GRATIS A TODO EL PA&Iacute;S" href="/envios" target="_self"><font color="#ffffff">ENV&Iacute;O GRATIS<br>A TODO EL PA&Iacute;S</font></a></li>
                <li class="icons_info_2"><span>30 D&Iacute;AS PARA CAMBIO</span><a title="30 D&Iacute;AS PARA CAMBIO" href="/cambios-devoluciones" target="_self"><font color="#ffffff">D&Iacute;AS PARA<br>CAMBIO</font></a></li>
                <li class="icons_info_3"><span>PAGO SEGURO Cualquier Tarjeta</span><a title="PAGO SEGURO CON CUALQUIER TARJETA" href="/preguntas-frecuentes/#seguro" target="_self"><font color="#ffffff">PAGO SEGURO<br><small>Cualquier Tarjeta</small></font></a></li>
                <li class="icons_info_4"><span>INSTALACIÓN GRATIS</span><a title="INSTALACIÓN GRATIS" href="/serviteca/" target="_self"><font color="#ffffff">INSTALACIÓN<br>GRATIS</font></a></li>
                <li class="icons_info_5"><span>Pago Contra-Entrega EN BOGOTÁ</span><small>Pago Contra-Entrega</small><br>EN BOGOTÁ</li>
            </ul>
		</div>
        <div id="mainLinks"><?php echo $this->getChildHtml('topMenu') ?></div>
        <?php echo $this->getChildHtml('topContainer'); ?>
		<?php echo $this->getChildHtml('cart_sidebar') ?>
	</div>
</div>