<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<meta name="globalsign-domain-verification" content="vbR3aDEY4jL7R962sRb_1TzrkAiTYWtEg9x6v1x0LD" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
    var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->
<?php echo $this->getCssJsHtml() ?>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery(".sidebar .colapsable DIV.block-content").hide();
	// Toggle Blocks del sidebar
	jQuery(".sidebar .colapsable DIV.block-title").click(function(){
		jQuery(this).toggleClass("inactive").next().slideToggle("slow");
		return false;
	});
	jQuery(".quick-access span.logout").closest('ul').css('margin-left','106px');
});
</script>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>