<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * @see Mage_Payment_Block_Catalog_Product_View_Profile
 */
?>
<?php if ($dateHtml = $this->getDateHtml()): ?>
<dl>
    <dt>
        <label for="<?php echo $this->getDateHtmlId() ?>"><?php echo $this->__('Recurring Profile Start Date') ?></label>
    </dt>
    <dd>
        <?php echo $dateHtml ?>
    </dd>
</dl>
<?php endif; ?>
