<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * @see Mage_Payment_Block_Catalog_Product_View_Profile
 */
?>
<dl>
<?php foreach($this->getScheduleInfo() as $term => $definitions): ?>
    <dt><?php echo $this->escapeHtml($term); ?></dt>
<?php foreach ($definitions as $definition):?>
    <dd><?php echo $this->escapeHtml($definition)?></dd>
<?php endforeach;?>
<?php endforeach;?>
</dl>
