<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
/** @var $this Mage_Sales_Block_Widget_Guest_Form */
?>
<?php if ($this->isEnable()): ?>
    <div class="widget">
        <div class="block block-gr-search">
            <div class="block-title">
                <strong>
                    <span><?php echo $this->__('Orders and Returns') ?></span>
                </strong>
            </div>
            <div class="block-content">
               <form id="oar_widget_orders_and_returns_form" action="<?php echo $this->getActionUrl() ?>" method="post" class="search-form" name="guest_post">
                   <ul class="form-alt">
                       <li>
                           <label class="required"><?php echo Mage::helper('sales')->__('Find Order By:') ?></label>
                           <div class="input-box">
                               <select name="oar_type" id="quick_search_type_id" class="select form-control" title="" onchange="showIdentifyBlock(this.value);">
                                   <?php if(Mage::app()->getLayout()->checkVersion('1.9.3.x')){ ?>
										<option value="email"><?php echo Mage::helper('sales')->__('Email Address') ?></option>
										<option value="zip"><?php echo Mage::helper('sales')->__('ZIP Code') ?></option>
								   <?php }else{ ?>
										<option value="email">Email Address</option>
										<option value="zip">ZIP Code</option>
								   <?php } ?>
                               </select>
                           </div>
                       </li>
                       <li>
                           <label for="oar_order_id" class="required"><?php echo Mage::helper('sales')->__('Order ID') ?> <em>*</em></label>
                           <div class="input-box">
                               <input type="text" class="form-control required-entry" id="oar_order_id" name="oar_order_id"  autocomplete="off" />
                           </div>
                       </li>
                       <li>
                           <label for="oar_billing_lastname" class="required"><?php echo Mage::helper('sales')->__('Billing Last Name') ?> <em>*</em></label>
                           <div class="input-box">
                               <input type="text" class="form-control required-entry" id="oar_billing_lastname" name="oar_billing_lastname" autocomplete="off" />
                           </div>
                       </li>
                       <li id="oar-email">
                           <label for="oar_email" class="required"><?php echo Mage::helper('sales')->__('Email Address') ?> <em>*</em></label>
                           <div class="input-box">
                               <input type="text" class="form-control validate-email required-entry" id="oar_email" name="oar_email" autocomplete="off" />
                           </div>
                       </li>
                       <li id="oar-zip" style="display:none;">
                           <label for="oar_zip" class="required"><?php echo Mage::helper('sales')->__('Billing ZIP Code') ?> <em>*</em></label>
                           <div class="input-box">
                               <input type="text" class="form-control required-entry" id="oar_zip" name="oar_zip" />
                           </div>
                       </li>
                   </ul>
                   <div class="actions">
                       <button type="submit" title="Continue" class="btn btn-default"><span><span><?php echo Mage::helper('sales')->__('Continue') ?></span></span></button>
                   </div>
               </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
//<![CDATA[
    if ($('quick_search_type_id').value == 'zip') {
        $('oar-zip').show();
        $('oar-email').hide();
    } else {
       $('oar-zip').hide();
       $('oar-email').show();
    }
   var dataForm = new VarienForm('oar_widget_orders_and_returns_form', true);
   function showIdentifyBlock(id)
   {
       if (id == 'zip') {
           $('oar-zip').show();
           $('oar-email').hide();
       } else if (id == 'email') {
           $('oar-zip').hide();
           $('oar-email').show();
       }
       return false;
   }
//]]>
</script>
<?php endif; ?>
