<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
 * Authorize confirmation simple template
 *
 * @var $this Mage_Oauth_Block_AuthorizeBaseAbstract
 */
?>
<div class="login-container">
    <div class="login-box">
        <div class="page-title">
            <h2><?php echo $this->__('Confirmation Of Authorization') ?></h2>
        </div>
        <div class="form-box">
            <?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
            <?php if ($this->getVerifier()): ?>
                <h2><?php echo $this->__('Authorization confirmed') ?></h2>
                <p><?php echo $this->__('Give the verifier code to application administrator') ?></p>
                <p style="font-size: 14px;"><?php echo $this->__('Verifier code: %s', $this->getVerifier()) ?></p>
            <?php endif; ?>
            <button type="submit" class="btn btn-default"
                    onclick="window.close();"
                    title="<?php echo $this->__('Close') ?>">
                <span><span><?php echo $this->__('Close') ?></span></span>
            </button>
        </div>
    </div>
</div>
