<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */

/**
 * Authorize rejection simple template
 *
 * @var $this Mage_Oauth_Block_AuthorizeBaseAbstract
 */
?>
<div class="login-container">
    <div class="login-box">
        <div class="page-title">
            <h2><?php echo $this->__('Rejection Of Authorization') ?></h2>
        </div>
        <div class="form-box">
            <div id="messages">
                <?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
            </div>
            <button type="submit" class="btn btn-default" onclick="window.close();" title="<?php echo $this->__('Close') ?>">
                <span><span><?php echo $this->__('Close') ?></span></span>
            </button>
        </div>
    </div>
</div>
