<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php if($this->getWishlist()->getItemsCount()): ?>
    <button type="submit" name="do" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Update Wishlist')); ?>" class="btn btn-default btn-update"><span><span><?php echo $this->__('Update Wishlist') ?></span></span></button>
<?php endif;?>
