<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<div class="block block-account">
	<div class="block-title">
		<strong><span><?php echo $this->__('My Account'); ?></span></strong>
	</div>
	<div class="block-content">
		<ul>
			<?php $_links = $this->getLinks(); ?>
			<?php $_index = 1; ?>
			<?php $_count = count($_links); ?>
			<?php foreach ($_links as $_link): ?>
				<?php $_last = ($_index++ >= $_count); ?>
				<?php if ($this->isActive($_link)): ?>
				<li class="current<?php echo ($_last ? ' last' : '') ?>"><?php echo $_link->getLabel() ?></li>
				<?php else: ?>
				<li<?php echo ($_last ? ' class="last"' : '') ?>><a href="<?php echo $_link->getUrl() ?>"><?php echo $_link->getLabel() ?></a></li>
				<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	</div>
</div>
