<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<span class="hover-image scale"><img <?php echo $this->getImage(); ?> alt="" /></span>
