<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<form id="co-billing-form" action="">
<fieldset>
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide form-group">
            <div class="col-sm-12">
                <label for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
                <?php echo str_replace('class="', 'class="form-control ', $this->getAddressesHtmlSelect('billing')) ?>

            </div>
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <ul>
                <li class="form-group">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                <li class="form-group">
                    <!--
                    <div class="col-sm-6">
                        <label for="billing:company"><?php //echo $this->__('Company') ?></label>

                            <input type="text" id="billing:company" name="billing[company]" value="<?php //echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php //echo Mage::helper('core')->quoteEscape($this->__('Company')); ?>" class="form-control <?php //echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />

                    </div>
                    -->
                    <?php if(!$this->isCustomerLoggedIn()): ?>
                    <div class="field col-sm-6">
                        <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>

                            <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')); ?>" class="form-control validate-email required-entry" />

                    </div>
                    <?php endif; ?>
                </li>
                <li class="address">
                    <ul class="form-group">
                        <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                        <li class="wide col-sm-12">
                            <label for="billing:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>

                                <input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address')); ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="form-control <?php echo $_streetValidationClass ?>" />

                        </li>
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="wide col-sm-12">

                                <input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address %s', $_i)); ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="form-control <?php echo $_streetValidationClass ?>" />

                        </li>
                        <?php endfor; ?>
                    </ul>
                </li>
                <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                <li class="wide form-group">
                    <div class="col-sm-6">
                        <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>

                            <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('VAT Number')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />

                    </div>
                </li>
                <?php endif; ?>
                <!--li class="form-group">
                    <div class="field col-sm-6">
                        <label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zip/Postal Code')) ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="form-control validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                    </div>
                </li-->
                <li class="form-group">
                    <div class="field col-sm-6">
                        <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>

                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="validate-select form-control" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />

                    </div>
                    <div class="field col-sm-6">
                        <label for="billing:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>

                            <input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('City')) ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="billing:city" />

                    </div>
                </li>
                <li class="form-group" style="display:none;">
                    <div class="field col-sm-6">
                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>

                            <?php echo $this->getCountryHtmlSelect('billing') ?>

                    </div>
                </li>
                <li class="form-group">
                    <div class="field col-sm-6">
                        <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>

                            <input type="text" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Telephone')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />

                    </div>
                    <div class="field col-sm-6">
                        <label for="billing:fax"><?php echo $this->__('Fax') ?></label>

                            <input type="text" name="billing[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Fax')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="billing:fax" />

                    </div>
                </li>
                <?php if(!$this->isCustomerLoggedIn()): ?>
                <li class="form-group">
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>

                    <?php if ($_dob->isEnabled()): ?>
                        <div class="gender col-sm-1">
                            <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <div class="dob col-sm-10">
                            <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                        </div>
                    <?php endif ?>
                </li>
                <?php endif ?>
                <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                <?php if ($_taxvat->isEnabled()): ?>
                <li class="form-group">
                    <div class="col-sm-6">
                        <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    </div>
                </li>
                <?php endif ?>
                <li class="fields" id="register-customer-password">
                    <ul class="form-group">
                        <li class="col-sm-6">
                            <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>

                                <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" class="form-control required-entry validate-password" />

                        </li>

                        <li class="col-sm-6">
                            <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>

                            <input type="password" name="billing[confirm_password]" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm Password')) ?>" id="billing:confirm_password" class="form-control required-entry validate-cpassword" />
                        </li>
                    </ul>
                </li>
                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control form-group">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label for="billing:save_in_address_book">
                                    <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save in address book')) ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" />
                                    <?php echo $this->__('Save in address book') ?>
                                </label>
                            </div>
                        </div>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
    </li>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>
    <?php if ($this->canShip()): ?>
        <li class="control">
            <div class="radio">
                <label for="billing:use_for_shipping_yes">
                    <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Ship to this address')) ?>" onclick="$('shipping:same_as_billing').checked = true;" class="radio" />
                    <?php echo  $this->__('Ship to this address') ?>
                </label>
            </div>
        </li>
        <li class="control">
            <?php
            /* Validamos si hay llantas */
            $llantas = 0;
            $cart = Mage::getModel('checkout/cart')->getQuote();
            foreach ($cart->getAllItems() as $item) {
                $name = Mage::getModel('eav/entity_attribute_set')->load($item->getProduct()->getAttributeSetId())->getAttributeSetName();
                if($name == 'Llantas'){
                    $llantas = 1;
                }
            }
            ?>
            <div class="radio">
                <label for="billing:use_for_shipping_no">
                <?php if($llantas == 1): ?>
                    <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Enviar a una dirección diferente o a una serviteca')) ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" />
                    <?php echo $this->__('Enviar a una dirección diferente o a un taller') ?>
                <?php else: ?>
                    <input type="radio" name="billing[use_for_shipping]" id="billing:use_for_shipping_no" value="0"<?php if (!$this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Enviar a una dirección diferente')) ?>" onclick="$('shipping:same_as_billing').checked = false;" class="radio" />
                    <?php echo $this->__('Enviar a una dirección diferente') ?>
                <?php endif; ?>
                </label>
            </div>
        </li>
    <?php endif; ?>
    <li>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
    </li>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>
    <div class="buttons-set clearfix" id="billing-buttons-container">
        <button class="btn btn-default pull-right" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Continue')); ?>" type="button" onclick="billing.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="billing-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Loading next step...') ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
    <?php echo $this->getBlockHtml('formkey'); ?>
</fieldset>
</form>
<script type="text/javascript">
//<![CDATA[
    var billing = new Billing('co-billing-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-billing-form');
    //billingForm.setElementsRelation('billing:country_id', 'billing:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
//]]>
</script>
