<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<form id="co-shipping-method-form" action="" class="form-horizontal">
	<div id="checkout-shipping-method-load">
        <?php echo $this->getChildHtml('available') ?>
	</div>
	<script type="text/javascript">
	//<![CDATA[
		var shippingMethod = new ShippingMethod('co-shipping-method-form', "<?php echo $this->getUrl('checkout/onepage/saveShippingMethod') ?>");
	//]]>
	</script>
	<div id="onepage-checkout-shipping-method-additional-load">
		<?php echo $this->getChildHtml('additional') ?>
	</div>
	<div class="buttons-set clearfix" id="shipping-method-buttons-container">
		<p class="back-link pull-left"><a href="#" onclick="checkout.back(); return false;"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
		<button type="button" class="btn btn-default pull-right" onclick="shippingMethod.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
		<span id="shipping-method-please-wait" class="please-wait" style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
	</div>
    <?php echo $this->getBlockHtml('formkey') ?>
</form>
