<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<form action="" id="co-shipping-form" class="form-horizontal">
	<ul class="form-list">
		<?php if ($this->customerHasAddresses()): ?>
		<li class="wide form-group">
			<div class="col-sm-12">
				<label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
				<?php echo str_replace('class="', 'class="form-control ', $this->getAddressesHtmlSelect('shipping')) ?>
			</div>
		</li>
		<?php endif ?>
		<li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
			<fieldset>
				<input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
				<ul class="clearfix">
					<li class="form-group">
						<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->setFieldParams('onchange="shipping.setSameAsBilling(false)"')->toHtml() ?>
					</li>
					<li class="form-group">
						<div class="fields col-sm-6">
							<label for="shipping:company"><?php echo $this->__('Company') ?></label>
							<input type="text" id="shipping:company" name="shipping[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Company')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" onchange="shipping.setSameAsBilling(false);" />
						</div>
					</li>
					<li class="address">
						<ul class="form-group">
						<?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
							<li class="wide col-sm-12">
								<label for="shipping:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
								<input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address')) ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="form-control <?php echo $_streetValidationClass ?>" onchange="shipping.setSameAsBilling(false);" />
							</li>
							<?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
							<?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
							<li class="wide col-sm-12">
								<input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address %s', $_i)) ?>" name="shipping[street][]" id="shipping:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="form-control <?php echo $_streetValidationClass ?>" onchange="shipping.setSameAsBilling(false);" />
							</li>
							<?php endfor; ?>
						</ul>
					</li>
					<?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
					<li class="wide form-group">
						<div class="col-sm-12">
							<label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
							<input type="text" id="shipping:vat_id" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('VAT Number')); ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
						</div>
					</li>
					<?php endif; ?>
					<li class="form-group" style="display: none">
						<!--div class="field col-sm-6">
							<label for="shipping:postcode" class="required"><em>*</em><?php //echo $this->__('Zip/Postal Code') ?></label>
							<input type="text" title="<?php //echo Mage::helper('core')->quoteEscape($this->__('Zip/Postal Code')) ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php //echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="form-control validate-zip-international <?php //echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" onchange="shipping.setSameAsBilling(false);" />
						</div-->
						<div class="field col-sm-6">
							<label for="shipping:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
							<?php echo str_replace('class="', 'class="form-control ', $this->getCountryHtmlSelect('shipping')) ?>
						</div>
					</li>
					<li class="form-group">
						<div class="field col-sm-6">
							<label for="shipping:region" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
							<select id="shipping:region_id" name="shipping[region_id]" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="validate-select form-control" style="display:none;">
								<option value=""><?php echo $this->__('Please select region, state or province') ?></option>
							</select>
							<script type="text/javascript">
							//<![CDATA[
								$('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
							//]]>
							</script>
							<input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
						</div>
						<div class="field col-sm-6">
							<label for="shipping:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
							<input type="text" title="<?php echo Mage::helper('core')->quoteEscape($this->__('City')) ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="shipping:city" onchange="shipping.setSameAsBilling(false);" />
						</div>
					</li>
					<li class="form-group">
						<div class="field col-sm-6">
							<label for="shipping:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
							<input type="text" name="shipping[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Telephone')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" onchange="shipping.setSameAsBilling(false);" />
						</div>
						<div class="field col-sm-6">
							<label for="shipping:fax"><?php echo $this->__('Fax') ?></label>
							<input type="text" name="shipping[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Fax')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>" id="shipping:fax" onchange="shipping.setSameAsBilling(false);" />
						</div>
					</li>
					<?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
					<li class="control">
						<div class="checkbox">
							<label for="shipping:save_in_address_book">
								<input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save in address book')) ?>" id="shipping:save_in_address_book" onchange="shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" />
								<?php echo $this->__('Save in address book') ?>
							</label>
						</div>
					</li>
					<?php else:?>
					<li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
					<?php endif;?>
				</ul>
			</fieldset>
		</li>
		<li class="control" id="same_as_billing_control">
			<div class="checkbox">
				<label for="shipping:same_as_billing">
					<input type="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing" value="1"<?php if($this->getAddress()->getSameAsBilling()): ?> checked="checked"<?php endif; ?> title="<?php echo Mage::helper('core')->quoteEscape($this->__('Use Billing Address')) ?>" onclick="shipping.setSameAsBilling(this.checked)" class="checkbox" />
					<?php echo $this->__('Use Billing Address') ?>
				</label>
			</div>
		</li>

        <?php
        /* Validamos si hay llantas */
        $llantas = 0;
        $cart = Mage::getModel('checkout/cart')->getQuote();
        foreach ($cart->getAllItems() as $item) {
            $name = Mage::getModel('eav/entity_attribute_set')->load($item->getProduct()->getAttributeSetId())->getAttributeSetName();
            if($name == 'Llantas'){
                $llantas = 1;
            }
        }
        ?>
        <?php if($llantas == 1): ?>

            <?php # ENVIAR A UNA SERVITECA ?>
            <?php $collection = Mage::getModel('serviteca/serviteca')->getCollection(); ?>
            <?php $servitecas_block = $this->getLayout()->getBlockSingleton('Np_Serviteca_Block_Page'); ?>

            <?php if(count($collection)): ?>

                <li class="control servitecas_control">

                    <div class="checkbox">
                        <label for="shipping_serviteca">
                            <input type="checkbox" name="shipping_serviteca" id="shipping_serviteca" value="1" title="<?php echo $this->__('Enviar a un taller') ?>" onclick="shipping.showServitecas(this.checked)" class="checkbox" />
                            <?php echo $this->__('Enviar a un taller') ?>
                        </label>
                    </div>

                    <div id="servitecas_list" class="list_hidden">
                        <label for="lista_servitecas"><?php echo $this->__('Selecciona el taller') ?></label>
                        <select name="lista_servitecas" id="lista_servitecas" onchange="shipping.setServitecaAddress(this.value);">
                            <option value=""></option>
                            <?php foreach($collection as $serviteca): ?>
                                <?php if($serviteca->getData('is_active')): ?>
                                    <option value="<?php echo $serviteca->getId() ?>"><?php echo $serviteca->getNombre() ?> | <?php echo $serviteca->getDireccion() ?> | <?php echo $serviteca->getCiudad() ?></option>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div id="loading_servitecas_data" class="please-wait weiting_hidden"><img class="v-middle" title="Cargando el siguiente paso..." alt="Cargando el siguiente paso..." src="https://www.neumarket.com/skin/frontend/gproxy/neumarket/images/opc-ajax-loader.gif"> Cargando direcci&oacute;n</div>

                </li>
            <?php endif; ?>
            <?php # END ?>

        <?php endif; ?>
        <li>
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        </li>
	</ul>

    <?php if($llantas == 1): ?>
        <div id="buscador-servitecas" class="list_hidden">


            <?php $ciudades_availables = $servitecas_block->getCiudades(); ?>
            <div class="servitecas-left">
                <?php if(count($ciudades_availables)): ?>
                    <div class="ciudad-selector">
                        <span>Ciudad</span>
                        <select id="select-ciudad">
                            <option value="seleccionar" selected="selected">Seleccionar</option>
                            <?php
                            foreach($ciudades_availables as $ciudad):
                                if($ciudad != ''):
                                    $serviteca_by_ciudad = $servitecas_block->getServitecaByCiudad($ciudad);
                                    if (count($serviteca_by_ciudad) > 0):
                                        echo '<option value="'.strtolower( str_replace(' ', '-', $ciudad) ).'">'.$ciudad.'</option>';
                                    endif;
                                endif;
                            endforeach;
                            ?>
                        </select>
                    </div>
                    <div class="serviteca-list">
                        <?php $i = 0; ?>
                        <?php foreach($ciudades_availables as $ciudad): ?>
                            <?php if($ciudad != ''): ?>
                                <?php $serviteca_by_ciudad = $servitecas_block->getServitecaByCiudad($ciudad); ?>
                                <?php foreach($serviteca_by_ciudad as $serviteca): ?>
                                    <?php if($serviteca->getData('is_active')): ?>
                                        <div id="<?php echo $i ?>" class="serviteca-item" data-city="<?php echo strtolower( str_replace(' ', '-', $ciudad) ); ?>" data-serviteca-id="<?php echo $serviteca->getId(); ?>">
                                            <span class="serviteca-nombre"><?php echo $serviteca->getNombre(); ?></span>
                                            <span><?php echo $serviteca->getDireccion(); ?></span>
                                        </div>
                                        <?php $i++; ?>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </div>

                    <ul class="form-list">
                        <li class="fields">
                            <div class="field">
                                <label for="shipping:placa"><?php echo $this->__('Placa del Vehículo') ?></label>
                                <div class="input-box">
                                    <input type="text" name="shipping[placa]" value="<?php echo $this->escapeHtml($this->getAddress()->getPlaca()) ?>" title="<?php echo $this->__('Placa del Vehículo') ?>" class="input-text" id="shipping:placa" />
                                </div>
                            </div>
                        </li>
                    </ul>

                    <script type="text/javascript">
                        function generate_maps() {
                            var markers = []
                            var mapOptions = {
                                center: new google.maps.LatLng(4.719120, -74.054787),
                                zoom: 12,
                                panControl: true,
                                zoomControl: true,
                                zoomControlOptions: {
                                    style: google.maps.ZoomControlStyle.SMALL,
                                    position: google.maps.ControlPosition.LEFT_CENTER
                                },
                                scaleControl: true,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                            var infowindow = new google.maps.InfoWindow();
                            var bounds = new google.maps.LatLngBounds();

                            <?php $i = 0; ?>
                            <?php foreach($ciudades_availables as $ciudad): ?>
                            <?php if($ciudad != ''): ?>
                            <?php $serviteca_by_ciudad = $servitecas_block->getServitecaByCiudad($ciudad); ?>
                            <?php foreach($serviteca_by_ciudad as $serviteca): ?>
                            <?php if($serviteca->getData('is_active')): ?>
                            var content = "<strong style='font-size:16px'><?php echo $serviteca->getNombre(); ?></strong>" + "<br/>" + "<?php echo $serviteca->getDireccion(); ?>" + "<br/>" + "<?php echo $serviteca->getDescr(); ?>";
                            var myLatlng = new google.maps.LatLng(<?php echo $serviteca->getLat(); ?>, <?php echo $serviteca->getLng(); ?>);
                            createmarker(<?php echo $i ?>, myLatlng, content);
                            bounds.extend(myLatlng);
                            <?php $i++; ?>
                            <?php endif; ?>
                            <?php endforeach; ?>
                            <?php endif; ?>
                            <?php endforeach; ?>
                            map.fitBounds(bounds);


                            jQuery('#select-ciudad').bind('change', function () {
                                jQuery('#select-ciudad option[value="seleccionar"]').remove();
                                var bounds = new google.maps.LatLngBounds();
                                var val_selectet = jQuery(this).val();
                                if (val_selectet != '') {
                                    jQuery('.serviteca-item').each(function () {
                                        if (jQuery(this).data('city') != val_selectet) {
                                            jQuery(this).hide();
                                        } else {
                                            jQuery(this).fadeIn(200);
                                            var markerNum = jQuery(this).attr('id');
                                            bounds.extend(markers[markerNum].position);
                                        }
                                    });
                                }
                                map.fitBounds(bounds);
                            });

                            function createmarker(num, latlng, html) {
                                var marker = new google.maps.Marker({
                                    position: latlng,
                                    map: map
                                });
                                google.maps.event.addListener(marker, 'click', function () {
                                    infowindow.setContent(html);
                                    infowindow.open(map, marker);
                                    jQuery('.serviteca-item').removeClass('selected');
                                    jQuery('.serviteca-list span').animate({
                                        marginLeft: "0px"
                                    }, 50, function () {
                                        // Animation complete.
                                    });
                                    jQuery('.serviteca-list #' + num + ' span').animate({
                                        marginLeft: "5px"
                                    }, 50, function () {
                                        // Animation complete.
                                    });
                                    jQuery('.serviteca-list #' + num).addClass('selected');

                                });
                                markers.push(marker);
                            };

                            jQuery('.serviteca-item').click(function () {
                                var markerNum = jQuery(this).attr('id');
                                google.maps.event.trigger(markers[markerNum], 'click');
                                map.setZoom(15);
                                map.panTo(markers[markerNum].position);
                                shipping.setServitecaAddress(jQuery(this).data('serviteca-id'));
                            });

                            google.maps.event.addListener(infowindow, 'closeclick', function () {
                                jQuery('.serviteca-item').removeClass('selected');
                            });
                        };
                    </script>
                <?php endif; ?>
            </div>

            <div id="map_canvas" class="servitecas-right"></div>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCikl1WH6Q9vHLm2i9-llkZj8-fPmL8qgU&language=es"></script>
        </div>
    <?php endif; ?>

	<div class="buttons-set clearfix" id="shipping-buttons-container">
		<p class="back-link pull-left"><a href="#" onclick="checkout.back(); return false;"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
		<button type="button" class="btn btn-default pull-right" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Continue')) ?>" onclick="shipping.save()"><span><span><?php echo $this->__('Continue') ?></span></span></button>
		<span id="shipping-please-wait" class="please-wait" style="display:none;">
			<img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Loading next step...')) ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
		</span>
	</div>
    <?php echo $this->getBlockHtml('formkey') ?>
</form>
<script type="text/javascript">
//<![CDATA[
    var shipping = new Shipping('co-shipping-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveShipping') ?>',
        '<?php echo $this->getUrl('checkout/onepage/shippingMethod') ?>');
    var shippingForm = new VarienForm('co-shipping-form');
    shippingForm.extraChildParams = ' onchange="shipping.setSameAsBilling(false);"';
    //shippingForm.setElementsRelation('shipping:country_id', 'shipping:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo Mage::helper('core')->jsQuoteEscape($this->__('Select State/Province...')) ?>');
    $('shipping-address-select') && shipping.newAddress(!$('shipping-address-select').value);
    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
//]]>
</script>
