.mw-fg-cart-title{
    border: 1px solid #c5c4c4;
    border-bottom: 0px none;
    background: #fff url(../images/bkg-title-cart.gif) repeat-x left bottom;
    color: #0A263C;
    font-size: 12px;
}
.mw-fg-cart-title strong{
    display: block;
    background: url(../images/bkg-gifr-cart.png) no-repeat 9px 9px;
    padding: 10px 40px;
}
.jcarousel-skin-tango .jcarousel-container {
    background: #fff;
    border: 1px solid #c5c4c4;
	margin-bottom: 15px;
	border-top: 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 859px;
    padding: 0px 20px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
	border: 0;
	background: 0;
    width: 150px;
    height: 420px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 190px;
    padding-top:20px;
}

.jcarousel-clip ul{
	overflow: visible !important;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  150px;
    height: 420px;
}

.jcarousel-skin-tango .jcarousel-item {
   /* width: 80px;
    height: 270px;*/
}

.jcarousel-skin-tango .jcarousel-item  .product-shop{
	text-align: center;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 27px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 90px;
    right: 5px;
    width: 40px;
    height: 39px;
    cursor: pointer;
    background: transparent url(../images/bkg-left-slider.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	background: transparent url(../images/bkg-right-slider-active.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
	background: transparent url(../images/bkg-right-slider-active.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background: transparent url(../images/bkg-right-slider-active.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
	background: none;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 90px;
    left: 5px;
    width: 40px;
    height: 39px;
    cursor: pointer;
    background: url(../images/bkg-right-slider.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	background: transparent url(../images/bkg-left-slider-active.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
	background: transparent url(../images/bkg-left-slider-active.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	background: transparent url(../images/bkg-left-slider-active.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	background:none;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 80px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
#freegift .product-name{
	color: #203548;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
}
#freegift .product-name a{
	color: #203548;
}
.freegift_container{
	border: 1px #d3d3d3 solid; padding: 5px;
}
.freegift_container ul,.freegift_container ol{
	list-style: none outside none;
}
.freegift_container li{
	float: left; width: 100px;
}
.mw-fg-catalog-list{border-top: 1px dotted #7b7b7b; border-bottom: 1px dotted #7b7b7b; padding: 5px 0px 5px 0px; text-align: left; margin: 10px 0px; clear: both;}
.freegift_header{margin-bottom: 5px;}
.freegift_header h5{font-size: 12px; font-weight: bold; margin:0; color: #0a263c;}
.freegift_catalog_container{}
.freegift_catalog_container .product-image{float: left; height: auto !important; width: auto !important; margin:5px 5px 5px 0px;;}
.freegift_catalog_container .product-image img{border: 1px solid #dfdfdf;}
#freegift li{position: relative; float: left;margin: 10px 10px;}
.mw-fg-item{display: none; position: absolute; padding: 10px; border: 1px solid #c5c4c4; background-color: #fff; z-index: 999; top: 47px; left: 0px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; box-shadow: 1px 1px 3px 1px #c5c4c4; color: #2f2f2f; text-align: left;}
.mw-fg-item p{margin-bottom: 5px;}
.mw-fg-item p.mw-fg-item-name a{color: #2f2f2f; text-decoration: none; font-weight: bold;}
.mw-fg-item p.mw-fg-item-name a:hover{color: #2f2f2f; text-decoration: underline;}
.mw-fg-item p.mw-fg-image-item{margin-bottom: 10px; text-align: center;}
.mw-fg-item-option-title{border-bottom: 1px dotted #959595; color: #2f2f2f; font-weight: bold; font-style: italic; font-size: 12px; padding: 0px 0px 5px 0px; margin-bottom: 5px;}

.mw-fg-catalog-product{border-bottom: 0px none; padding: 12px 0px 5px 0px;}
.mw-fg-catalog-product .freegift_catalog_container .product-image img{padding: 8px;}
.mw-fg-catalog-product .freegift_header { margin-bottom: 12px;}
.mw-fg-catalog-product .mw-fg-item{ top: 100px;}

.jcarousel-skin-tango .jcarousel-item .mw-fg-item{ left: 95%; min-width: 210px; top: 15%;}


.free-icon{
	position: absolute;
	width: 45px;
	height: 45px;
	background-image: url("../images/freegift_50.png");
	top: 0px;
	z-index: 999;
	left: 0px;
}

.old-price .price{
	text-decoration: line-through;
}
.freegift_rules_container{
    height: 40px;
    background: #EFF5EA;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #3D6611;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width: 100%;
    box-shadow: 0 0 2px 1px #446423;
    display: none;
}
.freegift_rules_banner_container{
    width: 900px;    
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: none;
}

.freegift_rules_banner_onepage_container{
    width: 683px;    
    background: #FCE3E6;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
}
.freegift_rules_onepage_container{
    width: 683px;     
    background: #FCE3E6;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;    
    margin-bottom: 10px;
    border: 1px solid #d3d3d3; 
    
}
.freegift-vetical{margin: 0px;}
.freegift-vetical li{clear: both; padding: 7px 9px; float: none !important;}
.mw-block-freegift ul#freegift li .product-image{float: left; width: 50px; margin: 10px 0px 0px 0px;}
.mw-block-freegift ul#freegift li .product-image img{border: 1px solid #A9A9A9;}
.freegift-vetical li .product-shop{margin-left: 60px;}
.freegift-vetical li .product-shop p{margin-bottom: 0px;}
.freegift-vetical li .product-shop .price-box{margin: 1px 0px;}
.mw-block-freegift ul#freegift li .product-name{margin-bottom: 0px; padding: 0px; font-size: 11px; font-weight: normal;}
.mw-block-freegift ul#freegift li .product-name a{color: #1E7EC8; font-size: 11px; font-weight: normal;}
.category-products .product-image {
    position: relative;
}
.label-freegift{
    position: absolute;
    top: 0;
    right: 0;
}


.product-view .product-shop{
	position: relative;
}
.labelfreegift-productdetails {
	position: absolute; right: 0px; top: 0px;
}
div.htmltooltip{
background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    left: -1000px;
    padding: 8px;
    position: absolute;
    top: -1000px;
    width: 250px;
    z-index: 999;
}
#freegift .product-image{
	float: left;
}
#freegift .product-image img{border: 1px solid #e9e8e8;}

/* Data Table */
.data-table { width:100%; border:1px solid #bebcb7; }
.data-table .odd  { background:#f8f7f5 }
.data-table .even { background:#eeeded; }
/*.data-table tr.odd:hover,
.data-table tr.even:hover { background:#ebf1f6; }*/
.data-table td.last,
.data-table th.last { border-right:0; }
.data-table tr.last th,
.data-table tr.last td { border-bottom:0 !important; }
.data-table th { padding:3px 8px; font-weight:bold; }
.data-table td { padding:3px 8px; }

.data-table tbody th,
.data-table tbody td { border-bottom:1px solid #d9dde3; border-right:1px solid #d9dde3; }
/* Bundle products tables */
.data-table tbody.odd tr { background:#f8f7f5 !important; }
.data-table tbody.even tr { background:#f6f6f6 !important; }
.data-table tbody.odd tr td,
.data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }
