<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
?>
<?php
/**
 * Create account form template
 *
 * @var $this Mage_Customer_Block_Form_Register
 */
?>
<div class="account-create">
    <div class="page-title">
        <h2><?php echo $this->__('Create an Account') ?></h2>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo (Mage::app()->getLayout()->checkVersion(array('1.9.1.x', '1.9.2.x', '1.9.3.x')) ? $this->getMessagesBlock()->toHtml() : $this->getMessagesBlock()->getGroupedHtml()); ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.register.extra')?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate" class="form-horizontal">
        <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
        <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
        <?php //if(Mage::app()->getLayout()->checkVersion(array('1.9.2.2', '1.9.3.x'))){ ?>
            <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <?php //} ?>
        <div class="content">
            <h2><?php echo $this->__('Personal Information') ?></h2>
        </div>
        <ul class="form-list clearfix">
            <li class="fields form-group">
                <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
            </li>
            <li class="form-group">
                <div class="col-sm-5 col-lg-4">
                <label for="email_address" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                <input type="text" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email Address')) ?>" class="form-control validate-email required-entry" />
                </div>
            </li>
        <?php if ($this->isNewsletterEnabled()): ?>
            <li class="control form-group">
                <div class="col-xs-12">
                <div class="checkbox">
                    <label for="is_subscribed">
                        <input type="checkbox" name="is_subscribed" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign Up for Newsletter')) ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                        <?php echo $this->__('Sign Up for Newsletter') ?>
                    </label>
                </div>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?php echo $this->getChildHtml('customer.form.register.newsletter')?>
            </li>
        <?php endif ?>
            <div class="form-group">
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <li class="gender col-sm-1"><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
        <?php endif ?>
        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <li class="customer-dob col-sm-10 col-lg-8"><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
        <?php endif ?>
            </div>
        <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <li class="form-group">
                <div class="col-sm-5 col-lg-4">
                    <?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?>
                </div>
            </li>
        <?php endif ?>
        </ul>
    <?php if(!$this->getShowAddressFields()): ?>
        <input type="hidden" name="create_address" value="1" />
		<div class="content">
			<h2><?php echo $this->__('Address Information') ?></h2>
		</div>
		<ul class="form-list form-group">
			<li class="clearfix">
				<div class="col-sm-5 col-lg-4">
                    <label for="company"><?php echo $this->__('Company') ?></label>
                    <input type="text" name="company" id="company" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Company')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>" />
                </div>
				<div class="col-sm-5 col-lg-4">
                    <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                    <input type="text" name="telephone" id="telephone" value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Telephone')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>" />
                </div>
            </li>
            <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
			<li class="wide col-sm-10 col-lg-8">
                <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?></label>
                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(1)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address')) ?>" id="street_1" class="form-control <?php echo $_streetValidationClass ?>" />
            </li>
            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
            <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
			<li class="wide col-sm-10 col-lg-8">
                <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i)) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Street Address %s', $_i)) ?>" id="street_<?php echo $_i ?>" class="form-control <?php echo $_streetValidationClass ?>" />
            </li>
            <?php endfor; ?>
			<li class="col-sm-10 col-lg-8">
				<div class="row">
					<div class="col-sm-6">
                        <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <input type="text" name="postcode" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Zip/Postal Code')) ?>" id="zip" class="form-control validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>" />
                    </div>
					<div class="col-xs-12 col-sm-5">
                        <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
						<?php echo str_replace('class="', 'class="form-control ', $this->getCountryHtmlSelect()); ?>
                    </div>
                </div>
            </li>
			<li class="col-sm-10 col-lg-8">
				<div class="row">
					<div class="col-sm-6">
                        <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <select id="region_id" name="region_id" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="validate-select form-control" style="display:none;">
                            <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                        </select>
                        <script type="text/javascript">
                        //<![CDATA[
                            $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                        //]]>
                        </script>
                        <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('State/Province')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                    </div>
					<div class="col-sm-6">
						<label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
						<select id="city_id" name="city_id" title="<?php echo $this->__('City') ?>" class="validate-select form-control" style="display:none;">
							<option value=""><?php echo $this->__('Please select City') ?></option>
						</select>
						<script type="text/javascript">
							//<![CDATA[
								$('city_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getCityId() ?>");
							//]]>
						</script>
						<input type="text" name="city" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"  title="<?php echo Mage::helper('core')->quoteEscape($this->__('City')) ?>" class="form-control <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>" id="city" />
					</div>
                </div>
            </li>
        </ul>
        <input type="hidden" name="default_billing" value="1" />
        <input type="hidden" name="default_shipping" value="1" />
    <?php endif; ?>
		<div class="content">
			<h2><?php echo $this->__('Login Information') ?></h2>
		</div>
		<ul class="form-list form-group">
			<li class="col-sm-5 col-lg-4">
                <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                <input type="password" name="password" id="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" class="form-control required-entry validate-password" />
            </li>
			<li class="col-sm-5 col-lg-4">
                <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                <input type="password" name="confirmation" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm Password')) ?>" id="confirmation" class="form-control required-entry validate-cpassword" />
            </li>
            <?php echo $this->getChildHtml('form.additional.info'); ?>
			<li class="col-xs-4 pull-right">
				<p class="required"><?php echo $this->__('* Required Fields') ?></p>
			</li>
        </ul>
        <div class="buttons-set clearfix">
            <p class="back-link pull-left"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Submit')) ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
		new CityUpdater('country', 'region_id', 'city', 'city_id', <?php echo Mage::helper('improvedaddress')->getCityJson() ?>);
        <?php endif; ?>
    //]]>
    </script>
</div>
