<?php
/**
 * @package     porter
 * @copyright   Copyright (c) 2010-2015 MeigeeTeam. (http://www.meigeeteam.com)
 */
$catalogModeWrapper = $this->getLayout()->getMConfigResultByAlias('catalog_mode');
$catalogMode = $catalogModeWrapper['value']['sv2']['value'];
?>

<?php  $_order = $this->getOrder() ?>
<?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
    <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" title="<?php echo $this->__('Subscribe to Order Status'); ?>" class="link-rss f-none"><span class="hidden-sm hidden-xs"><?php echo $this->__('Subscribe to Order Status') ?></span></a>
    <span class="separator">|</span>
<?php endif; ?>
<?php if ($this->helper('sales/reorder')->canReorder($_order) && $catalogMode == 0) : ?>
    <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
    <span class="separator">|</span>
<?php endif ?>
<a href="<?php echo $this->getPrintUrl($_order) ?>" title="<?php echo $this->__('Print Order') ?>" class="link-print" onclick="this.target='_blank';"><i class="icon-printer"></i><span class="hidden-sm hidden-xs"><?php echo $this->__('Print Order') ?></span></a>
<?php echo $this->getChildHtml(); ?>
